<ul>
    <li>頁面下方的橫跨按鈕，通常在設定頁面出現，例如 管理員設定 和 商店設定 相關頁面。</li>
    <li>如果在按鈕下方需要加入訊息，以 <code>div.message</code> 放置。</li>
    <li>在整個橫跨區域上方的訊息，在上方以 <code>div.message-above-action</code> 放置。</li>
</ul>
<pre class="language-markup" prism><code><xmp>
<div class="message-above-action">橫跨按鈕上方訊息</div>
<div class="action-container">
    <div class="action">
        <input type="button" class="k-button k-primary btn-main" value="主要功能按鈕"/>
    </div>
    <div class="message">按鈕下方訊息內容 (optional)</div>
</div></xmp></code></pre>
<div class="message-above-action">橫跨按鈕上方訊息</div>
<div class="action-container">
    <div class="action">
        <input type="button" class="k-button k-primary btn-main" value="主要功能按鈕"/>
    </div>
    <div class="message">按鈕下方訊息內容 (optional)</div>
</div>