<p>此例子為有一個文字輸入框的表單，以此說明表單基本 html 結構和驗證。</p>
<div class="example">
    <form name="exampleForm" novalidate class="form-horizontal"
          ng-submit="FormBasicCtrl.Submit(exampleForm)">
        <div class="form-group">
            <label ns-required-star class="col-sm-2 control-label">中文姓名</label>
            <div class="col-sm-10">
                <input type="text" class="form-control with-word-count-tenth"
                       placeholder="請輸入中文姓名"
                       required
                       name="CompanyOwner"
                       minlength="2"
                       maxlength="10"
                       ng-maxlength="10"
                       ng-pattern="FormBasicCtrl.RegexPattern.ZhCharacter"
                       ng-class="{'input-error': exampleForm.$submitted && exampleForm.CompanyOwner.$invalid}"
                       ng-model="FormBasicCtrl.ExampleFormData.CompanyOwner">
                <ns-character-count></ns-character-count>
                <!--錯誤訊息-->
                <div ng-class="{'show-message': exampleForm.$submitted && exampleForm.CompanyOwner.$invalid}"
                     ng-messages="exampleForm.CompanyOwner.$error"
                     class="error-message">
                    <div ng-message="minlength">最少輸入2個字</div>
                    <div ng-message="pattern">請填寫中文</div>
                    <div ng-messages-include="/sample_uxdoc_mapping/errorMessage.html"></div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label ns-required-star class="col-sm-2 control-label">網頁標題<br>(Title)
                <i class="fa fa-question-circle"
                   kendo-tooltip=""
                   k-position="'top'"
                   k-content="'<img src=\'/Content/images/shopDetails/tip_title.png\' width=\'200\' height=\'150\'>'"
                   data-role="tooltip">
                </i>
            </label>
            <div class="col-sm-10">
                <div class="note-on-top bootstrap-top-spacing">
                    • 顯示於搜尋結果的名稱，建議使用商店名稱<br>
                    • 建議輸入30個中文字以內
                </div>
                <input type="text"
                       class="form-control with-word-count-tenth"
                       placeholder="請輸入標題"
                       maxlength="60" ng-maxlength="60"
                       required
                       name="PageTitle"
                       ng-class="{'input-error': exampleForm.$submitted && exampleForm.PageTitle.$invalid}"
                       ng-model="FormBasicCtrl.ExampleFormData.PageTitle">
                <ns-character-count></ns-character-count>
                <!--錯誤訊息-->
                <div ng-class="{'show-message': exampleForm.$submitted && exampleForm.PageTitle.$invalid}"
                     ng-messages="exampleForm.PageTitle.$error"
                     class="error-message">
                    <div ng-messages-include="/sample_uxdoc_mapping/errorMessage.html"></div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12 align-center">
                <input type="submit" class="k-button k-primary btn-main" value="送出"/>
            </div>
        </div>
    </form>
</div>
<hr>
<h4 class="toggle-trigger collapsed" data-toggle="collapse" href="#basicFormHtml">html<span class="trigger-indicator"></span></h4>
<pre class="language-markup line-numbers collapse" id="basicFormHtml" prism><code><xmp>
<form name="exampleForm" novalidate class="form-horizontal" ng-submit="FormBasicCtrl.Submit(exampleForm)">
    <div class="form-group">
        <label ns-required-star class="col-sm-2 control-label">中文姓名</label>
        <div class="col-sm-10">
            <input type="text" class="form-control with-word-count-tenth"
                   name="CompanyOwner"
                   required
                   minlength="2"
                   maxlength="10"
                   ng-maxlength="10"
                   ng-pattern="FormBasicCtrl.RegexPattern.ZhCharacter"
                   ng-class="{'input-error': exampleForm.$submitted &#38;&#38; exampleForm.CompanyOwner.$invalid}"
                   ng-model="FormBasicCtrl.ExampleFormData.CompanyOwner">
            <ns-character-count></ns-character-count>
            <!--錯誤訊息-->
            <div ng-class="{'show-message': exampleForm.$submitted &#38;&#38; exampleForm.CompanyOwner.$invalid}"
                 ng-messages="exampleForm.CompanyOwner.$error"
                 class="error-message">
                <div ng-message="minlength">最少輸入2個字</div>
                <div ng-message="pattern">請填寫中文</div>
                <div ng-messages-include="/sample_uxdoc_mapping/errorMessage.html"></div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label ns-required-star class="col-sm-2 control-label">網頁標題<br>(Title)
            <i class="fa fa-question-circle"
               kendo-tooltip=""
               k-position="'top'"
               k-content="'<img src=\'/Content/images/shopDetails/tip_title.png\' width=\'200\' height=\'150\'>'"
               data-role="tooltip">
            </i>
        </label>
        <div class="col-sm-10">
            <div class="note-on-top bootstrap-top-spacing">
                • 顯示於搜尋結果的名稱，建議使用商店名稱<br>
                • 建議輸入30個中文字以內
            </div>
            <input type="text"
                   class="form-control with-word-count-tenth"
                   placeholder="請輸入標題"
                   maxlength="60" ng-maxlength="60"
                   required
                   name="PageTitle"
                   ng-class="{'input-error': exampleForm.$submitted && exampleForm.PageTitle.$invalid}"
                   ng-model="FormBasicCtrl.ExampleFormData.PageTitle">
            <ns-character-count></ns-character-count>
            <!--錯誤訊息-->
            <div ng-class="{'show-message': exampleForm.$submitted && exampleForm.PageTitle.$invalid}"
                 ng-messages="exampleForm.PageTitle.$error"
                 class="error-message">
                <div ng-messages-include="/sample_uxdoc_mapping/errorMessage.html"></div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-12 align-center">
            <input type="submit" class="k-button k-primary btn-main" value="送出"/>
        </div>
    </div>
</form></xmp></code></pre>
<hr>
<h4>from</h4>
<ul class="param-desc">
    <li>表單名稱採用駝峰式命名法 (如 <code>exampleForm</code>)</li>
    <li>利用 <code>form</code>上的 <code>ng-submit</code> 送出表單資料，加上 <code>novalidate</code>
        關掉瀏覽器預設驗證，不加會顯示瀏覽器原本預設驗證而不是所寫的驗證訊息。
    </li>
</ul>
<hr>
<h4>form-group</h4>
<h5>每組 label + 輸入區塊</h5>
<ul class="param-desc">
    <li>每一個欄位基本架構
        <pre class="language-markup" prism><xmp>
<div class="form-group">
    <label ns-required-star class="col-sm-2 control-label">欄位名稱放這裡</label>
    <div class="col-sm-10">欄位和錯誤訊息放這裡</div>
</div></xmp></pre>
    </li>
    <li><code>label</code>上的<code>ns-required-star</code>搭配 <code>input</code>的 <code>required</code>表示必填
    </li>
    <li><code>label</code>的 class <code>col-sm-2 control-label</code>和 <code>div</code> 的 class <code>col-sm-10</code>
        建構表單的對齊樣式。
    </li>
    <li>line 26 顯示加上折行 (<code>&lt;br&gt;</code>) 的表單欄位，搭配 <code>Tooltip</code> (Tooltip 使用方式參考 <a ui-sref="element.tooltip">Tooltip 元件</a>)。</li>
</ul>
<hr>
<h4>文字輸入 text input</h4>
<ul class="param-desc">
    <li>各種 input 參考 <a ui-sref="element.input">文字輸入框</a></li>
    <li><code>input</code>的class <code>form-control</code> 給予樣式，<code>with-word-count-tenth</code>是讓字數統計會在同一行。
    </li>
    <li><code>maxlength="10" ng-maxlength="10"</code>最多字數，超過無法輸入，搭配 ns-character-count 顯示最多輸入字數</li>
    <li><code>minlength=2</code> 最少字數限制</code></li>
    <li><code>ng-pattern</code>欄位驗證的 regular expression，對應的錯誤訊息在下方
        <code>ng-message="pattern"</code>。可使用 Regex 列表在
        <a href="/sample_uxdoc_mapping/#/utility/regex" target="_blank">Regex元件說明</a>，記得 <a
                href="/sample_uxdoc_mapping/#/index" target="_blank">使用元件要先引用元件，將其注入到controller</a>。
    </li>
    <li><code>ng-clss</code>裡的判斷是輸入驗證不過時會顯示紅框的 class，其中exampleForm 是form表單的name，CompanyOwner是此
        input 的 name。
    </li>
    <li><code>ng-model</code>此欄位對應的資料 model。</li>
    <li>line 16-22 是此欄位的錯誤訊息。<code>/dist/assets/errorMessage.html</code>是錯誤訊息的共用模板，客製化訊息要放在此行(line 21)上方(如 line 19-20的訊息)，pattern 一定要補客製訊息。
    </li>
</ul>
<hr>
<h4>text input 上方有訊息</h4>
<ul class="param-desc">
    <li>預設對齊方式是label 文字和 input 水平置中對齊，但有時左方輸入區塊會有文字需要和左方label向上對齊，此時在文字的 element 加上 class <code>bootstrap-top-spacing</code>來對齊。例如line 35 是加在文字所在的 <code>div</code> 上。line 35-38顯示在 input上方的文字說明，使用 class <code>note-on-top</code>。
        <pre class="language-markup" prism><code><xmp>
<div class="note-on-top bootstrap-top-spacing">
    • 顯示於搜尋結果的名稱，建議使用商店名稱<br>
    • 建議輸入30個中文字以內
</div></xmp></code></pre>
    </li>
</ul>
<hr>
<h4>錯誤訊息</h4>
<p>錯誤訊息跟在輸入欄位之後，在表單驗證不通過時顯示。使用時通常是 <code>from</code>名稱、欄位名稱、客製錯誤訊息 需編輯。</p>
<pre class="language-markup" prism><code><xmp>
<!--錯誤訊息-->
<div ng-class="{'show-message': exampleForm.$submitted && exampleForm.CompanyOwner.$invalid}"
     ng-messages="exampleForm.CompanyOwner.$error"
     class="error-message">
    <div ng-message="pattern">請填寫中文</div>
    <div ng-messages-include="/sample_uxdoc_mapping/errorMessage.html"></div>
</div></xmp></code></pre>
<ul class="param-desc">
    <li><code>ng-class="{'show-message': exampleForm.$submitted && exampleForm.CompanyOwner.$invalid}"</code>:在表單已經送出且當 <code>CompanyOwner</code>欄位有錯時加上 <code>show-message</code>顯示錯誤訊息。</li>
    <li><code>ng-messages="exampleForm.CompanyOwner.$error"</code>:此 <code>ngMessages</code>是根據 <code>CompanyOwner</code> 欄位錯誤顯示。</li>
    <li><code>ng-messages-include="/sample_uxdoc_mapping/errorMessage.html"</code>:引入用有的error message template。目前共用 template會針對以下錯誤提供訊息。其他錯誤 (如 ng-pattern) 需自行加上錯誤訊息。順序客製訊息在 template 之上。
        <ul>
            <li>required</li>
            <li>maxlength</li>
            <li>minlength</li>
            <li>min</li>
            <li>max</li>
        </ul>
    </li>
    <li><code>&lt;div ng-message="pattern"&gt;請填寫中文&lt;/div&gt;</code>: 針對 <code>ngPattern</code>的錯誤訊息，為需要時加上的客製錯誤訊息。</li>
</ul>
<hr>
<h4>Controller</h4>
<p>在controller裡，會有對應的 Submit function</p>
<pre class="language-typescript" prism><code>
public Submit(form:ng.IFormController):void{
    // 驗證不通過 不往下走
    if(form.$invalid){
        return;
    }
    // 往下接續其他動作，例如資料處理或送API等
}</code></pre>