<p>所使用 css class 參考 <a ui-sref="form.css">表單樣式可用css class</a>或下方範例</p>
<div class="action-example" ng-init="FormCompositeCtrl.PromotionRadioType ='Discount'">
    <form name="complexForm" class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-2 control-label">電話客服</label>
            <div class="col-sm-10">
                <h4 class="title-on-top">客服電話 <span class="note-on-top">格式範例：0212345678</span></h4>
                <div class="responsive-inline-block width-half">
                    <input type="tel"
                           minlength="9"
                           maxlength="11"
                           class="form-control"
                           placeholder="客服電話"
                           name="PhoneCRM"
                           ng-pattern="FormCompositeCtrl.RegexPattern.ServicePhone"
                           ng-class="{'input-error': shopAboutForm.$submitted && shopAboutForm.PhoneCRM.$invalid}"
                           ng-model="FormCompositeCtrl.AboutData.PhoneCRM">
                    <!--錯誤訊息-->
                    <div ng-class="{'show-message': shopAboutForm.$submitted && shopAboutForm.PhoneCRM.$invalid}"
                         ng-messages="shopAboutForm.PhoneCRM.$error"
                         class="error-message">
                        <div ng-message="pattern">請填寫正確的電話號碼</div>
                        <div ng-message="minlength">電話號碼含區碼，最少為9位數</div>
                        <div ng-message="maxlength">電話號碼最多12位數</div>
                        <div ng-messages-include="/sample_uxdoc_mapping/errorMessage.html"></div>
                    </div>
                </div>
                <div class="inline-block text-follow-input">分機</div>
                <div class="inline-block width-quarter">
                    <input type="tel"
                           maxlength="5"
                           class="form-control"
                           placeholder="分機"
                           name="PhoneCRMExt"
                           ng-pattern="FormCompositeCtrl.RegexPattern.NumberOnly"
                           ng-class="{'input-error': shopAboutForm.$submitted && shopAboutForm.PhoneCRMExt.$invalid}"
                           ng-model="FormCompositeCtrl.AboutData.PhoneCRMExt">
                    <!--錯誤訊息-->
                    <div ng-class="{'show-message': shopAboutForm.$submitted && shopAboutForm.PhoneCRMExt.$invalid}"
                         ng-messages="shopAboutForm.PhoneCRMExt.$error"
                         class="error-message">
                        <div ng-message="pattern">請填寫正確的分機號碼</div>
                        <div ng-messages-include="/sample_uxdoc_mapping/errorMessage.html"></div>
                    </div>
                </div>
                <h4 class="title-on-top">客服時間</h4>
                <div class="responsive-inline-block">
                    <ns-weekday-picker is-required=""
                                       start-day="FormCompositeCtrl.AboutData.PhoneCRMStartDay"
                                       end-day="FormCompositeCtrl.AboutData.PhoneCRMEndDay"></ns-weekday-picker>
                </div>
                <div class="responsive-inline-block">
                    <ns-time-range-picker is-required=""
                                          start-time="FormCompositeCtrl.AboutData.PhoneCRMStartTime"
                                          end-time="FormCompositeCtrl.AboutData.PhoneCRMEndTime"></ns-time-range-picker>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Line客服</label>
            <div class="col-sm-10">
                <div class="responsive-inline-block width-one-third">
                    <h4 class="title-on-top">Line ID</h4>
                    <input type="text"
                           class="form-control"
                           placeholder="輸入Line ID"
                           novalidate
                           name="OnlineCRM"
                           ng-class="{'input-error': shopAboutForm.$submitted && shopAboutForm.OnlineCRM.$invalid}"
                           ng-model="FormCompositeCtrl.AboutData.OnlineCRM">
                    <!--錯誤訊息-->
                    <div ng-class="{'show-message': shopAboutForm.$submitted && shopAboutForm.OnlineCRM.$invalid}"
                         ng-messages="shopAboutForm.OnlineCRM.$error"
                         class="error-message">
                        <div ng-messages-include="/sample_uxdoc_mapping/errorMessage.html"></div>
                    </div>
                </div>
                <div class="responsive-inline-block width-one-third">
                    <h4 class="title-on-top">Line ID 編碼</h4>
                    <input type="text"
                           class="form-control"
                           placeholder="輸入 Line ID 編碼"
                           novalidate
                           name="LineId"
                           ng-class="{'input-error': shopAboutForm.$submitted && shopAboutForm.OnlineCRMCode.$invalid}"
                           ng-model="FormCompositeCtrl.AboutData.OnlineCRMCode">
                    <!--錯誤訊息-->
                    <div ng-class="{'show-message': shopAboutForm.$submitted && shopAboutForm.OnlineCRMCode.$invalid}"
                         ng-messages="shopAboutForm.OnlineCRMCode.$error"
                         class="error-message">
                        <div ng-messages-include="/sample_uxdoc_mapping/errorMessage.html"></div>
                    </div>
                </div>
                <div class="responsive-inline-block width-one-third">
                    <a href="https://dl.dropboxusercontent.com/u/73233906/91app協作平台_sms/2.scm系統設定教學/202.設定商店資料/pdf資料下載/1.pdf"
                       target="_blank">如何取得Line ID編碼?</a>
                </div>
                <h4 class="title-on-top">客服時間</h4>
                <div class="responsive-inline-block">
                    <ns-weekday-picker is-required=""
                                       start-day="FormCompositeCtrl.AboutData.OnlineCRMStartDay"
                                       end-day="FormCompositeCtrl.AboutData.OnlineCRMEndDay"></ns-weekday-picker>
                </div>
                <div class="responsive-inline-block">
                    <ns-time-range-picker is-required=""
                                          start-time="FormCompositeCtrl.AboutData.OnlineCRMStartTime"
                                          end-time="FormCompositeCtrl.AboutData.OnlineCRMEndTime"></ns-time-range-picker>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label label-top-spacing" ns-required-star>活動類型</label>
            <div class="col-sm-10">
                <div class="composite-input">
                    <input type="radio"
                           id="PromotionRadioType-discount"
                           class="k-radio"
                           name="PromotionRadioType"
                           ng-value="'Discount'"
                           ng-model="FormCompositeCtrl.PromotionRadioType">
                    <label class="k-radio-label" for="PromotionRadioType-discount">現折</label>
                    <select name="PromotionType"
                            kendo-drop-down-list
                            class="form-control"
                            ng-disabled="FormCompositeCtrl.PromotionRadioType === 'FixedPrice' || FormCompositeCtrl.PromotionRadioType === 'FreeGift' || FormCompositeCtrl.Mode === 'edit'"
                            ng-model="FormCompositeCtrl.PromotionType">
                        <option value="TotalPriceV2_DiscountPrice">滿額折現</option>
                        <option value="TotalPriceV2_DiscountRate">滿額打折</option>
                        <option value="TotalQtyV2_DiscountPrice">滿件折現</option>
                        <option value="TotalQtyV2_DiscountRate">滿件打折</option>
                    </select>
                </div>
                <div class="composite-input">
                    <input type="radio"
                           id="PromotionRadioType-FixedPrice"
                           class="k-radio"
                           name="PromotionRadioType"
                           ng-value="'FixedPrice'"
                           ng-model="FormCompositeCtrl.PromotionRadioType">
                    <label class="k-radio-label" for="PromotionRadioType-FixedPrice">任選優惠價</label>
                </div>
                <div class=composite-input>
                    <input type="radio"
                    id="PromotionRadioType-FreeGift"
                    class="k-radio"
                    name="PromotionRadioType"
                    ng-value="'FreeGift'"
                    ng-model="FormCompositeCtrl.PromotionRadioType">
                    <label class="k-radio-label" for="PromotionRadioType-FreeGift">滿額贈</label>
                </div>
            </div>
        </div>
    </form>
</div>
<hr>
<h4 class="toggle-trigger collapsed" data-toggle="collapse" href="#compositeFormHtml">html <span class="trigger-indicator"></span></h4>
<pre class="language-markup line-numbers collapse" id="compositeFormHtml" prism><code><xmp>
<form name="complexForm" class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-2 control-label">電話客服</label>
        <div class="col-sm-10">
            <h4 class="title-on-top">客服電話 <span class="note-on-top">格式範例：0212345678</span></h4>
            <div class="responsive-inline-block width-half">
                <input type="tel"
                       minlength="9"
                       maxlength="11"
                       class="form-control"
                       placeholder="客服電話"
                       name="PhoneCRM"
                       ng-pattern="FormCompositeCtrl.RegexPattern.ServicePhone"
                       ng-class="{'input-error': shopAboutForm.$submitted && shopAboutForm.PhoneCRM.$invalid}"
                       ng-model="FormCompositeCtrl.AboutData.PhoneCRM">
                <!--錯誤訊息-->
                <div ng-class="{'show-message': shopAboutForm.$submitted && shopAboutForm.PhoneCRM.$invalid}"
                     ng-messages="shopAboutForm.PhoneCRM.$error"
                     class="error-message">
                    <div ng-message="pattern">請填寫正確的電話號碼</div>
                    <div ng-message="minlength">電話號碼含區碼，最少為9位數</div>
                    <div ng-message="maxlength">電話號碼最多12位數</div>
                    <div ng-messages-include="/sample_uxdoc_mapping/errorMessage.html"></div>
                </div>
            </div>
            <div class="inline-block text-follow-input">分機</div>
            <div class="inline-block width-quarter">
                <input type="tel"
                       maxlength="5"
                       class="form-control"
                       placeholder="分機"
                       name="PhoneCRMExt"
                       ng-pattern="FormCompositeCtrl.RegexPattern.NumberOnly"
                       ng-class="{'input-error': shopAboutForm.$submitted && shopAboutForm.PhoneCRMExt.$invalid}"
                       ng-model="FormCompositeCtrl.AboutData.PhoneCRMExt">
                <!--錯誤訊息-->
                <div ng-class="{'show-message': shopAboutForm.$submitted && shopAboutForm.PhoneCRMExt.$invalid}"
                     ng-messages="shopAboutForm.PhoneCRMExt.$error"
                     class="error-message">
                    <div ng-message="pattern">請填寫正確的分機號碼</div>
                    <div ng-messages-include="/sample_uxdoc_mapping/errorMessage.html"></div>
                </div>
            </div>
            <h4 class="title-on-top">客服時間</h4>
            <div class="responsive-inline-block">
                <ns-weekday-picker is-required=""
                                   start-day="FormCompositeCtrl.AboutData.PhoneCRMStartDay"
                                   end-day="FormCompositeCtrl.AboutData.PhoneCRMEndDay"></ns-weekday-picker>
            </div>
            <div class="responsive-inline-block">
                <ns-time-range-picker is-required=""
                                      start-time="FormCompositeCtrl.AboutData.PhoneCRMStartTime"
                                      end-time="FormCompositeCtrl.AboutData.PhoneCRMEndTime"></ns-time-range-picker>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Line客服</label>
        <div class="col-sm-10">
            <div class="responsive-inline-block width-one-third">
                <h4 class="title-on-top">Line ID</h4>
                <input type="text"
                       class="form-control"
                       placeholder="輸入Line ID"
                       novalidate
                       name="OnlineCRM"
                       ng-class="{'input-error': shopAboutForm.$submitted && shopAboutForm.OnlineCRM.$invalid}"
                       ng-model="FormCompositeCtrl.AboutData.OnlineCRM">
                <!--錯誤訊息-->
                <div ng-class="{'show-message': shopAboutForm.$submitted && shopAboutForm.OnlineCRM.$invalid}"
                     ng-messages="shopAboutForm.OnlineCRM.$error"
                     class="error-message">
                    <div ng-messages-include="/sample_uxdoc_mapping/errorMessage.html"></div>
                </div>
            </div>
            <div class="responsive-inline-block width-one-third">
                <h4 class="title-on-top">Line ID 編碼</h4>
                <input type="text"
                       class="form-control"
                       placeholder="輸入 Line ID 編碼"
                       novalidate
                       name="LineId"
                       ng-class="{'input-error': shopAboutForm.$submitted && shopAboutForm.OnlineCRMCode.$invalid}"
                       ng-model="FormCompositeCtrl.AboutData.OnlineCRMCode">
                <!--錯誤訊息-->
                <div ng-class="{'show-message': shopAboutForm.$submitted && shopAboutForm.OnlineCRMCode.$invalid}"
                     ng-messages="shopAboutForm.OnlineCRMCode.$error"
                     class="error-message">
                    <div ng-messages-include="/sample_uxdoc_mapping/errorMessage.html"></div>
                </div>
            </div>
            <div class="responsive-inline-block width-one-third">
                <a href="https://dl.dropboxusercontent.com/u/73233906/91app協作平台_sms/2.scm系統設定教學/202.設定商店資料/pdf資料下載/1.pdf"
                   target="_blank">如何取得Line ID編碼?</a>
            </div>
            <h4 class="title-on-top">客服時間</h4>
            <div class="responsive-inline-block">
                <ns-weekday-picker is-required=""
                                   start-day="FormCompositeCtrl.AboutData.OnlineCRMStartDay"
                                   end-day="FormCompositeCtrl.AboutData.OnlineCRMEndDay"></ns-weekday-picker>
            </div>
            <div class="responsive-inline-block">
                <ns-time-range-picker is-required=""
                                      start-time="FormCompositeCtrl.AboutData.OnlineCRMStartTime"
                                      end-time="FormCompositeCtrl.AboutData.OnlineCRMEndTime"></ns-time-range-picker>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label label-top-spacing" ns-required-star>活動類型</label>
        <div class="col-sm-10">
            <div class="composite-input">
                <input type="radio"
                       id="PromotionRadioType-discount"
                       class="k-radio"
                       name="PromotionRadioType"
                       ng-value="'Discount'"
                       ng-model="FormCompositeCtrl.PromotionRadioType">
                <label class="k-radio-label" for="PromotionRadioType-discount">現折</label>
                <select name="PromotionType"
                        kendo-drop-down-list
                        class="form-control"
                        ng-disabled="FormCompositeCtrl.PromotionRadioType === 'FixedPrice' || FormCompositeCtrl.PromotionRadioType === 'FreeGift' || FormCompositeCtrl.Mode === 'edit'"
                        ng-model="FormCompositeCtrl.PromotionType">
                    <option value="TotalPriceV2_DiscountPrice">滿額折現</option>
                    <option value="TotalPriceV2_DiscountRate">滿額打折</option>
                    <option value="TotalQtyV2_DiscountPrice">滿件折現</option>
                    <option value="TotalQtyV2_DiscountRate">滿件打折</option>
                </select>
            </div>
            <div class="composite-input">
                <input type="radio"
                       id="PromotionRadioType-FixedPrice"
                       class="k-radio"
                       name="PromotionRadioType"
                       ng-value="'FixedPrice'"
                       ng-model="FormCompositeCtrl.PromotionRadioType">
                <label class="k-radio-label" for="PromotionRadioType-FixedPrice">任選優惠價</label>
            </div>
            <div class=composite-input>
                <input type="radio"
                       id="PromotionRadioType-FreeGift"
                       class="k-radio"
                       name="PromotionRadioType"
                       ng-value="'FreeGift'"
                       ng-model="FormCompositeCtrl.PromotionRadioType">
                <label class="k-radio-label" for="PromotionRadioType-FreeGift">滿額贈</label>
            </div>
        </div>
    </div>
</form>
</xmp></code></pre>
<hr>
<h4>電話客服 - 填寫欄位有兩組資料</h4>
<p>第一組 客服電話：上方有訊息，整個資料欄位排成一條 (電話與分機)</p>
<pre class="language-markup" prism><code><xmp>
<!-- 上方訊息 h4.title-on-top 是較深顏色主標 span.note-on-top 是淺色副標 -->
<h4 class="title-on-top">客服電話 <span class="note-on-top">格式範例：0212345678</span></h4>
<!-- 利用 div.responsive-inline-block 定義 客服電話 input 所在div 在寬螢幕是同行 在窄螢幕將獨佔一行 -->
<!-- 利用 div.with-half 定義 所在 div 寬度為可用寬度的一半 -->
<div class="responsive-inline-block width-half"></div>
<!-- div.inline-block 代表  這兩塊不論螢幕大小都是同一行 -->
<!-- div.text-follow-input 如果有文字跟著input走 加上此class -->
<div class="inline-block text-follow-input">分機</div>
<!-- 利用 div.with-quarter 定義 所在 div 寬度為可用寬度的1/4 -->
<div class="inline-block width-quarter"></div>
</xmp></code></pre>
<p>第二組 客服時間：分成兩等份 (日期/時間)</p>
<pre class="language-markup" prism><code><xmp>
<!-- 上方訊息 h4.title-on-top 是較深顏色主標 -->
<h4 class="title-on-top">客服時間</h4>
<!-- 利用 div.responsive-inline-block 定義 客服電話 input 所在div 在寬螢幕是同行 在窄螢幕將獨佔一行 -->
<div class="responsive-inline-block">日期directive </div>
<div class="responsive-inline-block">時間directive </div>
</xmp></code></pre>
<hr>
<h4>Line客服 - 填寫欄位有兩組資料</h4>
<p>第一組資料均分成三等份，和上方差別是把標題包在 div 裡</p>
<p>第二組資料 分成兩等份 (日期/時間) 和上方的第二組資料相同寫法</p>
<pre class="language-markup" prism><code><xmp>
<!-- 利用 div.width-one-third 定義 所在 div 寬度為可用寬度的1/3 -->
<div class="responsive-inline-block width-one-third">
<!-- h4.title-on-top 主標 跟著每個input 走 所以是包在 div 裡-->
    <h4 class="title-on-top">Line ID</h4>
    <input>
</div>
<div class="responsive-inline-block width-one-third">
    <h4 class="title-on-top">Line ID 編碼</h4>
    <input>
</div>
<div class="responsive-inline-block width-one-third">
    <a>相關連結文字</a>
</div>
</xmp></code></pre>
<hr>
<h4>當 radio 選項包括dropdown 時的對齊方式 (如上方的 活動類型)</h4>
<p>以 <code>div.composite-input</code> 將每個選項包起，如 line 112-148顯示</p>
<pre class="language-markup" prism><code><xmp>
    <div class="composite-input">
        <input>
        <label>
        <select> (選擇性)
    </div>
</xmp></code></pre>
<hr>