<p>表單樣式可用class</p>
<table class="table class-table">
    <thead>
    <tr>
        <th>Class</th>
        <th>敘述</th>
        <th>範例</th>
        <th>範例原始碼</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>title-above-form</td>
        <td colspan="3">在form 外面的標題</td>
    </tr>
    <tr>
        <td>bootstrap-top-spacing</td>
        <td colspan="3">預設對齊方式是label 文字和 input 水平置中對齊，但有時input那塊會有文字需要和左方label向上對齊，此時在文字的 element 加上 class <code>bootstrap-top-spacing</code>來對齊。</td>
    </tr>
    <tr>
        <td>label-top-spacing</td>
        <td colspan="3">可加在label上，和 form-control 垂直置中對齊</td>
    </tr>
    <tr>
        <td>warning-text</td>
        <td>需要紅色吸引使用者注意時使用</td>
        <td><div class="note-on-top warning-text">• 需要紅色吸引使用者注意時使用</div></td>
        <td><pre class="language-markup" prism><code><xmp><div class="note-on-top warning-text">• 需要紅色吸引使用者注意時使用</div></xmp></code></pre></td>
    </tr>
    <tr>
        <td>with-word-count-tenth</td>
        <td colspan="3">放在 text <code>input</code>上，配合 <code>ns-character-count</code>使用。此class針對限制數字的位數是2位數時使用。</td>
    </tr>
    <tr>
        <td>with-word-count-hundredth</td>
        <td colspan="3">放在 text <code>input</code>上，配合 <code>ns-character-count</code>使用。此class針對限制數字的位數是3位數時使用。</td>
    </tr>
    <tr>
        <td>note-on-top</td>
        <td>input 上說明文字</td>
        <td class="form-horizontal">
            <div class="note-on-top">• 顯示於搜尋結果的名稱，建議使用商店名稱</div>
            <input type="text" class="form-control">
        </td>
        <td><pre class="language-markup" prism>
<code><xmp>....(form code...)
<div class="note-on-top">• 顯示於搜尋結果的名稱，建議使用商店名稱</div>
<input type="text" class="form-control">...</xmp></code></pre>
        </td>
    </tr>
    <tr>
        <td>h4.title-on-top</td>
        <td>input 上標題文字
        <td class="form-horizontal"><h4 class="title-on-top">客服電話</h4>
            <input type="text" class="form-control"></td>
        <td><pre class="language-markup" prism>
<code><xmp>....(form code...)
<h4 class="title-on-top">客服電話</h4>
<input type="text" class="form-control">...</xmp></code></pre></td>
    </tr>
    <tr>
        <td>text-follow-input</td>
        <td>在input 之後或之間的文字對齊使用
        <td class="form-horizontal">
            <input type="text" class="form-control inline-block width-quarter">
            <div class="inline-block text-follow-input">文字</div>
            <input type="text" class="form-control inline-block width-quarter">
        </td>
        <td><pre class="language-markup" prism>
<code><xmp><input type="text" class="form-control inline-block width-quarter">
<div class="inline-block text-follow-input">文字</div>
<input type="text" class="form-control inline-block width-quarter">
</xmp></code></pre></td>
    </tr>
    </tbody>
</table>