<!-- BreadCrumb -->
<div class="breadcrumb-container">
    <ol class="breadcrumbs">
        <li><a ui-sref="index">文件總覽</a></li>
        <li class="active">其他樣式</li>
        <li>
            <span class="hide" ui-sref="form.basic" ui-sref-active="show">基本表單</span>
            <span class="hide" ui-sref="form.composite" ui-sref-active="show">複合表單</span>
            <span class="hide" ui-sref="form.actionContainer" ui-sref-active="show">橫跨按鈕</span>
            <span class="hide" ui-sref="form.css" ui-sref-active="show">CSS Class</span>
        </li>
    </ol>
</div>
<!-- BreadCrumb -->
<div class="row content-row">
    <!-- PageHeader -->
    <div class="page-title hide" ui-sref="form.basic" ui-sref-active="show">基本表單</div>
    <div class="page-title hide" ui-sref="form.composite" ui-sref-active="show">複合表單</div>
    <div class="page-title hide" ui-sref="form.actionContainer" ui-sref-active="show">橫跨按鈕 (整頁下方藍底按鈕)</div>
    <div class="page-title hide" ui-sref="form.css" ui-sref-active="show">CSS Class</div>
    <!-- PageHeader -->
    <!-- PageContent -->
    <div class="page-content">
        <ui-view></ui-view>
    </div>
    <!-- PageContent -->
</div>