﻿<!DOCTYPE html>
<html ng-app="NineYi.Sample">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no,maximum-scale=1.0">
    <title>91APP Munch 後台元件文件</title>
    <!--其他專案需要的css-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-block-ui/0.2.2/angular-block-ui.min.css">
    <link rel="stylesheet" href="../dist/assets/kendo-ui/kendo.common-bootstrap.min.css">
    <link rel="stylesheet" href="../dist/assets/kendo-ui/kendo.rtl.min.css">
    <link rel="stylesheet" href="../dist/assets/kendo-ui/kendo.bootstrap.min.css">
    <link rel="stylesheet" href="../dist/assets/icon91/icon91.css">
    <link rel="stylesheet" href="../dist/assets/styles/munch.css">
    <!--只有sample需要的-->
    <link rel="stylesheet" href="./vendor/prism.css">
    <link rel="stylesheet" href="./content/sample.css">
</head>
<body>

<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".menu-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand hide-at-mobile" href="/"><i class="icon icon-logo-91app"></i></a>
    </div>
    <!-- /.navbar-header -->
    <div class="nav-shop-name">Munch 後台元件文件</div>
    <span style="color:#fff;line-height:50px;padding-left:10px;" ng-controller="ShowLangController">目前瀏覽器設定語言：{{language}}</span>
    <ul class="nav navbar-top-links navbar-right">
        <li>
        </li>
        <!--有訊息 icon <i class="icon icon-bell"> 加上 class 'has-message'，沒訊息則移掉 -->
        <li class="dropdown nav-message-bell">
            <a href="#" class=" dropdown-toggle" data-toggle="dropdown"">
                <i class="icon icon-bell has-message"></i>
                <span class="text-message hide-at-mobile">通知</span>
            </a>
            <ul class="dropdown-menu dropdown-messages">
                <li>
                    <div class="block">
                        <p class="date">2017/06/15</p>
                        <a class="content" href="/Bulletin/List/#64">測試公告訊息很長很長，測試公告訊息很長很長，測試公告訊息很長很長，測試公告訊息很長很長，測試公告訊息很長很長，測試公告訊息很長很長</a>
                    </div>
                </li>
                <li>
                    <div class="block">
                        <p class="date">2017/06/15</p>
                        <a class="content" href="/Bulletin/List/#63">測試公告訊息</a>
                    </div>
                </li>
                <li>
                    <div class="block">
                        <p class="date">2017/06/15</p>
                        <a class="content" href="/Bulletin/List/#67">測試公告訊息第二則兩行，測試公告訊息第二則兩行，測試公告訊息第二則兩行</a>
                    </div>
                </li>
                <li class="text-center ">
                    <a class="more" href="/Bulletin/List">
                        看更多通知<i class="icon icon-arrow"></i>
                    </a>
                </li>
            </ul>


        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="icon icon-people"></i>

                <span class="username hide-at-mobile">00001688</span>
                <i class="icon icon-triangle hide-at-mobile"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li>
                    <a class="change-password" href="/Account/ChangePassword">變更密碼</a>
                    <a ng-click="TopBarCtrl.Logout()">登出</a>
                </li>
                <li class="divider"></li>
                <li><a href="https://help.91app.com/hc/zh-tw" target="_blank">後台管理使用手冊</a></li>
                <li><a href="#" target="_blank">收費說明</a></li>
            </ul>
            <!-- /.dropdown-user -->
        </li>
        <!-- /.dropdown -->
    </ul>
</nav>
<!-- Navigation end-->
<!-- Page Content -->
<!-- 要將menu 打開 第一層要打開的 li 加上 class 'active', 要將menu item變成點選樣子, a 加上class 'active'-->
<div id="page-wrapper" ng-controller="MenuController as MenuCtrl">
    <div class="navbar-default sidebar menu-collapse collapse in width" role="navigation">
        <div class="sidebar-nav">
            <ul class="nav metismenu" id="side-menu">
                <li><a class="overview" ui-sref="index"><i class="icon icon-dashboard"></i><span class="item">總覽</span></a></li>
                <li ng-class="{'active': MenuCtrl.IsActive('quickstart')}">
                    <a href=""><i class="icon icon-activity"></i><span class="item">快速指南</span>
                        <i class="icon icon-triangle pull-right"></i></a>
                    <ul class="nav nav-second-level">
                        <li><a class="" ui-sref-active="active" ui-sref="quickstart.layout"><span class="item">頁面排版 & Bootstrap</span></a></li>
                        <li><a class="" ui-sref-active="active" ui-sref="quickstart.bundle"><span class="item">Bundle</span></a></li>
                        <li><a class="" ui-sref-active="active" ui-sref="quickstart.service"><span class="item">Service</span></a></li>
                        <li><a class="" ui-sref-active="active" ui-sref="quickstart.controller"><span class="item">Controller</span></a></li>
                        <li><a class="" ui-sref-active="active" ui-sref="quickstart.icon"><span class="item">Icon 與圖片</span></a></li>
                        <li><a class="" ui-sref-active="active" ui-sref="quickstart.translate"><span class="item">多語系</span></a></li>
                    </ul>
                </li>
                <li class="divider"></li>
                <li ng-class="{'active': MenuCtrl.IsActive('layout')}"><a href=""><i class="icon icon-order"></i>
                    <span class="item">基本內容顯示方式</span>
                    <i class="icon icon-triangle pull-right"></i></a>
                    <ul class="nav nav-second-level">
                        <li><a class="" ui-sref-active="active" ui-sref="layout.basic"><span class="item">基本頁面</span></a></li>
                        <li><a class="" ui-sref-active="active" ui-sref="layout.window"><span class="item">大視窗</span></a></li>
                        <li><a class="" ui-sref-active="active" ui-sref="layout.popup"><span class="item">Popup</span></a></li>
                        <li><a class="" ui-sref-active="active" ui-sref="layout.loading"><span class="item">Loading view</span></a></li>
                    </ul>
                </li>
                <li ng-class="{'active': MenuCtrl.IsActive('query')}"><a href=""><i class="icon icon-service"></i>
                    <span class="item">查詢頁</span>
                    <i class="icon icon-triangle pull-right"></i></a>
                    <ul class="nav nav-second-level">
                        <li><a class="" ui-sref-active="active" ui-sref="query.overview"><span class="item">查詢頁總覽</span></a></li>
                        <li><a class="" ui-sref-active="active" ui-sref="query.condition"><span class="item">查詢頁按鍵 - 條件查詢區</span></a></li>
                        <li><a class="" ui-sref-active="active" ui-sref="query.relate"><span class="item">查詢頁按鍵 - 相關功能區</span></a></li>
                        <li><a class="" ui-sref-active="active" ui-sref="query.table"><span class="item">查詢頁按鍵 - 表格區</span></a></li>
                    </ul>
                </li>
                <li ng-class="{'active': MenuCtrl.IsActive('setting')}"><a href=""><i class="icon icon-ad-edit"></i>
                    <span class="item">設定頁</span>
                    <i class="icon icon-triangle pull-right"></i></a>
                    <ul class="nav nav-second-level">
                        <li><a class="" ui-sref-active="active" ui-sref="setting.overview"><span class="item">設定頁總覽</span></a></li>
                        <li><a class=""  ui-sref-active="active"ui-sref-active="active" ui-sref="setting.window"><span class="item">設定頁 - 大視窗</span></a></li>
                        <li><a class="" ui-sref-active="active" ui-sref="setting.popup"><span class="item">設定頁 - Popup</span></a></li>
                        <li><a class="" ui-sref-active="active" ui-sref="setting.actions"><span class="item">設定頁按鍵 - 欄位區</span></a></li>
                        <li><a class="" ui-sref-active="active" ui-sref="setting.actionContainer"><span class="item">設定頁按鍵 - 儲存區</span></a></li>
                    </ul>
                </li>
                <li class="divider"></li>
                <li ng-class="{'active': MenuCtrl.IsActive('table')}">
                    <a href=""><i class="icon icon-order"></i><span class="item">表格</span>
                        <i class="icon icon-triangle pull-right"></i></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="" ui-sref="table.tableComponent" ui-sref-active="active"><span class="item">表格元件</span></a>
                        </li>
                        <li>
                            <a href="" ui-sref="table.tableLayout" ui-sref-active="active"><span class="item">表格互動與樣式</span></a>
                        </li>
                        <li>
                            <a href="" ui-sref="table.tableBasic" ui-sref-active="active"><span class="item">D-1 一般表格</span></a>
                        </li>
                        <li>
                            <a href="" ui-sref="table.tableCheckbox" ui-sref-active="active"><span class="item">D-2 Checkbox表格</span></a>
                        </li>
                        <li>
                            <a href="" ui-sref="table.tableCollapse" ui-sref-active="active"><span class="item">D-3可收合表格：母子單① - 母單上無資料</span></a>
                        </li>
                        <li>
                            <a href="" ui-sref="table.tableCategory" ui-sref-active="active"><span class="item">D-4 可收合表格：母子單② - 母單上有資料</span></a>
                        </li>
                    </ul>
                </li>
                <li ng-class="{'active': MenuCtrl.IsActive('element')}"><a href=""><i class="icon icon-order"></i>
                    <span class="item">頁面內元件</span>
                    <i class="icon icon-triangle pull-right"></i></a>
                    <ul class="nav nav-second-level">
                        <li><a class="" ui-sref-active="active" ui-sref="element.tab"><span class="item">Tab</span></a></li>
                        <li><a class="" ui-sref-active="active" ui-sref="element.symbol"><span class="item">文字符號</span></a></li>
                        <li><a class="" ui-sref-active="active" ui-sref="element.explain"><span class="item">文字說明</span></a></li>
                        <li><a class="" ui-sref-active="active" ui-sref="element.toast"><span class="item">Toast</span></a></li>
                        <li><a class="" ui-sref-active="active" ui-sref="element.tooltip"><span class="item">Tooltips</span></a></li>
                        <li><a class="" ui-sref-active="active" ui-sref="element.input"><span class="item">文字輸入框</span></a></li>
                        <li><a class="" ui-sref-active="active" ui-sref="element.dropdown"><span class="item">下拉式選單</span></a></li>
                        <li><a class="" ui-sref-active="active" ui-sref="element.checkbox"><span class="item">Checkbox</span></a></li>
                        <li><a class="" ui-sref-active="active" ui-sref="element.radio"><span class="item">Radio button</span></a></li>
                        <li><a class="" ui-sref-active="active" ui-sref="element.datetime"><span class="item">日期/時間模組</span></a></li>
                        <li><a class="" ui-sref-active="active" ui-sref="element.editor"><span class="item">圖文編輯器</span></a></li>
                        <li><a class="" ui-sref-active="active" ui-sref="element.imageUpload"><span class="item">上傳圖片</span></a></li>
                        <li><a class="" ui-sref-active="active" ui-sref="element.fileUpload"><span class="item">上傳檔案</span></a></li>
                        <li><a class="" ui-sref-active="active" ui-sref="element.breadcrumb"><span class="item">麵包屑</span></a></li>
                        <li><a class="" ui-sref-active="active" ui-sref="element.selector"><span class="item">選擇器</span></a></li>
                        <li><a class="" ui-sref-active="active" ui-sref="element.other"><span class="item">其他</span></a></li>
                    </ul>
                </li>
                <li ng-class="{'active': MenuCtrl.IsActive('form')}">
                    <a href=""><i class="icon icon-order"></i><span class="item">表單 form</span>
                        <i class="icon icon-triangle pull-right"></i></a>
                    <ul class="nav nav-second-level">
                        <li><a class="" ui-sref-active="active" ui-sref="form.basic"><span class="item">基本表單</span></a></li>
                        <li><a class="" ui-sref-active="active" ui-sref="form.composite"><span class="item">複合表單</span></a></li>
                        <li><a class="" ui-sref-active="active" ui-sref="form.actionContainer"><span class="item">橫跨按鈕</span></a></li>
                        <li><a class="" ui-sref-active="active" ui-sref="form.css"><span class="item">CSS Class</span></a></li>
                    </ul>
                </li>
                <li class="divider"></li>
                <li ng-class="{'active': MenuCtrl.IsActive('style')}">
                    <a href=""><i class="icon icon-ad-edit"></i><span class="item">前端樣式</span>
                    <i class="icon icon-triangle pull-right"></i></a>
                    <ul class="nav nav-second-level">
                        <li><a ui-sref="style.css" ui-sref-active="active"><span class="item">Utility CSS Class</span></a></li>
                        <li><a ui-sref="style.button" ui-sref-active="active"><span class="item">按鈕</span></a></li>
                        <li><a ui-sref="style.panel" ui-sref-active="active"><span class="item">Panel</span></a></li>
                    </ul>
                </li>
                <li ng-class="{'active': MenuCtrl.IsActive('utility')}">
                    <a href=""><i class="icon icon-ad-edit"></i><span class="item">其它前端元件</span>
                    <i class="icon icon-triangle pull-right"></i></a>
                    <ul class="nav nav-second-level">
                        <li><a class="" ui-sref="utility.dialog" ui-sref-active="active"><span class="item">DialogUtility</span></a></li>
                        <li><a class="" ui-sref="utility.modal" ui-sref-active="active"><span class="item">ModalUtility</span></a></li>
                        <li><a ui-sref="utility.regex" ui-sref-active="active"><span class="item">Regex</span></a></li>
                        <li><a ui-sref="utility.validation" ui-sref-active="active"><span class="item">驗證</span></a></li>
                        <li><a ui-sref="utility.urlUtility" ui-sref-active="active"><span class="item">Url Utility</span></a></li>
                        <li><a ui-sref="utility.notification" ui-sref-active="active"><span class="item">舊的 Toast</span></a></li>
                        <li><a ui-sref="utility.notation" ui-sref-active="active"><span class="item">For Sample</span></a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <!-- MainContent -->
                <ui-view></ui-view>
                <!-- MainContent -->
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <div class="copyright">
        Copyright &copy; @DateTime.Now.Year 91APP, Inc. 版權所有 <span class="hide-at-mobile">[請使用Chrome瀏覽器以獲得最佳使用體驗]</span>
    </div>
</div>


<!--其他專案需要的js-->
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.2.0/ui-bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.2.0/ui-bootstrap-tpls.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-messages/1.5.8/angular-messages.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-block-ui/0.2.2/angular-block-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.5.8/angular-sanitize.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-sortable-view/0.0.15/angular-sortable-view.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-recaptcha/3.0.4/angular-recaptcha.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-translate/2.12.1/angular-translate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ng-flow/2.7.4/ng-flow-standalone.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ng-tags-input/3.1.1/ng-tags-input.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-smart-table/2.1.8/smart-table.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
<script src="//cdn.jsdelivr.net/jquery.metismenu/2.6.0/metisMenu.min.js"></script>
<script src="../dist/assets/locale.munch.js"></script>
<script src="../dist/kendo.bundle.js"></script>
<script src="../dist/munch.bundle.js"></script>

<!--sample專用-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.2/angular-ui-router.min.js"></script>
<script src="./scripts/app.sample.js"></script>
<script src="./scripts/ng-prism.js"></script>
<script src="./scripts/configs.js"></script>
<script src="./scripts/routes.js"></script>

<script src="./vendor/prism.js"></script>
<!-- service -->
<script src="./services/tableData.services.js"></script>
<!--controller-->
<script src="./modules/layout/LayoutBasicController.js"></script>
<script src="./modules/layout/LayoutWindowController.js"></script>
<script src="./modules/layout/LayoutLoadingController.js"></script>
<script src="./modules/query/QueryOverviewController.js"></script>
<script src="./modules/form/FormBasicController.js"></script>
<script src="./modules/form/FormCompositeController.js"></script>
<script src="./modules/element/UtilityToastController.js"></script>
<script src="./modules/element/ElementDropdownController.js"></script>
<script src="./modules/element/ElementDialogController.js"></script>
<script src="./modules/element/ElementModalController.js"></script>
<script src="./modules/element/ElementSelectorController.js"></script>
<script src="./modules/element/ElementTableBasicController.js"></script>
<script src="./modules/element/ElementTableCollapseController.js"></script>
<script src="./modules/element/ElementTableCategoryController.js"></script>
<script src="./modules/utility/UtilityRegexController.js"></script>
<script src="./modules/utility/UtilityValidationController.js"></script>
<script src="./modules/utility/UtilityUrlUtilityController.js"></script>
<script src="./modules/utility/ElementToastController.js"></script>
<script src="./modules/workshop/SampleWorkshopController.js"></script>

<script>
    if(localeData) var localeData={};
    window.onload = function(){
        $('#side-menu').metisMenu(); // menu互動
    };
    angular.module('NineYi.Sample.Controllers')
        .controller('ShowLangController', ['$scope','$translate', function($scope,$translate) {
            $scope.language = $translate.resolveClientLocale();
        }]);
</script>
</body>
</html>

