<!-- BreadCrumb -->
<div class="breadcrumb-container">
    <ol class="breadcrumbs">
        <li class="active">總覽</li>
    </ol>
</div>
<!-- BreadCrumb -->
<div class="row content-row">
    <!-- PageHeader -->
    <div class="page-title">總覽</div>
    <!-- PageHeader -->
    <!-- PageContent -->
    <div class="page-content">
        <div class="panel panel-default">
            <div class="panel-heading" >參考文件</div>
            <div class="panel-body">
                <ul>
                    <li><a href="http://getbootstrap.com/css/" target="_blank">Bootstrap 3 英文文件</a> - 主要參考 css 部分</li>
                    <li><a href="https://kkbruce.tw/bs3/CSS" target="_blank">Bootstrap 3 中文文件</a> - 主要參考 css 部分</li>
                    <li><a href="https://angular-ui.github.io/bootstrap/" target="_blank">UI Bootstrap</a> - Bootstrap components written in pure AngularJS by the AngularUI Team</li>
                    <li><a href="http://docs.telerik.com/kendo-ui/AngularJS/introduction" target="_blank">KendoUI AngularJS Integration</a></li>
                    <li><a href="http://demos.telerik.com/kendo-ui/" target="_blank">KendoUI Demo （包括AngularJS）</a></li>
                    <li><a href="http://docs.telerik.com/kendo-ui/api/javascript/ui/autocomplete" target="_blank">KendoUI Javascript API Documentation</a></li>
                    <li><a href="http://wiki.91app.com/pages/viewpage.action?pageId=53388249" target="_blank">KendoUI Javascript 拆解</a> (Kendo.all 有12萬行code, 為了效能可以只取需要的部分。)</li>
                    <li><p><a href="/nineyi.frontend.munch/icon91/demo.html" target="_blank">後台 icon font</a></p></li>
                </ul>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                使用元件時，需要引用
            </div>
            <div class="panel-body">
                <p>使用元件要先引用元件，將其注入到controller，以下為使用service, RegexPattern, 和 Utility的例子</p>
                <pre class="language-typescript" prism><code>
public static $inject = [
    'ShopService',
    'RegexPattern',
    "ModalUtilityModalUtility"];

constructor(
    private ShopService: NineYi.Sms.Services.ShopService,
    private RegexPattern: munch.Configs.RegexPattern,
    private ModalUtility: munch.Utilities.ModalUtility
) {
...</code></pre>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">其他注意事項</div>
            <div class="panel-body">
                <p>SMS API 文件參考 Swagger: <a href="https://dev.sms.91dev.tw/swagger/ui/index" target="_blank">開發環境</a>、<a href="https://qa.sms.91dev.tw/swagger/ui/index" target="_blank">QA環境</a>。</p>
                <p>如果要將 Swagger上API直接轉成 AngularJS Service 的 codes，作法參考 <a href="http://wiki.91app.com/display/ARCH/swagger+api+service+generator" target="_blank">swagger api service generator</a>、<a href="http://wiki.91app.com/pages/viewpage.action?pageId=53382915" target="_blank">如何使用Code Generator by Chris (以SMS為例)</a>。</p>
                <p>開發時如果需要繞過 Google 機器人驗證、在其他裝置(如手機)測試時，作法參考 <a href="http://wiki.91app.com/pages/viewpage.action?pageId=53393443" target="_blank">繞過Google reCAPTCHA驗證 搭配Browser-Sync 測試自助開店開發環境的方法</a></p>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">ng- vs data-ng-</div>
        <div class="panel-body">
            <p>根據 <a href="https://docs.angularjs.org/guide/directive" target="">AngularJS 文件</a>，兩者並無不同，在 normalize 過程會將<code>data-</code> 移除。文件裡 Best Practice 建議直接使用 <code>ng-</code>即可。</p>
            <p><code>data-</code>是為了通過 HTML5 validation 所使用，因為 <code>ng-</code>開頭不是標準 HTML 標籤，所以驗證會錯。因為我們開發時並不使用 HTML5 validator，所以直接使用 <code>ng-</code>開頭標籤即可。</p>
        </div>
    </div>
</div>
    <!-- PageContent -->
</div>