<h4>C4-1 欄位區：空心按鍵</h4>
<h4>C4-2 儲存區：空心按鍵disable</h4>
<p>按鈕設定見 <a ui-sref="utility.button">按鈕</a>頁。</p>
<hr>
<h4>C4-3 欄位區：一般文字連結</h4>
<h4>C4-4 欄位區：紅色文字連結</h4>
<p>下載和刪除等連結設定見 <a ui-sref="element.symbol">文字符號</a>頁。</p>