<!-- BreadCrumb -->
<div class="breadcrumb-container">
    <ol class="breadcrumbs">
        <li><a ui-sref="index">文件總覽</a></li>
        <li>
            <span class="hide" ui-sref="setting.overview" ui-sref-active="show">設定頁總覽</span>
            <span class="hide" ui-sref="setting.window" ui-sref-active="show">大視窗</span>
            <span class="hide" ui-sref="setting.popup" ui-sref-active="show">popup</span>
            <span class="hide" ui-sref="setting.actions" ui-sref-active="show">欄位區</span>
            <span class="hide" ui-sref="setting.actionContainer" ui-sref-active="show">儲存區</span>
        </li>
    </ol>
</div>
<!-- BreadCrumb -->
<div class="row content-row">
    <!-- PageHeader -->
    <div class="page-title hide" ui-sref="setting.overview" ui-sref-active="show">設定頁總覽</div>
    <div class="page-title hide" ui-sref="setting.window" ui-sref-active="show">大視窗</div>
    <div class="page-title hide" ui-sref="setting.popup" ui-sref-active="show">popup</div>
    <div class="page-title hide" ui-sref="setting.actions" ui-sref-active="show">欄位區</div>
    <div class="page-title hide" ui-sref="setting.actionContainer" ui-sref-active="show">儲存區</div>

    <!-- PageHeader -->
    <!-- PageContent -->
    <div class="page-content">
        <ui-view></ui-view>
    </div>
    <!-- PageContent -->
</div>