<p>上方 Tab 參考 <a ui-sref="element.tab">Tab</a> 組成</p>
<p>區塊由 <a ui-sref="utility.panel">Panel</a>組成</p>
<p>表單格式可參考 <a ui-sref="form.basic">基本表單</a>, <a ui-sref="form.css">表單 CSS</a>等相關頁面說明。</p>
<p>儲存區由 <a ui-sref="form.actionContainer">橫跨按鈕</a>製作</p>