<p>大視窗由 <a ui-sref="layout.window">WindowUtility</a>製作。</p>
<p>表單格式可參考 <a ui-sref="form.basic">基本表單</a>, <a ui-sref="form.composite">複合表單</a>, <a ui-sref="form.css">表單 CSS</a>等相關頁面說明。</p>
<p>儲存區由 <a ui-sref="form.actionContainer">橫跨按鈕</a>製作。</p>