<!-- BreadCrumb -->
<div class="breadcrumb-container">
    <ol class="breadcrumbs">
        <li><a ui-sref="index">文件總覽</a></li>
        <li class="">Workshop</li>
        <li>
            <span class="hide" ui-sref="workshop.july" ui-sref-active="show">July</span>
        </li>
    </ol>
</div>
<!-- BreadCrumb -->
<div class="row content-row">
    <!-- PageHeader -->
    <div class="page-title hide" ui-sref="workshop.july" ui-sref-active="show">Workshop</div>
    <!-- PageHeader -->
    <!-- PageContent -->
    <div class="page-content">
        <ui-view></ui-view>
    </div>
    <!-- PageContent -->
</div>