<div class="panel panel-default">
    <div class="panel-heading">Agenda</div>
    <div class="panel-body">
        <ol>
            <li>建立一個表單
                <ol>商店名稱 - 必填, 文字框, 最多20字, 需要字數計算</ol>
                <ol>開店身份 - 必填, radio button, 個人或公司</ol>
                <ol>手機號碼 - 必填, 手機號碼驗證</ol>
                <ol>分類 - 必填, 下拉選單, 預先提供 (CategoryList)</ol>
            </li>
            <li>表單驗證
                <ol>
                    <li>如果驗證通過，以 Toast 告知成功。</li>
                    <li> 如果驗證不過，以 Dialog 告知驗證失敗。頁面上有錯誤訊息。除了手機號碼驗證，都只有必填驗證。</li>
                </ol>
            </li>
            <li>如果還有時間，在驗證通過時，Toast成功後以 ModelUtility 顯示表單的輸入訊息。</li>
        </ol>
    </div>
</div>