<!-- BreadCrumb -->
<div class="breadcrumb-container">
    <ol class="breadcrumbs">
        <li><a ui-sref="index">文件總覽</a></li>
        <li class="">表格</li>
        <li>
            <span class="hide" ui-sref="table.tableComponent" ui-sref-active="show">表格元件</span>
            <span class="hide" ui-sref="table.tableLayout" ui-sref-active="show">表格互動與樣式</span>
            <span class="hide" ui-sref="table.tableBasic" ui-sref-active="show">D-1 一般表格</span>
            <span class="hide" ui-sref="table.tableCheckbox" ui-sref-active="show">D-2 Checkbox表格</span>
            <span class="hide" ui-sref="table.tableCollapse" ui-sref-active="show">D-3可收合表格：母子單① - 母單上無資料</span>
            <span class="hide" ui-sref="table.tableCategory" ui-sref-active="show">D-4 可收合表格：母子單② - 母單上有資料</span>
        </li>
    </ol>
</div>
<!-- BreadCrumb -->
<div class="row content-row">
    <!-- PageHeader -->
    <div class="page-title hide" ui-sref="table.tableComponent" ui-sref-active="show">表格元件</div>
    <div class="page-title hide" ui-sref="table.tableLayout" ui-sref-active="show">表格互動與樣式</div>
    <div class="page-title hide" ui-sref="table.tableBasic" ui-sref-active="show">D-1 一般表格</div>
    <div class="page-title hide" ui-sref="table.tableCheckbox" ui-sref-active="show">D-2 Checkbox表格</div>
    <div class="page-title hide" ui-sref="table.tableCollapse" ui-sref-active="show">D-3可收合表格：母子單① - 母單上無資料</div>
    <div class="page-title hide" ui-sref="table.tableCategory" ui-sref-active="show">D-4 可收合表格：母子單② - 母單上有資料</div>
    <!-- PageHeader -->
    <!-- PageContent -->
    <div class="page-content">
        <ui-view></ui-view>
    </div>
    <!-- PageContent -->
</div>