<p>根據 class name 有不同樣式，如果不能作用則加上disabled (搭配AngularJS 則會使用 ng-disabled判斷)</p>
<h4>動作按鈕</h4>
<div class="example">
    <input type="button" class="k-button k-primary btn-main" value="主要功能按鈕" />
    <input type="button" class="k-button k-primary btn-main" value="主要功能按鈕" disabled="true" />
    <input type="button" class="k-button btn-sub" value="次要功能按鈕" />
    <input type="button" class="k-button btn-sub" value="次要功能按鈕" disabled="true" />
</div>
<pre class="language-markup" prism><code><xmp>
<!-- 主要功能按鈕 -->
<input type="button" class="k-button k-primary btn-main" value="主要功能按鈕" />
<!-- 主要功能按鈕 disabled -->
<input type="button" class="k-button k-primary btn-main" value="主要功能按鈕" disabled="true" />
<!-- 次要功能按鈕 -->
<input type="button" class="k-button btn-sub" value="次要功能按鈕" />
<!-- 次要功能按鈕 disabled -->
<input type="button" class="k-button btn-sub" value="次要功能按鈕" disabled="true" />
</xmp></code></pre>
<hr>
<div class="example">
    <input type="button" class="k-button k-primary btn-delete" value="主要刪除按鈕"/>
    <input type="button" class="k-button btn-sub-delete" value="次要刪除按鈕"/>
</div>
<pre class="language-markup" prism><code><xmp>
<!-- 主要刪除按鈕 -->
<input type="button" class="k-button k-primary btn-delete" value="主要刪除按鈕"/>
<!-- 次要刪除按鈕 -->
<input type="button" class="k-button btn-sub-delete" value="次要刪除按鈕"/>
</xmp></code></pre>
<hr>
<h4>功能按鈕</h4>
<div class="example">
    <input type="button" class="k-button k-primary btn-main-func" value="匯出報表" />
    <input type="button" class="k-button k-primary btn-main-func" value="匯出報表" disabled="true" />
    <input type="button" class="k-button k-primary btn-sub-func" value="匯出結果" />
    <input type="button" class="k-button k-primary btn-sub-func" value="匯出結果" disabled="true"/>
</div>
<pre class="language-markup" prism><code><xmp>
<!-- 與該頁面或表格有關聯的功能按鈕 -->
<input type="button" class="k-button k-primary btn-main-func" value="匯出報表" />
<!-- 與該頁面或表格有關聯的功能按鈕 disabled -->
<input type="button" class="k-button k-primary btn-main-func" value="匯出報表" disabled="true" />
<!-- 不會產生使用結果的功能按鈕(捷徑) -->
<input type="button" class="k-button k-primary btn-sub-func" value="匯出結果" />
<!-- 不會產生使用結果的功能按鈕(捷徑) disabled -->
<input type="button" class="k-button k-primary btn-sub-func" value="匯出結果" disabled="true"/>
</xmp></code></pre>