<h3 class="numeric-order">樣式 class</h3>
<ul class="param-desc">
    <li>$sm: 768px</li>
    <li>$md: 1281px</li>
    <li>$lg: 1620px</li>
</ul>
<table class="table class-table">
    <thead>
    <tr>
        <th>Class</th>
        <th>敘述</th>
        <th>範例</th>
        <th>範例原始碼</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>hide-at-mobile, hide-at-sm</td>
        <td>在小於手機寬度隱藏</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>hide-at-pad, hide-at-md</td>
        <td>在手機寬度以上、pad寬度以下隱藏</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>hide-at-desktop, hide-at-lg</td>
        <td>在pad寬度以上隱藏</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>show-at-mobile, show-at-sm</td>
        <td>在手機寬度以下顯示</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>show-at-pad, show-at-md</td>
        <td>在pad寬度以下顯示</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>align-left</td>
        <td>內容置左</td>
        <td><div class="align-left">內容置左</div></td>
        <td>
            <pre class="language-markup" prism><code><xmp><div class="align-left">內容置左</div></xmp></code></pre>
        <!--<pre class="language-markup"><code><div class="align-left">內容置左</div></code></pre>-->
    </tr>
    <tr>
        <td>align-right</td>
        <td>內容置右</td>
        <td><div class="align-right">內容置右</div></td>
        <td><pre class="language-markup" prism><code><xmp><div class="align-right">內容置右</div></xmp></code></pre></td>
    </tr>
    <tr>
        <td>align-center</td>
        <td>內容置中</td>
        <td><div class="align-center">內容置中</div></td>
        <td><pre class="language-markup" prism><code><xmp><div class="align-center">內容置中</div></xmp></code></pre></td>
    </tr>
    <tr>
        <td>inline-block</td>
        <td>本來多行的block element變成一行 (如果希望div之間要黏在一起，就放一行。如果希望兩個之間有點空隙，每個element放一行)</td>
        <td><div class="inline-block">E 1</div>
            <div class="inline-block">E 2</div><div class="inline-block">E 3</div></td>
        <td>
            <pre class="language-markup" prism>
<code><xmp><div class="inline-block">E 1</div>
<div class="inline-block">E 2</div><div class="inline-block">E 3</div></xmp></code></pre>
        </td>
    </tr>
    <tr>
        <td>break-word</td>
        <td>根據內容斷行時，英文字不會被斷字。</td>
        <td><div class="break-word" style="width: 10em;border: 1px #ccc solid;">根據 Facebook 規定處理</div></td>
        <td><pre class="language-markup" prism><code><xmp><div class="break-word" style="width: 10em;border: 1px #ccc solid;">根據 Facebook 規定處理</div></xmp></code></pre></td>
    </tr>
    <tr>
        <td>no-break</td>
        <td>不根據內容寬度斷行 (右邊範例是為了範例才做的寬度和框線限制，一般狀況不會加框線。)</td>
        <td><div class="no-break" style="width: 5em;border: 1px #ccc solid;">框線是為了示範加的</div></td>
        <td><pre class="language-markup" prism><code><xmp><div class="no-break" style="width: 5em;border: 1px #ccc solid;">框線是為了示範加的</div></xmp></code></pre></td>
    </tr>
    <tr>
        <td>cursor-pointer</td>
        <td>滑鼠鼠標顯示為手指</td>
        <td><div class="cursor-pointer">hover 滑鼠鼠標顯示為手指</div></td>
        <td><pre class="language-markup" prism><code><xmp><div class="cursor-pointer">hover 滑鼠鼠標顯示為手指</div></xmp></code></pre></td>
    </tr>
    <tr>
        <td>cursor-not-allowed</td>
        <td>滑鼠鼠標顯示為不允許</td>
        <td><div class="cursor-not-allowed">hover 滑鼠鼠標顯示為不允許</div></td>
        <td><pre class="language-markup" prism><code><xmp><div class="cursor-not-allowed">hover 滑鼠鼠標顯示為不允許</div></xmp></code></pre></td>
    </tr>
    <tr>
        <td>font-13</td>
        <td>字型大小 13px</td>
        <td><div class="text-dark font-13">顯示文字</div></td>
        <td><pre class="language-markup" prism><code><xmp><div class="text-dark font-13">顯示文字</div></xmp></code></pre></td>
    </tr>
    <tr>
        <td>font-15</td>
        <td>字型大小 15px</td>
        <td><div class="text-dark font-15">顯示文字</div></td>
        <td><pre class="language-markup" prism><code><xmp><div class="text-dark font-15">顯示文字</div></xmp></code></pre></td>
    </tr>
    <tr>
        <td>font-17</td>
        <td>字型大小 17px</td>
        <td><div class="text-dark font-17">顯示文字</div></td>
        <td><pre class="language-markup" prism><code><xmp><div class="text-dark font-17">顯示文字</div></xmp></code></pre></td>
    </tr>
    <tr>
        <td>font-20</td>
        <td>字型大小 20px</td>
        <td><div class="text-dark font-20">顯示文字</div></td>
        <td><pre class="language-markup" prism><code><xmp><div class="text-dark font-20">顯示文字</div></xmp></code></pre></td>
    </tr>
    <tr>
        <td>font-24</td>
        <td>字型大小 24px</td>
        <td><div class="text-dark font-24">顯示文字</div></td>
        <td><pre class="language-markup" prism><code><xmp><div class="text-dark font-24">顯示文字</div></xmp></code></pre></td>
    </tr>
    <tr>
        <td>font-30</td>
        <td>字型大小 30px</td>
        <td><div class="text-dark font-30">顯示文字</div></td>
        <td><pre class="language-markup" prism><code><xmp><div class="text-dark font-30">顯示文字</div></xmp></code></pre></td>
    </tr>
    <tr>
        <td>font-36</td>
        <td>字型大小 36px</td>
        <td><div class="text-dark font-36">顯示文字</div></td>
        <td><pre class="language-markup" prism><code><xmp><div class="text-dark font-36">顯示文字</div></xmp></code></pre></td>
    </tr>
    <tr>
        <td>btn-height-26</td>
        <td>按鈕高度 26px</td>
        <td><button class="k-button k-primary btn-main btn-height-26">查詢</button></td>
        <td><pre class="language-markup" prism><code><xmp><button class="k-button k-primary btn-main btn-height-26">查詢</button></xmp></code></pre></td>
    </tr>
    <tr>
        <td>btn-height-34</td>
        <td>按鈕高度 34px</td>
        <td><button class="k-button k-primary btn-main btn-height-34">查詢</button></td>
        <td><pre class="language-markup" prism><code><xmp><button class="k-button k-primary btn-main btn-height-34">查詢</button></xmp></code></pre></td>
    </tr>
    <tr>
        <td>btn-height-40</td>
        <td>按鈕高度 40px</td>
        <td><button class="k-button k-primary btn-main btn-height-40">查詢</button></td>
        <td><pre class="language-markup" prism><code><xmp><button class="k-button k-primary btn-main btn-height-40">查詢</button></xmp></code></pre></td>
    </tr>
    <tr>
        <td>width-half</td>
        <td>寬度為可佔用寬度的 1/2</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>width-one-third</td>
        <td>寬度為可佔用寬度的 1/3</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>width-quarter</td>
        <td>寬度為可佔用寬度的 1/4</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>line-height-1point2em</td>
        <td>line-height 1.2em</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>responsive-inline-block</td>
        <td>寬度 > 768px 時為 display: <code>inline-block</code>，寬度窄時 <code>display: block</code>。</td>
        <td></td>
        <td></td>
    </tr>
    </tbody>
</table>
<h3 class="numeric-order">顏色 class</h3>
<table class="table class-table">
    <thead>
    <tr>
        <th>Class</th>
        <th>敘述</th>
        <th>範例</th>
        <th>範例原始碼</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>text-dark</td>
        <td>深灰 #595959</td>
        <td><span class="text-dark">深灰文字</span></td>
        <td><pre class="language-markup" prism><code><xmp><span class="text-dark">範例文字</span></xmp></code></pre></td>
    </tr>
    <tr>
        <td>text-deep</td>
        <td>淺灰 #999</td>
        <td><span class="text-deep">淺灰文字</span></td>
        <td><pre class="language-markup" prism><code><xmp><span class="text-deep">範例文字</span></xmp></code></pre></td>
    </tr>
    <tr>
        <td>title-text</td>
        <td>標題灰 #959595</td>
        <td><span class="title-text">標題灰文字</span></td>
        <td><pre class="language-markup" prism><code><xmp><span class="title-text">範例文字</span></xmp></code></pre></td>
    </tr>
    <tr>
        <td>text-blue</td>
        <td>藍 #469be5</td>
        <td><span class="text-blue">藍文字</span></td>
        <td><pre class="language-markup" prism><code><xmp><span class="text-blue">範例文字</span></xmp></code></pre></td>
    </tr>
    <tr>
        <td>text-link-blue</td>
        <td>連結藍 #428BCA</td>
        <td><span class="text-link-blue">連結藍文字</span></td>
        <td><pre class="language-markup" prism><code><xmp><span class="text-link-blue">範例文字</span></xmp></code></pre></td>
    </tr>
    <tr>
        <td>text-red</td>
        <td>紅 #ff655d</td>
        <td><span class="text-red">紅文字</span></td>
        <td><pre class="language-markup" prism><code><xmp><span class="text-red">範例文字</span></xmp></code></pre></td>
    </tr>
    <tr>
        <td>available-message</td>
        <td>可使用 #71c171</td>
        <td><span class="available-message">可使用</span></td>
        <td><pre class="language-markup" prism><code><xmp><span class="available-message">範例文字</span></xmp></code></pre></td>
    </tr>
    <tr>
        <td>none-available-message</td>
        <td>不可使用 #ff655d</td>
        <td><span class="none-available-message">不可使用</span></td>
        <td><pre class="language-markup" prism><code><xmp><span class="none-available-message">範例文字</span></xmp></code></pre></td>
    </tr>
    <tr>
        <td>logo-red</td>
        <td>91app logo的紅色 #e32412</td>
        <td><i class="icon icon-logo-91app logo-red font-24"></i></td>
        <td><pre class="language-markup" prism><code><xmp><i class="icon icon-logo-91app logo-red font-24"></i></xmp></code></pre></td>
    </tr>
    </tbody>
</table>
<h3 class="numeric-order">間隙對其用 class (padding, margin)</h3>
<table class="table class-table">
    <thead>
    <tr>
        <th>Class</th>
        <th>敘述</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>all-init</td>
        <td>上 下 左 右 margin 和 padding 都歸 0</td>
    </tr>
    <tr>
        <td>margin-init</td>
        <td>上 下 左 右 margin 歸 0</td>
    </tr>
    <tr>
        <td>margin-top-init</td>
        <td>上方 margin 歸 0</td>
    </tr>
    <tr>
        <td>margin-right-init</td>
        <td>右方 margin 歸 0</td>
    </tr>
    <tr>
        <td>margin-left-init</td>
        <td>左方 margin 歸 0</td>
    </tr>
    <tr>
        <td>margin-bottom-init</td>
        <td>下方 margin 歸 0</td>
    </tr>
    <tr>
        <td>padding-init</td>
        <td>上 下 左 右 內間隙歸 0</td>
    </tr>
    <tr>
        <td>padding-top-init</td>
        <td>上方 padding 歸 0</td>
    </tr>
    <tr>
        <td>padding-right-init</td>
        <td>右方 padding 歸 0</td>
    </tr>
    <tr>
        <td>padding-left-init</td>
        <td>左方 padding 歸 0</td>
    </tr>
    <tr>
        <td>padding-bottom-init</td>
        <td>下方 padding 歸 0</td>
    </tr>
    <tr>
        <td>margin-top-10</td>
        <td>上方 margin 10px</td>
    </tr>
    <tr>
        <td>margin-right-10</td>
        <td>右方 margin 10px</td>
    </tr>
    <tr>
        <td>margin-bottom-10</td>
        <td>下方 margin 10px</td>
    </tr>
    <tr>
        <td>margin-left-10</td>
        <td>左方 margin 10px</td>
    </tr>
    <tr>
        <td>over-hidden</td>
        <td>overflow:hidden</td>
    </tr>
    </tbody>
</table>
