<!-- BreadCrumb -->
<div class="breadcrumb-container">
    <ol class="breadcrumbs">
        <li><a ui-sref="index">文件總覽</a></li>
        <li>Utility</li>
        <li>
            <span class="hide" ui-sref="utility.dialog" ui-sref-active="show">Dialog Utility</span>
            <span class="hide" ui-sref="utility.model" ui-sref-active="show">Model Utility</span>
            <span class="hide" ui-sref="utility.icon" ui-sref-active="show">Icon與圖片</span>
            <span class="hide" ui-sref="utility.regex" ui-sref-active="show">Regex Config</span>
            <span class="hide" ui-sref="utility.validation" ui-sref-active="show">驗證</span>
            <span class="hide" ui-sref="utility.urlUtility" ui-sref-active="show">Url Utility</span>
            <span class="hide" ui-sref="utility.notification" ui-sref-active="show">舊的 Toast</span>
            <span class="hide" ui-sref="utility.notation" ui-sref-active="show">For Sample</span>
        </li>
    </ol>
</div>
<!-- BreadCrumb -->
<div class="row content-row">
    <!-- PageHeader -->
    <div class="page-title hide" ui-sref="utility.dialog" ui-sref-active="show">Dialog Utility</div>
    <div class="page-title hide" ui-sref="utility.model" ui-sref-active="show">Model Utility</div>
    <div class="page-title hide" ui-sref="utility.icon" ui-sref-active="show">Icon與圖片</div>
    <div class="page-title hide" ui-sref="utility.regex" ui-sref-active="show">Regex Config</div>
    <div class="page-title hide" ui-sref="utility.validation" ui-sref-active="show">驗證</div>
    <div class="page-title hide" ui-sref="utility.urlUtility" ui-sref-active="show">Url Utility</div>
    <div class="page-title hide" ui-sref="utility.toastUtility" ui-sref-active="show">Toast Utility</div>
    <div class="page-title hide" ui-sref="utility.notification" ui-sref-active="show">舊的 Toast</div>
    <div class="page-title hide" ui-sref="utility.notation" ui-sref-active="show">Sample 頁使用</div>
    <!-- PageHeader -->
    <!-- PageContent -->
    <div class="page-content">
        <ui-view></ui-view>
    </div>
    <!-- PageContent -->
</div>