<h4>Prism</h4>
<p>程式碼 highlight</p>
<p>從 <a href="">Prism 下載頁</a> 選取所要的 plugin和 css 風格並下載。</p>
<p>目前使用的有：</p>
<ul class="param-desc">
    <li>theme: prism-okaidia</li>
    <li>languages: markup, css, clike, javascript, scss, typescript</li>
    <li>plugins:line-highlight, line-numbers, toolbar, remove-initial-line-feed, show-language</li>
</ul>
<p>和 angular 一起使用需使用 prism directive (scripts/ng-prism.js)</p>
<h5>html</h5>
<p>多包一個 &lt;xmp&gt; 讓 html markup 可以完整呈現。</p>
<pre class="language-markup" prism><code><xmp>
<pre class="language-markup"  prism><code><xmp>
    <h1>Code Here.....</h1>
</xmp></code></pre>
</xmp></code></pre>
<h5>css, scss, javascript, typescript</h5>
<p>其他語言只要指定語言 class即可，需要顯示行數時加上 class <code>line-numbers</code></p>
<pre class="language-markup line-numbers" prism><code><xmp>
<pre class="language-typescript line-numbers"  prism><code>
public Action():void{
    code here....
}
</code></pre>
</xmp></code></pre>
<hr>
<h4>收合過長區塊</h4>
<div class="example">
    <h4 class="toggle-trigger collapsed" data-toggle="collapse" data-target="#openSample">html <span class="trigger-indicator"></span></h4>
    <div class="lline-numbers collapse" id="openSample">得試看據流呢向有可息花！小西成新有難縣、銀生真表你，公作的實們先列不觀動，了準平的事推輪她！要評唱命我多情寫會去。事機過差企來都市著我強護；年心詩正在，陸否先不園，也生同熱者法。綠性統我……出教跑年快、是市裡黑的上看卻愛裡產只提明甚每媽動的深聲里食件找很果生保是。

    </div>
</div>
<pre class="language-markup"  prism><code><xmp>
<h4 class="toggle-trigger collapsed"
    data-toggle="collapse"
    data-target="#basicFormHtml">html
    <span class="trigger-indicator"></span></h4>
<pre class="language-markup line-numbers collapse" id="basicFormHtml" prism>...</pre>
</xmp></code></pre>
<ul class="param-desc">
    <li>利用 <a href="http://getbootstrap.com/javascript/#collapse" target="_blank">Bootstrap Javascript Collapse</a> 達成。加上客製 css 達到效果。</li>
    <li>點按收合 tag 加上 class <code>toggle-trigger</code>>，如果要一開始就收合。需加上 <code>collapsed</code>，並加上<code>data-toggle="collapse"</code></li>
    <li><code>data-target="#compositeFormHtml"</code> 指向要收和目標</li>
    <li>需要指示文字（上面的範例的 點按開啟、點按關閉）時加上 <code>&lt;span class="trigger-indicator"&gt;&lt;;/span&gt;</code></li>
    <li>要被控制的 html tag, 加上 class <code>collapse</code>, id 和 上面 data-target 一致</li>
</ul>
<hr>
<h4>藍底、灰虛線框區塊</h4>
<p class="desc">藍底、灰虛線框區塊描述，通常用於 檔案位置: 引用: 說明。</p>
<pre class="language-markup"  prism><code><xmp>
<p class="desc"></p>
</xmp></code></pre>
<hr>
<h4>範例區塊</h4>
<div class="example">內容會以範例框包起。</div>
<pre class="language-markup"  prism><code><xmp>
<div class="example"></div>
</xmp></code></pre>
<hr>
<h4>參數區塊</h4>
<ul class="param-desc">
    <li><code>參數</code>:參數說明 (非必填)</li>
</ul>
<pre class="language-markup"  prism><code><xmp>
    <ul class="param-desc">
        <li><code>message</code>:</li>
    </ul>
</xmp></code></pre>
<hr>