<p>Panel的範例與架構</p>
<div class="example">
    <div class="panel panel-default">
        <div class="panel-heading">Panel 標題文字</div>
        <div class="panel-body">Panel 內容放在此...</div>
    </div>
</div>
<pre class="language-markup" prism><code><xmp>
<div class="panel panel-default">
    <div class="panel-heading">Panel 標題文字</div>
    <div class="panel-body">Panel 內容放在此...</div>
</div>
</xmp></code></pre>
<hr>
<h4>Panel 和表單結合</h4>
<p>以下為了下方橫跨按鈕可以正確顯示，沒有用範例藍框框起來。</p>
<form class="form-horizontal" name="">
    <div class="panel panel-default">
        <div class="panel-heading">商店資訊</div>
        <div class="panel-body">
            <div class="form-group clearfix">
                <label ns-required-star class="col-sm-2 control-label">開店身份</label>
                <div class="col-sm-10 bootstrap-top-spacing">
                    個人
                </div>
            </div>
            <div class="form-group clearfix">
                <label ns-required-star class="col-sm-2 control-label">電子信箱</label>
                <div class="col-sm-10 bootstrap-top-spacing">
                    <span>peicheng@91app.com</span>
                </div>
            </div>
            <div class="form-group clearfix">
                <label ns-required-star class="col-sm-2 control-label">服務電話</label>
                <div class="col-sm-10 bootstrap-top-spacing">
                    <div class="note-on-top">格式範例：02-12345678，服務電話將顯示於官網</div>
                    <input type="text"
                           class="form-control form-control-half-width">
                </div>
            </div>
            <div class="form-group clearfix">
                <label ns-required-star class="col-sm-2 control-label">測試欄位</label>
                <div class="col-sm-10">
                    <input type="text"
                           class="form-control form-control-half-width">
                </div>
            </div>
        </div>
    </div>
    <div class="action-container">
        <div class="action">
            <input type="button" class="k-button k-primary btn-main" value="主要功能按鈕"/>
        </div>
    </div>
</form>
<hr>
<h4>搜尋區</h4>
<div class="condition-search-content">
    <div class="condition-search">
        <div class="col-lg-1">條件查詢</div>
        <div class="col-lg-11">
            <div class="condition-item item-clear">
                <span class="item-title">商店</span>
                <div class="item-content">
                    <select name="SelectedStore"
                            ng-show="SalePageCtrl.ShopList.length > 1"
                            kendo-drop-down-list
                            k-data-source="SalePageCtrl.ShopList"
                            k-data-text-field="'ShopName'"
                            k-data-value-field="'ShopId'"
                            ng-model="SalePageCtrl.SelectedStore"
                            class="form-control"></select>
                    <span ng-hide="SalePageCtrl.ShopList.length > 1"> {{SalePageCtrl.ShopList[0].ShopName}}</span>
                </div>
            </div>
            <div class="condition-item item-clear">
                <span class="item-title">商品分類</span>
                <div class="item-content" ng-if="SalePageCtrl.ParentCategoryList.length !== 0">
                    <div class="item-sub-elements">
                        <select name="SelectedStore"
                                kendo-drop-down-list
                                k-option-label="'所有分類'"
                                k-data-source="SalePageCtrl.ParentCategoryList"
                                k-data-text-field="'Name'"
                                k-data-value-field="'Id'"
                                k-on-change="SalePageCtrl.CategoryChanged()"
                                ng-model="SalePageCtrl.ParentCategory"
                                class="form-control"></select>
                    </div>
                    <div class="item-sub-elements"
                         ng-show="SalePageCtrl.ChildrenDropdownlistFlag">
                        <select name="SelectedStore"
                                kendo-drop-down-list
                                k-option-label="'請選擇分類'"
                                k-data-source="SalePageCtrl.ChildrenCategoryList"
                                k-data-text-field="'Name'"
                                k-data-value-field="'Id'"
                                ng-model="SalePageCtrl.ChildrenCategory"
                                class="form-control"></select>
                    </div>
                </div>
                <div class="item-content" ng-if="SalePageCtrl.ParentCategoryList.length === 0">
                    <span>查無資料</span>
                </div>
            </div>
            <div class="condition-item item-clear">
                <span class="item-title">時間區間</span>
                <div class="item-content">
                    <div class="item-sub-elements">
                        <select name="SelectedDateTimeInterval"
                                kendo-drop-down-list
                                k-data-source="SalePageCtrl.DatetimeIntervalList"
                                k-data-text-field="'Title'"
                                k-data-value-field="'Id'"
                                class="form-control"
                                ng-model="SalePageCtrl.DatetimeIntervalSelected"></select></div>
                    <div class="item-sub-elements">
                        <ns-date-time-range-picker
                                ng-show="SalePageCtrl.DatetimeIntervalSelected !== 'null'"
                                from-date="SalePageCtrl.DateTimeStart"
                                to-date="SalePageCtrl.DateTimeEnd"></ns-date-time-range-picker>
                    </div>
                </div>
            </div>
            <div class="condition-item item-clear">
                <span class="item-title">商品頁狀態</span>
                <div class="item-content">
                    <input type="radio" class="k-radio" name="SalePageIsClosed" value="null"
                           ng-model="SalePageCtrl.SalePageIsClosed" id="SalePageIsClosed-null">
                    <label class="k-radio-label item-sub-elements" for="SalePageIsClosed-null">不指定</label>
                    <input type="radio" class="k-radio" name="SalePageIsClosed" value="false"
                           ng-model="SalePageCtrl.SalePageIsClosed" id="SalePageIsClosed-false">
                    <label class="k-radio-label item-sub-elements" for="SalePageIsClosed-false">開啟</label>
                    <input type="radio" class="k-radio" name="SalePageIsClosed" value="true"
                           ng-model="SalePageCtrl.SalePageIsClosed" id="SalePageIsClosed-true">
                    <label class="k-radio-label item-sub-elements" for="SalePageIsClosed-true">關閉</label>
                </div>
            </div>
            <div class="condition-item item-clear">
                <span class="item-title">商品頁序號</span>
                <div class="item-content">
                    <input type="number" class="form-control" ng-model="SalePageCtrl.Id"/>
                </div>
            </div>
            <div class="condition-item item-clear">
                <span class="item-title">商品名稱</span>
                <div class="item-content">
                    <input type="text" class="form-control" ng-model="SalePageCtrl.SalePageTitle"/>
                </div>
            </div>
            <div class="condition-item item-clear">
                <span class="item-title">商品料號</span>
                <div class="item-content">
                    <input type="text" class="form-control"
                           ng-model="SalePageCtrl.SaleProductSKUOuterId"/>
                </div>
            </div>
            <div class="condition-item item-clear">
                <a href="" ng-click="SalePageCtrl.AdvancedSearchFlag = !SalePageCtrl.AdvancedSearchFlag"
                   class="condition-form">
                    進階查詢
                    <i class="icon icon-triangle"
                       ng-class="{'icon-triangle-up':SalePageCtrl.AdvancedSearchFlag}"></i>
                </a>
            </div>
            <div class="condition-advanced item-clear" ng-class="{'open':SalePageCtrl.AdvancedSearchFlag}">
                <div class="condition-item item-clear">
                    <span class="item-title">配送方式</span>
                    <div class="item-content">
                        <select name="DeliverType"
                                kendo-drop-down-list
                                k-option-label="'所有方式'"
                                k-data-source="SalePageCtrl.DeliverTypeList"
                                k-data-text-field="'TypeName'"
                                k-data-value-field="'Id'"
                                class="form-control"
                                ng-model="SalePageCtrl.DeliverTypeSelected"></select>
                    </div>
                </div>
                <div class="condition-item item-clear">
                    <span class="item-title">查詢活動商品</span>
                    <div class="item-content">
                        <input type="radio" class="k-radio" name="IsLimit" value="null" id="IsLimit-null"
                               ng-model="SalePageCtrl.IsLimit">
                        <label class="k-radio-label item-sub-elements" for="IsLimit-null">不指定</label>
                        <input type="radio" class="k-radio" name="IsLimit" value="true" id="IsLimit-true"
                               ng-model="SalePageCtrl.IsLimit">
                        <label class="k-radio-label item-sub-elements" for="IsLimit-true">所有活動商品</label>
                        <input type="radio" class="k-radio" name="IsLimit" value="false" id="IsLimit-false"
                               ng-model="SalePageCtrl.IsLimit">
                        <label class="k-radio-label item-sub-elements" for="IsLimit-false">所有非活動商品</label>
                    </div>
                </div>
                <div class="condition-item item-clear">
                    <span class="item-title">可售數量</span>
                    <div class="item-content">
                        <div class="item-sub-elements item-sub-combo-elements">
                            <input type="radio" class="k-radio" id="SellableType-None" name="SellableType"
                                   value="None"
                                   ng-model="SalePageCtrl.SellableType">
                            <label class="k-radio-label single-input-label"
                                   for="SellableType-None">不指定</label>
                        </div>
                        <div class="item-sub-elements item-sub-combo-elements">
                            <input type="radio" class="k-radio" id="SellableType-GreaterThan"
                                   name="SellableType" value="GreaterThan"
                                   ng-model="SalePageCtrl.SellableType">
                            <label class="k-radio-label combo-input-label"
                                   for="SellableType-GreaterThan">大於</label>
                            <input type="number"
                                   class="form-control"
                                   style="width: 8em"
                                   ng-model="SalePageCtrl.SellMinCount"
                                   ng-disabled="SalePageCtrl.SellableType !== 'GreaterThan'"/>
                        </div>
                        <div class="item-sub-elements item-sub-combo-elements">
                            <input type="radio" class="k-radio" id="SellableType-LessThan"
                                   name="SellableType" value="LessThan"
                                   ng-model="SalePageCtrl.SellableType">
                            <label class="k-radio-label combo-input-label"
                                   for="SellableType-LessThan">小於</label>
                            <input type="number"
                                   class="form-control"
                                   style="width: 8em"
                                   ng-model="SalePageCtrl.SellMaxCount"
                                   ng-disabled="SalePageCtrl.SellableType !=='LessThan'"/></div>
                    </div>
                </div>
                <div class="condition-item item-clear">
                    <span class="item-title">交期</span>
                    <div class="item-content">
                        <select name="SaleProductShippingTypeDef"
                                kendo-drop-down-list
                                k-option-label="'不指定'"
                                k-data-source="SalePageCtrl.ApplyTypeList"
                                k-data-text-field="'Title'"
                                k-data-value-field="'Value'"
                                class="form-control"
                                ng-model="SalePageCtrl.SaleProductShippingTypeDef"></select>
                    </div>
                </div>
            </div>
            <button type="submit" class="k-button k-primary btn-main">
                <i class="fa fa-search"></i> 條件查詢
            </button>
        </div>
    </div>
    <div class="table-split"></div>
    <div class="condition-search-relate">
        <div class="condition-toolBtn">相關功能</div>
        <input type="button"
               class="k-button k-primary btn-main-func condition-toolBtn main-btn-border"
               value="新增商品"
               ng-click="SalePageCtrl.OpenCreateSalePage()"/>
        <a href="/Shop/PaymentShipping" target="_blank" class="k-button btn-sub-func condition-toolBtn">付款/配送設定</a>
        <a href="/Promotion/ActivityList" target="_blank" class="k-button btn-sub-func condition-toolBtn">商品活動設定</a>
        <a href="/Report/HotSaleList" target="_blank" class="k-button btn-sub-func condition-toolBtn">Top10熱銷商品</a>
    </div>
</div>