<h4>表單驗證的regular expression</h4>
<p class="desc">
    檔案位置: <code>~/components/ns-regex/</code><br>
    引用: <code>munch.RegexEntity.IRegexConfigEntity</code></p>
<p>表單驗證時使用的pattern，在表單需要驗證的輸入 element (如 input) 加上 <code>ng-pattern</code>。詳細 regular expression 內容在 <code>~/components/ns-regex/regex.config.ts</code>。</p>
<hr>
<p>下列範例電子信箱 <code>ng-pattern="UtilityRegexCtrl.RegexPattern.Email"</code></p>
<p>電話表單綜合 字數 （<code>minlength="9"</code>, <code>maxlength="11"</code>）和 <code>ng-pattern="UtilityRegexCtrl.RegexPattern.ServicePhone"</code> 做驗證。<code>type="tel"</code>在手機才會出現只有數字鍵盤。</p>
<div class="example">
    <form class="form-container form-horizontal"
          name="signupForm"
          novalidate
          ng-submit="UtilityRegexCtrl.SignUp(UtilityRegexCtrl.SignupData, signupForm)">
        <div class="form-group">
            <label class="col-sm-2">電子信箱</label>
            <div class="col-sm-10">
                <input type="email"
                       class="form-control"
                       name="Email"
                       placeholder="填寫電子信箱"
                       ng-class="{'input-error': signupForm.$submitted && signupForm.Email.$invalid}"
                       ng-pattern="UtilityRegexCtrl.RegexPattern.Email"
                       required
                       autocapitalize="off"
                       autocorrect="off"
                       ng-model="UtilityRegexCtrl.SignupData.Email">
                <!--電子信箱錯誤訊息-->
                <div ng-class="{'show-message': signupForm.$submitted && signupForm.Email.$invalid}"
                     ng-messages="signupForm.Email.$error"
                     class="error-message">
                    <div ng-message="pattern">電子信箱格式有誤</div>
                    <div ng-messages-include="./errorMessage.html"></div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2">客服電話</label>
            <div class="col-sm-10">
                <input type="tel"
                       minlength="9"
                       maxlength="11"
                       class="form-control"
                       placeholder="客服電話"
                       name="PhoneCRM" required
                       ng-pattern="UtilityRegexCtrl.RegexPattern.ServicePhone"
                       ng-class="{'input-error': signupForm.$submitted && signupForm.PhoneCRM.$invalid}"
                       ng-model="UtilityRegexCtrl.SignupData.PhoneCRM">
                <!--錯誤訊息-->
                <div ng-class="{'show-message': signupForm.$submitted && signupForm.PhoneCRM.$invalid}"
                     ng-messages="signupForm.PhoneCRM.$error"
                     class="error-message">
                    <div ng-message="pattern">請填寫正確的電話號碼</div>
                    <div ng-message="minlength">電話號碼含區碼，最少為9位數</div>
                    <div ng-messages-include="./errorMessage.html"></div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2">HttpURLPattern</label>
            <div class="col-sm-10">
                <input type="text"
                       class="form-control"
                       placeholder="HttpURLPattern"
                       name="HttpURLPattern" required
                       ng-pattern="UtilityRegexCtrl.RegexPattern.HttpURLPattern"
                       ng-class="{'input-error': signupForm.$submitted && signupForm.HttpURLPattern.$invalid}"
                       ng-model="UtilityRegexCtrl.SignupData.HttpURLPattern">
                <!--錯誤訊息-->
                <div ng-class="{'show-message': signupForm.$submitted && signupForm.HttpURLPattern.$invalid}"
                     ng-messages="signupForm.HttpURLPattern.$error"
                     class="error-message">
                    <div ng-message="pattern">HttpURLPattern Error</div>
                    <div ng-messages-include="./errorMessage.html"></div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="k-button k-primary btn-main">送出</button>
        </div>
    </form>
</div>
<pre class="language-markup" prism><code><xmp>
<form class="form-container form-horizontal"
      name="signupForm"
      novalidate
      ng-submit="UtilityRegexCtrl.SignUp(UtilityRegexCtrl.SignupData, signupForm)">
    <div class="form-group">
        <label class="col-sm-2">電子信箱</label>
        <div class="col-sm-10">
            <input type="email"
                   class="form-control"
                   name="Email"
                   placeholder="填寫電子信箱"
                   ng-class="{'input-error': signupForm.$submitted && signupForm.Email.$invalid}"
                   ng-pattern="UtilityRegexCtrl.RegexPattern.Email"
                   ng-keydown="UtilityRegexCtrl.isShowErrorMessage = false"
                   required
                   autocapitalize="off"
                   autocorrect="off"
                   ng-required="true"
                   ng-model="UtilityRegexCtrl.SignupData.Email">
            <!--電子信箱錯誤訊息-->
            <div ng-class="{'show-message': signupForm.$submitted && signupForm.Email.$invalid}"
                 ng-messages="signupForm.Email.$error"
                 class="error-message">
                <div ng-message="pattern">電子信箱格式有誤</div>
                <div ng-messages-include="./errorMessage.html"></div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2">客服電話</label>
        <div class="col-sm-10">
            <input type="tel"
                   minlength="9"
                   maxlength="11"
                   class="form-control"
                   placeholder="客服電話"
                   name="PhoneCRM" required
                   ng-pattern="UtilityRegexCtrl.RegexPattern.ServicePhone"
                   ng-class="{'input-error': signupForm.$submitted && signupForm.PhoneCRM.$invalid}"
                   ng-model="UtilityRegexCtrl.SignupData.PhoneCRM">
            <!--錯誤訊息-->
            <div ng-class="{'show-message': signupForm.$submitted && signupForm.PhoneCRM.$invalid}"
                 ng-messages="signupForm.PhoneCRM.$error"
                 class="error-message">
                <div ng-message="pattern">請填寫正確的電話號碼</div>
                <div ng-message="minlength">電話號碼含區碼，最少為9位數</div>
                <div ng-messages-include="./errorMessage.html"></div>
            </div>
        </div>
    </div>
    <div class="form-group">
            <label class="col-sm-2">網址</label>
            <div class="col-sm-10">
                <input type="text"
                       class="form-control"
                       placeholder="HttpURLPattern"
                       name="HttpURLPattern" required
                       ng-pattern="UtilityRegexCtrl.RegexPattern.HttpURLPattern"
                       ng-class="{'input-error': signupForm.$submitted && signupForm.HttpURLPattern.$invalid}"
                       ng-model="UtilityRegexCtrl.SignupData.HttpURLPattern">
                <!--錯誤訊息-->
                <div ng-class="{'show-message': signupForm.$submitted && signupForm.HttpURLPattern.$invalid}"
                     ng-messages="signupForm.HttpURLPattern.$error"
                     class="error-message">
                    <div ng-message="pattern">網址格式錯誤</div>
                    <div ng-messages-include="./errorMessage.html"></div>
                </div>
            </div>
        </div>
    <div class="form-group">
        <button type="submit" class="k-button k-primary btn-main">送出</button>
    </div>
</form></xmp></code></pre>
<hr>
<h4>目前可以使用的驗證</h4>
<ul class="param-desc">
    <li><code>ChineseAndEnglish</code>: 中文和英文</li>
    <li><code>Email</code>: email</li>
    <li><code>NumberOnly</code>: 只限數字</li>
    <li><code>NumberAndEnglish</code>: 數字和英文</li>
    <li><code>Phone</code>: 台灣手機號碼</li>
    <li><code>Date</code>: 日期</li>
    <li><code>Time</code>: 時間</li>
    <li><code>NumberEnglishCharacter</code>: login 名字包含中英文和符號</li>
    <li><code>ZhCharacter</code>: 中文名字只能有中文</li>
    <li><code>ZhEnNumChar</code>: 名稱可以包含中文 英文 數字 特殊符號</li>
    <li><code>ZhEnNumber</code>: 公司名稱包含中英文 數字</li>
    <li><code>DomainPattern</code>: 免付費 domain 英文 數字 _ -</li>
    <li><code>URLPattern</code>: 官網 url 不需http://開頭</li>
    <li><code>HttpURLPattern</code>: 一般 Url http 或 https 開頭</li>
    <li><code>EngNamePattern</code>: 英文姓名 英文 & - 空格</li>
    <li><code>Telephone</code>: 電話號碼 數字 - #</li>
    <li><code>ServicePhone</code>: 電話號碼 數字 0開頭 後面0-9皆可</li>
    <li><code>AuthCodePattern</code>: 重設密碼的authCode是 數字 + 大小寫英文 組成，而且是在網址的最後(/之前)</li>
</ul>