<p class="desc">
    檔案位置: <code>~/components/ns-notification/</code><br>
    引用: <code>munch.NotificationEntity.INotificationEntity</code></p>
<p>在 UX 文件上通常稱為 toast，會自動消失。</p>
<p>通常使用客製化設定來達到 UI 樣式需求，第一個變數需塞入<code>&lt;munch.NotificationEntity.INotificationInfo&gt;</code> object</p>
<p>新版 toast 可以使用 <a ui-sref="utility.toastUtility">ns-toast</a></p>
<hr>
<h4>使用方式</h4>
<div class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-2">TypeScript</label>
        <div class="col-sm-10">
                            <pre class="language-typescript" prism><code>
var info:munch.Utilities.INotificationInfo = {message: '修改完成'};
this.NotificationUtility.ShowNotify(info,
                                    this.NotificationUtility.NotificationType.Custom,
                                    2000,
                                    this.NotificationUtility.positionEnum.Center)</code></pre>
        </div>
        <label class="col-sm-2">呼叫時參數</label>
        <div class="col-sm-10">
            <pre class="language-typescript" prism><code>
ShowNotify(data: string|any,
           type: string,
           autoHideAfter?: number,
           position?: NotificationPositionEnum,
           afterAction?:AfterNotificationActionEnum,
           redirectHref?:string)</code></pre>
            <ul class="param-desc">
                <li><code>data</code>: 一般文字，custom要給 <code>INotificationInfoINotificationInfo</code> object</li>
                <li><code>type</code>: 類型，UI 指定樣式為 <code>this.NotificationUtility.NotificationType.Custom</code>
                    <ul>
                        <li>this.NotificationUtility.NotificationType.Custom</li>
                        <li>this.NotificationUtility.NotificationType.Success</li>
                        <li>this.NotificationUtility.NotificationType.Warning</li>
                        <li>this.NotificationUtility.NotificationType.Info</li>
                        <li>this.NotificationUtility.NotificationType.Error</li>
                    </ul>
                </li>
                <li><code>autoHideAfter</code>: 多少毫秒後自動隱藏，目前 UX 規範是2秒，意即 2000 ms。</li>
                <li><code>position</code>: 頁面上位置，UX規範使用 <code>this.NotificationUtility.positionEnum.Center</code>
                    <ul>
                        <li>this.NotificationUtility.positionEnum.Center</li>
                        <li>this.NotificationUtility.positionEnum.TopRight</li>
                        <li>this.NotificationUtility.positionEnum.BottomRight</li>
                    </ul>
                </li>
                <li><code>afterAction</code>: 自動隱藏後的動作。(非必填)(非必填)
                    <ul>
                        <li>重整: this.NotificationUtility.AfterNotificationActionEnum.Reload</li>
                        <li>關閉視窗: this.NotificationUtility.AfterNotificationActionEnum.CloseWindow (只有使用 Javascript 開啟的 Window 才能在這邊關閉)</li>
                        <li>導至別頁: this.NotificationUtility.AfterNotificationActionEnum.Redirect</li>
                        <li>無動作: this.NotificationUtility.AfterNotificationActionEnum.None</li>
                    </ul>
                </li>
                <li><code>redirectHref</code>: 自動隱藏後如果要導到另外一頁，該頁網址(配合 afterAction使用)。(非必填)</li>
            </ul>
        </div>
    </div>
</div>
<hr>
<h4>範例</h4>
<h5>1. 基本 Toast 範例</h5>
<div class="example">
    <button class="k-button k-primary btn-main" ng-click="ElementToastCtrl.showCustomNotificationOnCenter()">基本 Toast 範例</button>
</div>
<pre class="language-markup" prism><code><xmp>
<button class="k-button k-primary btn-main" ng-click="ElementToastCtrl.showCustomNotificationOnCenter()">基本 Toast 範例</button>
            </xmp></code></pre>
<pre class="language-typescript" prism><code>
public showCustomNotificationOnCenter():void {
    var info:munch.NotificationEntity.INotificationInfo = {message: '修改完成'};
    this.NotificationUtility.ShowNotify(info,
                                        this.NotificationUtility.NotificationType.Custom,
                                        2000,
                                        this.NotificationUtility.positionEnum.Center);
}</code></pre>
<h5>2. Toast 消失後自動重整</h5>
<div class="example">
    <button class="k-button k-primary btn-main" ng-click="ElementToastCtrl.showCustomNotificationOnCenterReload()">Toast 消失後自動重整</button>
</div>
<pre class="language-markup" prism><code><xmp>
<button class="k-button k-primary btn-main" ng-click="ElementToastCtrl.showCustomNotificationOnCenterReload()">Toast 消失後自動重整</button>
            </xmp></code></pre>
<pre class="language-typescript" prism><code>
public showCustomNotificationOnCenterReload():void {
    var info:munch.NotificationEntity.INotificationInfo = {message: '刪除完成'};
    this.NotificationUtility.ShowNotify(info,
                                        this.NotificationUtility.NotificationType.Custom,
                                        2000,
                                        this.NotificationUtility.positionEnum.Center,
                                        this.NotificationUtility.afterNotificationActionEnum.Reload);
}</code></pre>
<h5>3. Toast 消失後自動導到其他頁面</h5>
<div class="example">
    <button class="k-button k-primary btn-main" ng-click="ElementToastCtrl.showCustomNotificationOnCenterRedirect()">Toast 消失後自動導到其他頁面</button>
</div>
<pre class="language-markup" prism><code><xmp>
<button class="k-button k-primary btn-main" ng-click="ElementToastCtrl.showCustomNotificationOnCenterRedirect()">Toast 消失後自動導到其他頁面</button>
</xmp></code></pre>
<pre class="language-typescript" prism><code>
public showCustomNotificationOnCenterRedirect():void {
    var info:munch.NotificationEntity.INotificationInfo = {message: '導回到首頁'};
    this.NotificationUtility.ShowNotify(info,
                                        this.NotificationUtility.NotificationType.Custom,
                                        2000,
                                        this.NotificationUtility.positionEnum.Center,
                                        this.NotificationUtility.afterNotificationActionEnum.Redirect,
                                        '/');
}
</code></pre>
<h5>4. 另開新視窗， 在新視窗啟動 Toast 消逝後會關閉新視窗</h5>
<div class="example">
    <button class="k-button k-primary btn-main" ng-click="ElementToastCtrl.openNotificationSampleWindow()">按我另開新視窗， 在新視窗啟動 Toast 消逝後會關閉新視窗</button>
</div>
<pre class="language-markup" prism><code><xmp>
<button class="k-button k-primary btn-main" ng-click="ElementToastCtrl.openNotificationSampleWindow()">按我另開新視窗， 在新視窗啟動 Toast 消逝後會關閉新視窗</button>
</xmp></code></pre>
<pre class="language-typescript" prism><code>
// 要先開視窗才能用js關
public openNotificationSampleWindow():void{
    this.WindowUtility.Open("/sample_uxdoc_mapping/example/notificationsample.html", "Notification 元件");
}
// 關閉新視窗並且重整原本視窗
public showCustomNotificationOnCenterCloseWindow():void {
    var info:munch.NotificationEntity.INotificationInfo = {message: '修改完成'};
    this.NotificationUtility.ShowNotify(info,
                                        this.NotificationUtility.NotificationType.Custom,
                                        2000,
                                        this.NotificationUtility.positionEnum.Center,
                                        this.NotificationUtility.afterNotificationActionEnum.CloseWindow);
}
</code></pre>
<hr>
<h4>其他 Kendo Notification 範例</h4>
<div class="margin-bottom-10">
    <button class="btn btn-default" type="button"
            ng-click="ElementToastCtrl.showNotificationOnCenter()">
        <i class="fa fa-search"></i>顯示於中央的notification
    </button>
</div>
<div class="margin-bottom-10">
    <button class="btn btn-default" type="button"
            ng-click="ElementToastCtrl.showNotificationOnBottomRight()">
        <i class="fa fa-search"></i>顯示於右下角的notification
    </button>
</div>
<div class="margin-bottom-10">
    <button class="btn btn-default" type="button"
            ng-click="ElementToastCtrl.showNotificationOnTopRight()">
        <i class="fa fa-search"></i>顯示於右上角的notification
    </button>
</div>