<p>query string存取</p>
<p class="desc">
    檔案位置: <code>~/components/ns-url-utility/</code><br>
    引用: <code>munch.UrlUtilityEntity.IUrlUtility</code></p>
<hr>
<h4>從URL 取得query string。</h4>
<pre class="language-typescript" prism><code>
let SalesOrderId = UrlUtility.GetQuerystring("id") || "";
</code></pre>
<p>使用時參數</p>
<pre class="language-typescript" prism><code>
GetQuerystring(name: string)
</code></pre>
<ul class="param-desc">
    <li><code>name</code>: 想取得值的query</li>
</ul>
<hr>
<h4>在URL 後面加上新的query string (e.g. http://abc.com/?newQuery=newValue)</h4>
<pre class="language-typescript" prism><code>
config.url = this.urlUtility.AppendParameter(config.url, 'r', 't');
</code></pre>
<p>使用時參數</p>
<pre class="language-typescript" prism><code>
AppendParameter(url: string, key: string, value: string, atStart=false)
</code></pre>
<ul class="param-desc">
    <li><code>url</code>: base url</li>
    <li><code>key</code>: 要加上的query key</li>
    <li><code>value</code>: 要加上的query value</li>
    <li><code>atStart</code>:是否在一開始，不填為 false （非必填）</li>
</ul>