<h4>統一編號</h4>
<p class="desc">
    檔案位置: <code>~/components/ns-validation/</code><br>
    統一編號驗證 <code>ns-only-register-number</code></p>
<div class="example">
    <form name="registerForm" novalidate class="form-horizontal"
          ng-submt="UtilityValidationCtrl.SubmitRegister(registerForm)">
        <div class="form-group">
            <label class="col-sm-2" ns-required-star>統一編號</label>
            <div class="col-sm-10">
                <input type="tel"
                       class="form-control form-control-half-width with-word-count-tenth"
                       required
                       name="RegistrationNumber"
                       ns-only-register-number
                       ng-class="{'input-error': registerForm.$submitted && registerForm.RegistrationNumber.$invalid}"
                       ng-model="UtilityValidationCtrl.RegistrationNumber"
                       ng-pattern="UtilityValidationCtrl.RegexPattern.NumberOnly"
                       maxlength="8" ng-maxlength="8">
                <ns-character-count></ns-character-count>
                <!--錯誤訊息-->
                <div ng-class="{'show-message': registerForm.$submitted && registerForm.RegistrationNumber.$invalid}"
                     ng-messages="registerForm.RegistrationNumber.$error"
                     class="error-message">
                    <div ng-message="onlyRegisterNumber">請填寫正確統一編號</div>
                    <div ng-message="pattern">統一編號應為數字</div>
                    <div ng-messages-include="./errorMessage.html"></div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="k-button k-primary btn-main">送出</button>
        </div>
    </form>
</div>
<pre class="language-markup" prism><code><xmp>
<input type="tel"
       class="form-control form-control-half-width with-word-count-tenth" required
       name="RegistrationNumber"
       ns-only-register-number
       ng-class="{'input-error': registerForm.$submitted && registerForm.RegistrationNumber.$invalid}"
       ng-model="UtilityValidationCtrl.RegistrationNumber"
       ng-pattern="UtilityValidationCtrl.RegexPattern.NumberOnly"
       maxlength="8" ng-maxlength="8">
</xmp></code></pre>
<ul class="param-desc">
    <li>在需要統一編號驗證的 input 放上 <code>ns-only-register-number</code>。</li>
    <li><code>ng-pattern="UtilityValidationCtrl.RegexPattern.NumberOnly"</code> 限制輸入應為數字</li>
    <li><code>maxlength="8" ng-maxlength="8"</code><和code>ns-character-count</和code> 顯示輸入字數。</li>
</ul>