<p>Checkbox是 <code>&lt;input&gt;</code> 和 <code>&lt;label&gt;</code> 成對出現。
    <code>&lt;input&gt;</code> 的 <code>id</code> 和 <code>&lt;label&gt;</code> 的
    <code>for</code>
    值要一致，checkbox 才能正常運作。<br>
    <code>&lt;input&gt;</code> 的 class 為 <code>k-checkbox</code>， <code>
        &lt;label&gt;</code>的 class 為 <code>k-checkbox-label</code>。<br>
</p>
<div class="example">
    <input type="checkbox" name="colors" id="red" class="k-checkbox" checked="checked"
           value="red">
    <label class="k-checkbox-label" for="red">紅色</label>
    <input type="checkbox" name="colors" id="yellow" class="k-checkbox" value="yellow">
    <label class="k-checkbox-label" for="yellow">黃色</label>
    <input type="checkbox" name="colors" id="blue" class="k-checkbox" value="blue">
    <label class="k-checkbox-label" for="blue">藍色</label>
</div>
<pre class="language-markup" prism><code><xmp>
<input type="checkbox" id="red" class="k-checkbox" checked="checked" value="red">
<label class="k-checkbox-label" for="red">紅色</label>
<input type="checkbox" id="yellow" class="k-checkbox" value="yellow">
<label class="k-checkbox-label" for="yellow">黃色</label>
<input type="checkbox" id="blue" class="k-checkbox" value="blue">
<label class="k-checkbox-label" for="blue">藍色</label>
</xmp></code></pre>