<p>
    需要時間選擇器時，可以直接套用 KendoUI 的directive <code>kendo-date-picker</code> 和 <code>kendo-time-picker</code>。如果有起始和結束時間時，有下列組合可以選擇。通常會在訂單、商品等查詢頁或設定頁等使用。</p>
<p class="desc">檔案位置: <br>
    ns-date-time-range-picker: <code>~/components/ns-datetime-range-picker/</code><br>
    ns-time-range-picker: <code>~/components/ns-time-range-picker/</code><br>
    ns-date-time-picker: <code>~/components/ns-datetime-picker/</code><br>
    ns-date-time-combine-radio-picker: <code>~/components/ns-date-time-combine-radio-picker/</code><br>
</p>
<h4>data-range-validity (選擇範圍只能 x 天內)</h4>
<div class="desc">
    <p>檔案位置: <code>~/components/ns-dateRange-validity/</code></p>
    <p>針對 <code>ns-date-time-range-picker</code> 和 <code>ns-date-time-combine-radio-picker</code> 兩個時間區間元件，判斷起始和結束日期差距小於 x 天。通常在報表相關頁面使用。 </p>
</div>
<hr>
<h4>N-1 日期+日期</h4>
<div class="example">
    <ns-date-time-range-picker
            from-date="ElementDateTimeCtrl.FromDate"
            to-date="ElementDateTimeCtrl.ToDate"></ns-date-time-range-picker>
    <p  style="margin-top: 10px">FromDate value is {{ElementDateTimeCtrl.FromDate}}, ToDate value is {{ElementDateTimeCtrl.ToDate}}</p>
</div>
<pre class="language-markup" prism><code><xmp>
<ns-date-time-range-picker
        from-date="ElementDateTimeCtrl.FromDate"
        to-date="ElementDateTimeCtrl.ToDate"></ns-date-time-range-picker>
           </xmp></code></pre>
<ul class="param-desc">
    <li><code>from-date</code>: 起始時間資料string</li>
    <li><code>to-date</code>: 結束時間資料string</li>
    <li><code>is-required</code>: 是否必填 (非必填)</li>
    <li><code>is-disabled</code>: 是否disabled(非必填)</li>
    <li><code>start-name</code>: start time name attribute (非必填)</li>
    <li><code>end-name</code>: end time name attribute (非必填)</li>
</ul>
<hr>
<h4>N-2 日期+時間</h4>
<div class="example">
    <div ns-date-time-picker
         from-date-time-string="ElementDateTimeCtrl.DateTimeStart"
         to-date-time-string="ElementDateTimeCtrl.DateTimeEnd"></div>
    <p  style="margin-top: 10px">起始日期時間是 {{ElementDateTimeCtrl.DateTimeStart}}, 結束日期時間是 {{ElementDateTimeCtrl.DateTimeEnd}}</p>
</div>
<pre class="language-markup" prism><code><xmp>
<div ns-date-time-picker
     from-date-time-string="ElementDateTimeCtrl.DateTimeStart"
     to-date-time-string="CoponentSampleCtrl.DateTimeEnd"></div>
           </xmp></code></pre>
<ul class="param-desc">
    <li><code>ns-date-time-picker</code>: 可以 element 或 attribute </li>
    <li><code>from-date-time-string</code>:起始時間 string</li>
    <li><code>to-date-time-string</code>:結束時間 string</li>
    <li><code>is-required</code>: 是否必填(非必填)</li>
    <li><code>start-date-name</code>: 起始日期 name attribute (非必填)</li>
    <li><code>end-date-name</code>: 結束日期 name attribute(非必填)</li>
    <li><code>start-time-name</code>: 起始時間 name attribute(非必填)</li>
    <li><code>end-time-name</code>: 結束時間 name attribute(非必填)</li>
</ul>
<hr>
<h4>N-3 時間+時間</h4>
<div class="example">
    <ns-time-range-picker
            start-time="ElementDateTimeCtrl.StartTime"
            end-time="ElementDateTimeCtrl.EndTime"></ns-time-range-picker>
    <p  style="margin-top: 10px">起時間是 {{ElementDateTimeCtrl.StartTime}}, 結束時間是 {{ElementDateTimeCtrl.EndTime}}</p>
</div>
<pre class="language-markup" prism><code><xmp>
<ns-time-range-picker
        start-time="ElementDateTimeCtrl.StartTime"
        end-time="ElementDateTimeCtrl.EndTime"></ns-time-range-picker></xmp></code></pre>
<ul class="param-desc">
    <li><code>start-time</code>:開始時間 string</li>
    <li><code>end-time</code>:結束時間 string</li>
    <li><code>is-required</code>: 是否必填 (非必填)</li>
    <li><code>start-time-name</code>: 起始時時 name attribute (非必填)</li>
    <li><code>end-time-name</code>: 結束時時 name attribute(非必填)</li>
    <li><code>is-submit</code>: 是否有按送出鍵 (非必填)</li>
</ul>
<hr>
<h4>N-4 特定時間區段</h4>
<div class="example"><ns-date-time-combine-radio-picker         from-date="ElementDateTimeCtrl.FromDate" to-date="ElementDateTimeCtrl.ToDate" default-query-type="Month" is-disabled="ElementDateTimeCtrl.disable" day-ago="1">
     <ns-date-range-validity day-range="90">          <p class='warning-txt'>時間區間最大不可超過90天，請重新設定</p>      </ns-date-range-validity> </ns-date-time-combine-radio-picker><p  style="margin-top: 10px">FromDate value is {{ElementDateTimeCtrl.FromDate}}, ToDate value is {{ElementDateTimeCtrl.ToDate}}</p></div>
<pre class="language-markup" prism><code><xmp>
<ns-date-time-combine-radio-picker
        from-date="ElementDateTimeCtrl.FromDate"
        to-date="ElementDateTimeCtrl.ToDate"
        default-query-type="Month"
        day-ago="1">
    <!-- 選擇性加入 需要判斷區間小 x 日時加上，此範例是90天，細節見下方 ns-date-range-validity 解說。  -->
    <ns-date-range-validity day-range="90">
        <p class='warning-txt'>時間區間最大不可超過90天，請重新設定</p>
    </ns-date-range-validity>
</ns-date-time-combine-radio-picker>
</xmp></code></pre>
<ul class="param-desc">
    <li><code>from-date</code>: 起始時間資料string</li>
    <li><code>to-date</code>: 結束時間資料string</li>
    <li><code>default-query-type</code>: 預設選取的radio button, 對應預設值：7天為<code>Week</code>, 30天為<code>Month</code>, 90天為<code>Period</code>, 自訂為<code>Custom</code></li>
    <li><code>is-required</code>: 是否必填 (非必填)</li>
    <li><code>is-disabled</code>: 是否disabled(非必填)</li>
    <li><code>start-name</code>: start time name attribute (非必填)</li>
    <li><code>end-name</code>: end time name attribute (非必填)</li>
    <li><code>day-ago</code>: 結束時間為當日的前幾天時間 (非必填，不填為當天)</li>
</ul>
<hr>
<div class="example">
    <ns-date-time-range-picker
            from-date="ElementDateTimeCtrl.StartDate"
            to-date="ElementDateTimeCtrl.EndDate"
            start-name="datePick_startDate"
            end-name="datePick_endDate">
        <ns-date-range-validity day-range="30">
            <p class='warning-txt'>時間區間最大不可超過30天，請重新設定</p>
        </ns-date-range-validity>
    </ns-date-time-range-picker>
</div>
<pre class="language-markup" prism><code><xmp>
<ns-date-time-range-picker
        from-date="ElementDateTimeCtrl.StartDate"
        to-date="ElementDateTimeCtrl.EndDate"
        start-name="datePick_startDate"
        end-name="datePick_endDate">
    <ns-date-range-validity day-range="30">
        <p class='warning-txt'>時間區間最大不可超過30天，請重新設定</p>
    </ns-date-range-validity>
</ns-date-time-range-picker>
</xmp></code></pre>
<ul class="param-desc">
    <li>需放在 <code>ns-date-time-range-picker</code> 之內搭配使用。</li>
    <li><code>day-range</code>: 天數限制</li>
</ul>