<p>在和使用者溝通訊息以句子為主時 使用 Dialog。預設尺寸 400x 200，訊息內容為水平和垂直置中。</p>
<p>Dialog 的標題和右上角關閉按鈕可以分別設定是否要顯示，預設為不顯示。</p>
<p>目前 Dialog 選項有:</p>
<ul>
    <li><code>Notice</code>: 單按鈕</li>
    <li><code>Confirm</code>:雙按鈕(確認/取消) </li>
    <li><code>Delete</code>: 顯示刪除訊息</li>
    <li><code>NoticeFromServer</code>: 特定template(<code>\n</code>可以斷行)</li>
    <li><code>Redirect</code>: 有延續動作的 Dialog，兩個按鈕動作是 留在原頁 或 導到其他頁</li>
    <li><code>Redirect and Reload</code>: 有延續動作的 Dialog，兩個按鈕動作是 留在原頁並重整 或 導到其他頁。</li>
    <li><code>Custom</code>: 客製</li>
</ul>
<p class="desc">
    檔案位置: <code>~/components/ns-dialog/</code><br>
    引用: <code>munch.DialogEntity.IDialogUtilityEntity</code></p>
<hr>
<p>當需要 popup 而裡面是文字訊息時，會使用 dialog 元件，通常在 TypeScript 裡在動作完成時呼叫。根據需求有下列 Dialog 可使用。如果在按了 確認 按鈕有後續動作:</p>
<pre class="language-javascript" prism><code>
this.DialogUtility.Notice("顯示dialog notice")
    .then(()=>{
        // 按下確認後要做的動作....
    });
</code></pre>
<hr>
<div class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-2">Notice</label>
        <div class="col-sm-10">
            <p>訊息下方一個按鈕。</p>
            <div class="action-example">
                <button class="k-button k-primary btn-main" type="button"
                        ng-click="ElementDialogCtrl.OpenDialogNotice()">基本 Dialog，沒有標題和關閉按鈕
                </button>
                <button class="k-button k-primary btn-main" type="button"
                        ng-click="ElementDialogCtrl.OpenDialogNoticeWithTitle()">只有標題 Dialog
                </button>
                <button class="k-button k-primary btn-main" type="button"
                        ng-click="ElementDialogCtrl.OpenDialogNoticeWithClose()">只有關閉按鈕 Dialog
                </button>
                <button class="k-button k-primary btn-main" type="button"
                        ng-click="ElementDialogCtrl.OpenDialogNoticeWithtitleClose()">有標題和關閉按鈕 Dialog
                </button>
                <button class="k-button k-primary btn-main" type="button"
                        ng-click="ElementDialogCtrl.OpenDialogAutoCloseNotice()">Show AutoClose Dialog
                </button>
            </div>
            <pre class="language-javascript" prism><code>
// 基本 Dialog，沒有標題和關閉按鈕
this.DialogUtility.Notice("顯示dialog notice");
// 只有標題 Dialog
this.DialogUtility.Notice("只有標題 Dialog", "標題文字");
//只有關閉按鈕 Dialog
this.DialogUtility.Notice("只有關閉按鈕 Dialog", null, true);
//有標題和關閉按鈕 Dialog
this.DialogUtility.Notice("有標題和關閉按鈕 Dialog", "標題文字", true);
// 自動關閉
this.DialogUtility.AutoCloseNotice("自動關閉的Dialog");</code></pre>
            <p>呼叫時參數</p>
            <pre class="language-javascript" prism><code>Notice(message:string, title?:string,showCloseButton?:boolean)</code></pre>
            <ul class="param-desc">
                <li><code>message</code>: 顯示的訊息</li>
                <li><code>title</code>: 上方標題 (非必填)</li>
                <li><code>showCloseButton</code>: 是否需要關閉按鈕 (非必填，預設為沒有)</li>
            </ul>
        </div>
    </div>
    <hr>
    <div class="form-group">
        <label class="col-sm-2">Confirm</label>
        <div class="col-sm-10">
            <p>訊息下方有確認和取消按鈕。</p>
            <p>如果訊息過長，設定 <code>isShortMessage</code>為 <code>true</code>，則高度會隨著內容長高，超過600px會出現scrollbar。</p>
            <div class="action-example">
                <button class="k-button k-primary btn-main" type="button"
                        ng-click="ElementDialogCtrl.OpenDialogConfirm()">基本無標題和關閉按鈕 dialog confirm
                </button>
                <button class="k-button k-primary btn-main" type="button"
                        ng-click="ElementDialogCtrl.OpenDialogConfirmWithTitle()">只有標題 dialog confirm
                </button>
                <button class="k-button k-primary btn-main" type="button"
                        ng-click="ElementDialogCtrl.OpenDialogConfirmWithClose()">只有關閉按鈕 dialog confirm
                </button>
                <button class="k-button k-primary btn-main" type="button"
                        ng-click="ElementDialogCtrl.OpenDialogConfirmWithTitleClose()">有標題和關閉按鈕 dialog confirm
                </button>
            </div>
            <div class="action-example">
                <button class="k-button k-primary btn-main" type="button"
                        ng-click="ElementDialogCtrl.OpenDialogConfirmLongMsg()">基本無標題和關閉按鈕 Dialog Confirm 長訊息
                </button>
                <button class="k-button k-primary btn-main" type="button"
                        ng-click="ElementDialogCtrl.OpenDialogConfirmLongMsgWithTitle()">只有標題 Dialog Confirm 長訊息
                </button>
                <button class="k-button k-primary btn-main" type="button"
                        ng-click="ElementDialogCtrl.OpenDialogConfirmLongMsgWithClose()">只有關閉按鈕 Dialog Confirm 長訊息
                </button>
                <button class="k-button k-primary btn-main" type="button"
                        ng-click="ElementDialogCtrl.OpenDialogConfirmLongMsgWithTitleClose()">有標題和關閉按鈕 Dialog Confirm 長訊息
                </button>
            </div>
            <pre class="language-javascript" prism><code>
//基本無標題和關閉按鈕 dialog confirm
this.DialogUtility.Confirm("基本無標題和關閉按鈕 dialog confirm");
//只有標題 dialog confirm
this.DialogUtility.Confirm("只有標題 dialog confirm", "", "", false, true, true, "標題文字");
//只有關閉按鈕 dialog confirm
this.DialogUtility.Confirm("只有關閉按鈕 dialog confirm", "", "", false, true, true, null, true);
//有標題和關閉按鈕 dialog confirm
this.DialogUtility.Confirm("有標題和關閉按鈕 dialog confirm", "", "", false, true, true, "標題文字", true);
//基本無標題和關閉按鈕 Dialog Confirm 長訊息
this.DialogUtility.Confirm(this.longMsg, "", "", false, true, false);
//只有標題 Dialog Confirm 長訊息
this.DialogUtility.Confirm(this.longMsg, "", "", false, true, false, "標題文字");
//只有關閉按鈕 Dialog Confirm 長訊息
this.DialogUtility.Confirm(this.longMsg, "", "", false, true, false, null, true);
//有標題和關閉按鈕 Dialog Confirm 長訊息
this.DialogUtility.Confirm(this.longMsg, "", "", false, true, false, "標題文字", true);
            </code></pre>
            <p>呼叫時參數</p>
            <pre class="language-javascript" prism><code>
Confirm(message:string,
        AcceptMessage?:string,
        CancelMessage?:string,
        UseHtml?:boolean,
        showCancel:boolean=true,
        isShortMessage:boolean = true,
        title:string=null,
        showCloseButton:boolean=false)</code></pre>
            <ul class="param-desc">
                <li><code>message</code>: 顯示訊息</li>
                <li><code>AcceptMessage</code>: 接受按鈕文字（非必填)</li>
                <li><code>CancelMessage</code>: 取消按鈕文字（非必填)</li>
                <li><code>UseHtml</code>: message是否為html（非必填)</li>
                <li><code>showCancel</code>:是否顯示 取消 按鈕，預設為 true</li>
                <li><code>isShortMessage</code>: 是否為短訊息。如果預期訊息超過4行，設為 false，會拿掉垂直置中設定，讓長訊息顯示。(非必填，預設為 true)</li>
                <li><code>title</code>: 標題 (非必填)</li>
                <li><code>showCloseButton</code>: 是否顯示右上角關閉按鈕(非必填，預設為false)</li>
            </ul>
        </div>
    </div>
    <hr>
    <div class="form-group">
        <label class="col-sm-2">Delete</label>
        <div class="col-sm-10">
            <p>訊息下方是紅色按鈕。預設顯示右上角關閉按鈕。</p>
            <div class="action-example">
                <button class="k-button k-primary btn-main" type="button"
                        ng-click="ElementDialogCtrl.OpenDialogDelete()">無標題 Dialog Delete
                </button>
                <button class="k-button k-primary btn-main" type="button"
                        ng-click="ElementDialogCtrl.OpenDialogDeleteWithTitle()">有標題 Dialog Delete
                </button>
            </div>
            <pre class="language-javascript" prism><code>
// 無標題 Dialog Delete
this.DialogUtility.Delete("是否刪除？");
// 有標題 Dialog Delete
this.DialogUtility.Delete("是否刪除？", "", false, "標題文字");
            </code></pre>
            <p>呼叫時參數</p>
            <pre class="language-javascript" prism><code>
Delete(message:string,
        DeleteMessage?:string,
        UseHtml?:boolean,
        title?:string,
        showCancel:boolean = false,
        showCloseButton:boolean = true)
            </code></pre>
            <ul class="param-desc">
                <li><code>message</code>: 顯示訊息</li>
                <li><code>DeleteMessage</code>: 刪除按鈕文字（非必填)</li>
                <li><code>UseHtml</code>: message是否為html（非必填)</li
                <li><code>title</code>: 標題（非必填)</li>
                <li><code>showCancel</code>: 是否顯示取消按鈕（非必填) 預設為false</li>
                <li><code>showCloseButton</code>: 是否顯示右上角關閉按鈕（非必填) 預設為true</li>
            </ul>
        </div>
    </div>
    <hr>
    <div class="form-group">
        <label class="col-sm-2">NoticeFromServer</label>
        <div class="col-sm-10">
            <p>特定 template 來處理訊息顯示方式。如果訊息帶有 <code>\n</code>可以斷行，如果帶有 html tag 像是<code>&lt;div&gt;</code>會直接印出</p>
            <div class="action-example">
                <button class="k-button k-primary btn-main" type="button"
                        ng-click="ElementDialogCtrl.OpenDialogNoticeFromServer()">沒標題和關閉按鈕 Dialog NoticeFromServer
                </button>
                <button class="k-button k-primary btn-main" type="button"
                        ng-click="ElementDialogCtrl.OpenDialogNoticeFromServerWithTitle()">只有標題 Dialog NoticeFromServer
                </button>
                <button class="k-button k-primary btn-main" type="button"
                        ng-click="ElementDialogCtrl.OpenDialogNoticeFromServerWithClose()">只有關閉按鈕 Dialog NoticeFromServer
                </button>
                <button class="k-button k-primary btn-main" type="button"
                        ng-click="ElementDialogCtrl.OpenDialogNoticeFromServerWithTitleClose()">有標題和關閉按鈕 Dialog NoticeFromServer
                </button>
            </div>
            <p>呼叫時參數</p>
            <pre class="language-javascript" prism><code>NoticeFromServer(message:string, isShortMessage:boolean = true, title:string=null, showCloseButton:boolean=false)</code></pre>
            <ul class="param-desc">
                <li><code>message</code>: 顯示訊息</li>
                <li><code>isShortMessage</code>: 是否為短訊息。如果預期訊息超過4行，設為 false，會拿掉垂直置中設定，讓長訊息顯示。(非必填，預設為 true)</li>
                <li><code>title</code>: 標題 (非必填)</li>
                <li><code>showCloseButton</code>: 是否顯示右上角關閉按鈕(非必填，預設為false)</li>
            </ul>
        </div>
    </div>
    <hr>
    <div class="form-group">
        <label class="col-sm-2">Redirect</label>
        <div class="col-sm-10">
            <p>有延續動作的 Dialog，留在原頁或導到其他頁</p>
            <div class="action-example">
                <button class="k-button k-primary btn-main" type="button"
                        ng-click="ElementDialogCtrl.OpenDialogRedirect()">沒有標題和關閉按鈕 Dialog Redirect
                </button>
                <button class="k-button k-primary btn-main" type="button"
                        ng-click="ElementDialogCtrl.OpenDialogRedirectWithTitle()">只有標題 Dialog Redirect
                </button>
                <button class="k-button k-primary btn-main" type="button"
                        ng-click="ElementDialogCtrl.OpenDialogRedirectWithClose()">只有關閉按鈕 Dialog Redirect
                </button>
                <button class="k-button k-primary btn-main" type="button"
                        ng-click="ElementDialogCtrl.OpenDialogRedirectWithTitleClose()">有標題和關閉按鈕 Dialog Redirect
                </button>
            </div>
            <pre class="language-javascript" prism><code>
//沒有標題和關閉按鈕 Dialog Redirect
this.DialogUtility.Redirect("儲存成功","回總覽",'/',"停留原頁");
//只有標題 Dialog Redirect
this.DialogUtility.Redirect("儲存成功", "回總覽", '/', "停留原頁", "標題文字");
//只有關閉按鈕 Dialog Redirect
this.DialogUtility.Redirect("儲存成功", "回總覽", '/', "停留原頁", null, true);
//有標題和關閉按鈕 Dialog Redirect
this.DialogUtility.Redirect("儲存成功", "回總覽", '/', "停留原頁", "標題文字", true);
            </code></pre>
            <p>呼叫時參數</p>
            <pre class="language-javascript" prism><code>
Redirect(message:string, RedirectText:string, RedirectUrl:string, FinishMessage?:string,
         title?:string, showCloseButton?:boolean)
            </code></pre>
            <ul class="param-desc">
                <li><code>message</code>: 顯示訊息</li>
                <li><code>RedirectText</code>: Redirect按鈕文字</li>
                <li><code>RedirectUrl</code>: Redirect按鈕Url</li>
                <li><code>FinishMessage</code>: 停在原頁按鈕文字</li>
                <li><code>title</code>: 標題 (非必填)</li>
                <li><code>showCloseButton</code>: 是否顯示右上角關閉按鈕(非必填，預設為false)</li>
            </ul>
        </div>
    </div>
    <hr>
    <div class="form-group">
        <label class="col-sm-2">Redirect and Reload</label>
        <div class="col-sm-10">
            <p>有延續動作的 Dialog，留在原頁並重整，或導到其他頁。</p>
            <p>右上角關閉按鈕只會關掉 Dialog 並不會重整，如果一定要在使用者關掉dialog時重整頁面，請勿顯示關閉按鈕。</p>
            <div class="action-example">
                <button class="k-button k-primary btn-main" type="button"
                        ng-click="ElementDialogCtrl.OpenDialogReloadRedirect()">沒有標題和關閉按鈕 Dialog Reload and Redirect
                </button>
                <button class="k-button k-primary btn-main" type="button"
                        ng-click="ElementDialogCtrl.OpenDialogReloadRedirectWithTitle()">只有標題 Dialog Reload and Redirect
                </button>
                <button class="k-button k-primary btn-main" type="button"
                        ng-click="ElementDialogCtrl.OpenDialogReloadRedirectWithClose()">只有關閉按鈕 Dialog Reload and Redirect
                </button>
                <button class="k-button k-primary btn-main" type="button"
                        ng-click="ElementDialogCtrl.OpenDialogReloadRedirectWithTitleClose()">有標題和關閉按鈕 Dialog Reload and Redirect
                </button>
            </div>
            <pre class="language-javascript" prism><code>
                //沒有標題和關閉按鈕 Dialog Reload and Redirect
                this.DialogUtility.RedirectReload("Reload and Redirect","回總覽",'/',"停留原頁");
                //只有標題 Dialog Reload and Redirect
                this.DialogUtility.RedirectReload("Reload and Redirect", "回總覽", '/', "停留原頁", "標題文字");
                //只有關閉按鈕 Dialog Reload and Redirect
                this.DialogUtility.RedirectReload("Reload and Redirect", "回總覽", '/', "停留原頁", null, true);
                //有標題和關閉按鈕 Dialog Reload and Redirect
                this.DialogUtility.RedirectReload("Reload and Redirect", "回總覽", '/', "停留原頁", "標題文字", true);
            </code></pre>
            <p>呼叫時參數</p>
            <pre class="language-javascript" prism><code>
RedirectReload(message:string, RedirectText:string, RedirectUrl:string, FinishMessage?:string,
               title?:string, showCloseButton?:boolean)
            </code></pre>
            <ul class="param-desc">
                <li><code>message</code>: 顯示訊息</li>
                <li><code>RedirectText</code>: Redirect按鈕文字</li>
                <li><code>RedirectUrl</code>: Redirect按鈕Url</li>
                <li><code>FinishMessage</code>: 停在原頁按鈕文字 （非必填）</li>
                <li><code>title</code>: 標題 (非必填)</li>
                <li><code>showCloseButton</code>: 是否顯示右上角關閉按鈕(非必填，預設為false)</li>
            </ul>
        </div>
    </div>
    <hr>
    <div class="form-group">
        <label class="col-sm-2">Custom</label>
        <div class="col-sm-10">
            <p>呼叫時參數</p>
            <pre class="language-javascript" prism><code>
Custom(opts: {
    message: string,
    acceptBtnText?: string,
    cancelBtnText?: string,
    useHtml?: boolean,
    title?: string,
    showCloseButton?:boolean,
    acceptEvent?: () => void,
    cancelEvent?: () => void
})</code></pre>
            <ul class="param-desc">
                <li><code>message</code>: 顯示訊息</li>
                <li><code>acceptBtnText</code>: 接受按鈕文字（非必填)</li>
                <li><code>cancelBtnText</code>: 取消按鈕文字（非必填)</li>
                <li><code>UseHtml</code>: message是否為html（非必填)</li>
                <li><code>title</code>: 標題 (非必填)</li>
                <li><code>showCloseButton</code>: 是否顯示右上角關閉按鈕(非必填，預設為false)</li>
                <li><code>acceptEvent</code>: 按接受後要執行的event（非必填)</li>
                <li><code>cancelEvent</code>: 按取消後要執行的event（非必填)</li>
            </ul>
        </div>
    </div>
</div>