<p>一般下拉選單的基本 <code>html</code> 結構:</p>
<pre class="language-markup" prism><code><xmp>
    <select>
        <option value="1234">第一家店</option>
    </select>
</xmp></code></pre>
<p>元件的下單選單是使用 KendoUI 的 <code>kendo-drop-down-list</code> 元件，render 出類似上述的結構。</p>
<div class="example">
    <select kendo-drop-down-list
            class="form-control"
            k-option-label="'請選擇名單'"
            k-data-source="ElementDropdownCtrl.TeamMemberOptions"
            k-data-text-field="'Name'"
            k-data-value-field="'ID'"
            k-ng-model="ElementDropdownCtrl.SelectedTeam"
            k-value-primitive="true"
            k-on-change="ElementDropdownCtrl.GetTeamName()"></select>
    <p class="margin-top-10">所選ID (SelectedTeam)：{{ElementDropdownCtrl.SelectedTeam}} </p>
    <p>所選 Team Name (透過 GetTeamName 取得)：{{ElementDropdownCtrl.SelectedName}}</p>
</div>
<pre class="language-markup" prism><code><xmp>
<select kendo-drop-down-list
        class="form-control"
        k-option-label="'請選擇名單'"
        k-data-source="ElementDropdownCtrl.TeamMemberOptions"
        k-data-value-field="'ID'"
        k-data-text-field="'Name'"
        k-ng-model="ElementDropdownCtrl.SelectedTeam"
        k-value-primitive="true"
        k-on-change="ElementDropdownCtrl.GetTeamName()"></select>
</xmp></code></pre>
<ul class="param-desc">
    <li><code>select</code>掛上 <code>kendo-drop-down-list</code>，class <code>form-control</code>設定樣式。</li>
    <li><code>k-option-label</code>: 還沒做任何選擇時的預設顯示文字。</li>
    <li><code>k-data-source</code>是資料來源。</li>
    <li><code>k-data-value-field</code>和 <code>k-data-text-field</code> 代表資料來源中對應生成的 option 的哪個位置：<code>&lt;option value="k-data-value-field 的值放這"&gt;k-data-text-field 的值放這&lt;/option&gt;</code>。</li>
    <li><code>k-ng-model</code>: 選項結果存到此。<code>k-ng-model</code> 預設回傳 object，想取回 primitive value 需把 <code>k-value-primitive</code> 設為 <code>true</code>。</li>
    <li><code>k-value-primitive</code>: 設為 <code>true</code>，讓下拉選單回傳 primitive value。</li>
    <li><code>k-on-change</code>: 選了新的值需做什麼動作。(非必要)</li>
</ul>
<p>強烈建議在下拉選單不要使用 <code>ng-model</code>，有data binding的bug (值更新了，view卻沒有變化)。</p>
<hr>
<p>有時呼叫 API 取得的資料，再塞入dropdown list，通常取得資料的結構會符合 <code>KeyValuePairEntity</code>，其中<code>Key</code>值對到上述 <code>option</code>的 <code>value</code>屬性 (kendo的 <code>k-data-value-field</code>)，<code>Value</code>則是顯示出來的文字(kedno的 <code>k-data-text-field</code>)。</p>
<pre class="language-javascript" prism><code>
interface KeyValuePairEntity {
		Key: any;
		Value: string;
	}
</code></pre>
<hr>