<p class="desc">
    檔案位置: <code>~/components/ns-editor/</code><br>
    使用 <code>ns-editor</code> directive，功能固定的編輯器。圖片上傳只接受外部連結。</p>
<div class="example">
    <ns-editor ng-model="ElementEditorCtrl.Editor1" is-required="true" editor-name="editor1"></ns-editor>
    {{ ElementEditorCtrl.Editor1 }}
</div>
<pre class="language-markup" prism><code><xmp>
<ns-editor ng-model="ElementEditorCtrl.Editor1" is-required="true" editor-name="editor1"></ns-editor>
</xmp></code></pre>
<ul class="param-desc">
    <li><code>ng-model</code>: 資料所要放入的model</li>
    <li><code>is-required</code>: 是否必填</li>
    <li><code>editor-name</code>: <code>name</code></li>
</ul>
<hr>
<h4>kendo-editor</h4>
<p>使用 <code>kendo-editor</code>，可自訂工具列(<code>k-tools</code>)，可搭配 <code>k-image-browser</code> 和 API 上傳圖片。</p>
<p>圖片上傳可參考商品頁的<code>~/TypeScripts/SalePage/edit/productInfo.html</code>，擷取相關原始碼如下:</p>
<pre class="language-markup" prism><code><xmp>
<textarea kendo-editor
          name="moreInfo"
          ng-model="SalePageEditCtrl.Model.MoreInfo"
          k-on-select="SalePageEditCtrl.Highlight('preview-more-info');"
          k-encoded="false"
          k-tools="[
   'formatting','unlink',
   'bold', 'italic','underline','foreColor',
   'justifyLeft', 'justifyCenter', 'justifyRight',
   'insertUnorderedList', 'insertOrderedList', 'indent',
   'createLink', 'insertImage',
   'createTable',
   'viewHtml']"
          k-image-browser="{
   transport: {
     read: {url:'/Api/Image/GetTmpImageInfo?type=SalePageDesc&uniqueKey={{SalePageEditCtrl.UniqueKey}}', type: 'GET'} ,
     uploadUrl: '/Api/Image/UploadTmpImage?type=SalePageDesc&uniqueKey={{SalePageEditCtrl.UniqueKey}}'
     thumbnailUrl: '/Api/Image/RenderTmpThumbnail?type=SalePageDesc&uniqueKey={{SalePageEditCtrl.UniqueKey}}' ,
     imageUrl: '/Api/Image/RenderTemp/SalePageDesc/{{SalePageEditCtrl.UniqueKey}}/{0}'
}}"></textarea></xmp></code></pre>
<ul class="param-desc">
    <li><code>name</code>: 此輸入欄位在表單的 name</li>
    <li><code>ng-model</code>: 資料的model</li>
    <li><code>k-encoded</code>: 目前需設為 false 前台才能正常顯示 (詳細設定可參考Kendo UI 文件 <a href="http://docs.telerik.com/kendo-ui/api/javascript/ui/editor#configuration-encoded" target="_blank">encoded</a>。)</li>
    <li><code>k-on-select</code>： 當此 <code>textarea</code> (非必填)</li>
    <li><code>k-image-browser</code>: 需要圖片上傳時才需要加，需要配合 API 提供 <code>read</code>, <code>uploadUrl</code>, <code>thumbnailUrl</code>, <code>thumbnailUrl</code>和 <code>type</code> 參數。</li>
</ul>
<p>如果editor 裡的圖片上傳需要綁定其他事件，可參考 <a href="http://docs.telerik.com/kendo-ui/api/javascript/ui/upload" target="_blank">kendo.ui.Upload</a>和
    <a href="http://stackoverflow.com/questions/18549028/kendoui-image-browser" target="_blank">Stackoverflow KendoUI Image browser</a> 說明。</p>
</div>