<p>G-1 文字說明：固定區塊 - 單行與多行</p>
<p>G-2 文字說明：可收合區塊(目前尚未設計)</p>
<p>G-3 欄位說明: 表單欄位說明</p>
<hr>
<h4>G-1 文字說明固定區塊 - 單行</h4>
<p>只有一句話的說明，直接照此結構把文字換掉及可。</p>
<div class="example" style="padding-top:40px;">
    <span class="explain-block"><i class="fa fa-info-circle"></i>以下為您在91APP開店申請及合約相關資訊。</span>
</div>
<pre class="language-markup" prism>
<code><xmp>
<span class="explain-block">
    <i class="fa fa-info-circle"></i>以下為您在91APP開店申請及合約相關資訊。
</span>
</xmp></code></pre>
<h4>G-1 文字說明固定區塊 - 多行</h4>
<p>說明文字包括條列式說明</p>
<div class="example">
    <div class="explain-block multi-line">
        <i class="fa fa-info-circle"></i>超商取貨服務說明
        <p class="explain-message">視需求加上訊息 - ex: Facebook 廣告是精準且有效的行銷與導流工具，為了能幫助您利用 Facebook
            廣告曝光商品，我們整合並簡化了設定流程，讓您只需 4 個步驟就能完成以下前置設定。</p>
        <ul>
            <li>設定開啟後，7-11與全家超商取貨付款服務同時啟用。</li>
            <li>本服務採店到店交寄方式，設定開啟後，商品可至任一超商門市寄件，門市會直接收取寄件運費(每件$60元)，並將您交寄商品寄送至消費者指定門市。</li>
            <li>商品如遇逾期消費者未取貨，或不符合超商寄送規則，商品將退回寄件門市，並通知您領回。</li>
        </ul>
    </div>
</div>
<pre class="language-markup" prism><code><xmp>
<div class="explain-block multi-line">
    <i class="fa fa-info-circle"></i>超商取貨服務說明
    <p class="explain-message">視需求加上訊息 - ex: Facebook 廣告是精準且有效的行銷與導流工具，為了能幫助您利用 Facebook 廣告曝光商品，我們整合並簡化了設定流程，讓您只需 4
        個步驟就能完成以下前置設定。</p>
    <ul>
        <li>設定開啟後，7-11與全家超商取貨付款服務同時啟用。</li>
        <li>本服務採店到店交寄方式，設定開啟後，商品可至任一超商門市寄件，門市會直接收取寄件運費(每件$60元)，並將您交寄商品寄送至消費者指定門市。</li>
        <li>商品如遇逾期消費者未取貨，或不符合超商寄送規則，商品將退回寄件門市，並通知您領回。</li>
    </ul>
</div></xmp></code></pre>
<hr>
<h4>G-2收合區塊</h4>
<hr>
<h4>G-3 欄位說明: 表單欄位說明</h4>
表單上的文字說明參考 <a ui-sref="extra.form">form 表單</a> 中的說明。