<p class="desc">
    檔案位置: <br>
    單圖上傳：<code>~/components/ns-image-upload</code><br>
    多圖上傳：<code>~/components/ns-image-multiple-upload</code>
</p>
<ul class="param-desc">
    <li>自助開店開新店時會有預設的icon圖，需放到開發系統的  <code>C:\Files\Gallery</code>下。</li>
    <li>圖片上傳元件是否成功可以在開發系統的 <code>C:\Files\Tmp\Images</code>根據類別查詢。</li>
    <li>顯示預設圖片 <code>｀/Api/Image/Render/${Group}/${Key}/${FileName}｀</code></li>
    <li>新圖的 Group 值為預設 。</li>
    <li>新圖的 Key 值使用 <code>uuid</code> 產生。</li>
    <li>圖片上傳 Enum
        <pre class="language-typescript" prism><code>
module NineYi.Sms.BL.BE.Images {
	interface ImageUploadEntity {
		Type: NineYi.Sms.BL.BE.Images.ImageUploadTypeEnum;
		Operation: NineYi.Sms.BL.BE.Images.ImageOperationTypeEnum;
		FileName: string; //檔案名稱
		Group: string; //資料夾名稱
		Key: string; //API取得 或 uuid 產生
	}
}
module NineYi.Sms.BL.BE.Images {
	export enum ImageUploadTypeEnum {
		Upload = 0, //使用者上傳儲存完畢
		Material = 1, //使用圖庫
		Temp = 2 //使用者上傳暫存
	}
	export enum ImageOperationTypeEnum {
		NoChange = 0, //未更改
		New = 1, // 新增
		Delete = 2, //刪除
		Clone = 3 //複製
	}
}
        </code></pre>
    </li>
</ul>
<hr>
<h4>單圖上傳 <code>ns-image-upload</code></h4>
<p>參考</p>
<ul>
    <li>商店營運設定 > 商店設定: <code>~/TypeScripts/Modules/Shop/shop.shopStyle.html</code></li>
    <li>新增修改商品<code>~/TypeScripts/Modules/SalePage/edit/productSku.html</code></li>
    <li><code>~/TypeScripts/Modules/AdPosition/DestinationTemplate/Share/imageUploader.html</code></li>
</ul>
<ul class="param-desc">
    <li><code>ng-model</code>: 已選擇上傳的圖片</li>
    <li><code>group</code>: 上傳圖片群組</li>
    <li><code>unique-key</code>: UniqueKey</li>
    <li><code>file-name</code>: 檔名</li>
    <li><code>type</code>: ImageUploadType, 見下方Enum (ex. 圖片上傳一開始為 Temp)</li>
    <li><code>operation</code>: ImageOperationType,  見下方Enum (ex. 新圖片為 New, 使用圖庫為 Clone)</li>
    <li><code>max-size</code>: 檔案最大上限 (非必填，單位 b)</li>
    <li><code>min-size</code>: 檔案最小下限 (非必填，單位 b)</li>
    <li><code>min-height</code>: 最小高度 (不限就給 0)</li>
    <li><code>Min-width</code>: 最小寬度 (不限就給 0)</li>
    <li><code>fix-width</code>: 固定寬度 (非必填)</li>
    <li><code>fix-height</code>: 固定高度 (非必填)</li>
    <li><code>remove-callback</code>: 刪除圖片時呼叫，通常用於清除現有圖片設定，將 <code>Type</code>, <code>Operation</code>, <code>Group</code>, <code>UniqueKey</code>, <code>FileName</code>等。</li>
    <li><code>ImageGallery</code>:使用圖庫 (非必填，)</li>
    <li><code>apiurl</code>:所要接的上傳api (非必填，不填時使用預設值)</li>
    <li><code>api-render-temp-url"</code>:所要接的上傳後圖片預覽api (非必填，不填時使用預設值)</li>
    <li>注意圖片size計算是以 1kb = 1024b 計算，例如圖片最大 200kb, max-size="204800"</li>
</ul>
<hr>
<h4>多圖上傳 <code>ns-image-multiple-upload</code></h4>
<p>參考</p>
<ul>
    <li><code>~/TypeScripts/Modules/SalePage/edit/productSku.html</code></li>
</ul>
<ul class="param-desc">
    <li><code>ng-model</code>: 要上傳的圖片 list</li>
    <li><code>SelectedImageRoot</code>: 要在手機預覽圖上顯示的主圖路徑 (如SMS開店第二步在手機上的 Sample 圖: "/Api/Image/RenderGallery/SalePage/Main/default_image", 非必填)</li>
    <li><code>files-limit</code>: 圖檔數目上限</li>
    <li><code>group</code> <code>unique-key</code> <code>file-name</code> <code>type</code> <code>operation</code> <code>max-size</code> <code>min-size</code> <code>min-height</code> <code>min-width</code> <!--<code>fix-width</code> <code>fix-height</code>--> 同單圖上傳。</li>
</ul>