<!-- BreadCrumb -->
<div class="breadcrumb-container">
    <ol class="breadcrumbs">
        <li><a ui-sref="index">文件總覽</a></li>
        <li class="">頁面內元件</li>
        <li>
            <span class="hide" ui-sref="element.tab" ui-sref-active="show">Tab</span>
            <span class="hide" ui-sref="element.explain" ui-sref-active="show">文字說明</span>
            <span class="hide" ui-sref="element.tooltip" ui-sref-active="show">Tooltip</span>
            <span class="hide" ui-sref="element.toast" ui-sref-active="show">Toast</span>
            <span class="hide" ui-sref="element.breadcrumb" ui-sref-active="show">麵包屑</span>
            <span class="hide" ui-sref="element.symbol" ui-sref-active="show">文字符號</span>
            <span class="hide" ui-sref="element.input" ui-sref-active="show">文字輸入框</span>
            <span class="hide" ui-sref="element.checkbox" ui-sref-active="show">Checkbox</span>
            <span class="hide" ui-sref="element.radio" ui-sref-active="show">Radio button</span>
            <span class="hide" ui-sref="element.other" ui-sref-active="show">其他</span>
            <span class="hide" ui-sref="element.datetime" ui-sref-active="show">日期/時間模組</span>
            <span class="hide" ui-sref="element.editor" ui-sref-active="show">圖文編輯器</span>
            <span class="hide" ui-sref="element.dropdown" ui-sref-active="show">下拉選單</span>
            <span class="hide" ui-sref="element.imageUpload" ui-sref-active="show">上傳圖片</span>
            <span class="hide" ui-sref="element.fileUpload" ui-sref-active="show">上傳檔案</span>
            <span class="hide" ui-sref="element.selector" ui-sref-active="show">選擇器</span>
            <span class="hide" ui-sref="element.dialog" ui-sref-active="show">DialogUtility</span>
            <span class="hide" ui-sref="element.modal" ui-sref-active="show">ModalUtility</span>
            <span class="hide" ui-sref="element.tableComponent" ui-sref-active="show">表格元件</span>
            <span class="hide" ui-sref="element.tableLayout" ui-sref-active="show">表格互動與樣式</span>
            <span class="hide" ui-sref="element.tableBasic" ui-sref-active="show">D-1 一般表格</span>
            <span class="hide" ui-sref="element.tableCheckbox" ui-sref-active="show">D-2 Checkbox表格</span>
            <span class="hide" ui-sref="element.tableCollapse" ui-sref-active="show">D-3可收合表格：母子單① - 母單上無資料</span>
            <span class="hide" ui-sref="element.tableCategory" ui-sref-active="show">D-4 可收合表格：母子單② - 母單上有資料</span>
        </li>
    </ol>
</div>
<!-- BreadCrumb -->
<div class="row content-row">
    <!-- PageHeader -->
    <div class="page-title hide" ui-sref="element.tab" ui-sref-active="show">Tab</div>
    <div class="page-title hide" ui-sref="element.explain" ui-sref-active="show">文字說明</div>
    <div class="page-title hide" ui-sref="element.tooltip" ui-sref-active="show">Tooltip</div>
    <div class="page-title hide" ui-sref="element.toast" ui-sref-active="show">Toast</div>
    <div class="page-title hide" ui-sref="element.breadcrumb" ui-sref-active="show">麵包屑</div>
    <div class="page-title hide" ui-sref="element.symbol" ui-sref-active="show">文字符號</div>
    <div class="page-title hide" ui-sref="element.input" ui-sref-active="show">文字輸入框</div>
    <div class="page-title hide" ui-sref="element.checkbox" ui-sref-active="show">Checkbox</div>
    <div class="page-title hide" ui-sref="element.radio" ui-sref-active="show">Radio button</div>
    <div class="page-title hide" ui-sref="element.other" ui-sref-active="show">其他</div>
    <div class="page-title hide" ui-sref="element.datetime" ui-sref-active="show">日期/時間模組</div>
    <div class="page-title hide" ui-sref="element.editor" ui-sref-active="show">圖文編輯器</div>
    <div class="page-title hide" ui-sref="element.dropdown" ui-sref-active="show">下拉選單</div>
    <div class="page-title hide" ui-sref="element.imageUpload" ui-sref-active="show">上傳圖片</div>
    <div class="page-title hide" ui-sref="element.fileUpload" ui-sref-active="show">上傳檔案</div>
    <div class="page-title hide" ui-sref="element.selector" ui-sref-active="show">選擇器</div>
    <div class="page-title hide" ui-sref="element.dialog" ui-sref-active="show">DialogUtility</div>
    <div class="page-title hide" ui-sref="element.modal" ui-sref-active="show">ModalUtility</div>
    <div class="page-title hide" ui-sref="element.tableComponent" ui-sref-active="show">表格元件</div>
    <div class="page-title hide" ui-sref="element.tableLayout" ui-sref-active="show">表格互動與樣式</div>
    <div class="page-title hide" ui-sref="element.tableBasic" ui-sref-active="show">D-1 一般表格</div>
    <div class="page-title hide" ui-sref="element.tableCheckbox" ui-sref-active="show">D-2 Checkbox表格</div>
    <div class="page-title hide" ui-sref="element.tableCollapse" ui-sref-active="show">D-3可收合表格：母子單① - 母單上無資料</div>
    <div class="page-title hide" ui-sref="element.tableCategory" ui-sref-active="show">D-4 可收合表格：母子單② - 母單上有資料</div>
    <!-- PageHeader -->
    <!-- PageContent -->
    <div class="page-content">
        <ui-view></ui-view>
    </div>
    <!-- PageContent -->
</div>