<h4>J-0 輸入框</h4>
<div class="example">
    <input type="text" class="form-control " placeholder="輸入文字">
</div>
<pre class="language-markup" prism><code><xmp>
<input type="text" class="form-control " placeholder="輸入文字">
</xmp></code></pre>
<hr>
<h4>J-1 有單位輸入框</h4>
<div class="example">
    <div class="input-group">
        <input type="text" class="form-control " placeholder="價格">
        <div class="input-group-addon">元</div>
    </div>
</div>
<pre class="language-markup" prism><code><xmp>
<div class="input-group">
    <input type="text" class="form-control " placeholder="價格">
    <div class="input-group-addon">元</div>
</div>
</xmp></code></pre>
<hr>
<h4>J-2 小輸入框 (input)</h4>
<p>input class name <code>form-control</code>給input樣式，
    <code>with-word-count-tenth</code>計算input長度，這是算兩位數的寬度。
    <code>maxlength="100" ng-maxlength="100"</code>填入字數上限。
    <code>&lt;ns-character-count&gt;&lt;/ns-character-count&gt;</code>為掛上字數統計directive</p>
<div class="example">
    <input type="text"
           placeholder="最多100字"
           class="form-control with-word-count-tenth"
           required
           maxlength="100"
           ng-maxlength="100">
    <ns-character-count></ns-character-count>
</div>
<pre class="language-markup" prism><code><xmp>
<input type="text"
       class="form-control with-word-count-tenth"
       required
       maxlength="50"
       ng-maxlength="50">
<ns-character-count></ns-character-count>
</xmp></code></pre>
<hr>
<h4>J-3 大輸入框 (textarea)</h4>
<p class="desc">input class name <code>form-control</code>給textarea樣式，
    <code>with-word-count-hundredth</code>計算textarea長度，這是算三位數的寬度。
    <code>maxlength="200" ng-maxlength="200"</code>填入字數上限。
    <code>&lt;ns-character-count&gt;&lt;/ns-character-count&gt;</code>為掛上字數統計directive</p>
<div class="example">
<textarea class="form-control with-word-count-hundredth"
          placeholder="請輸入說明"
          maxlength="200" ng-maxlength="200"></textarea>
    <ns-character-count></ns-character-count>
</div>
<pre class="language-markup" prism><code><xmp>
<textarea class="form-control with-word-count-hundredth"
          placeholder="請輸入說明"
          maxlength="200" ng-maxlength="200"></textarea>
<ns-character-count></ns-character-count>
</xmp></code></pre>
<hr>
<h4>J-4 批次輸入框</h4>
<div class="example">
    <div class="input-batch-group">
        <textarea class="form-control"
                  cols="30"
                  rows="10"
                  placeholder="輸入商品編號，以半形逗號分隔或Enter換行分隔"></textarea>
        <span class="input-batch-btn">
            <input type="button" class="k-button btn-sub" value="次要功能按鈕" />
        </span>
    </div>
</div>
<pre class="language-markup" prism><code><xmp>
<div class="input-batch-group">
    <textarea class="form-control"
              cols="30"
              rows="10"
              placeholder="輸入商品編號，以半形逗號分隔或Enter換行分隔"></textarea>
    <span class="input-batch-btn">
        <input type="button" class="k-button btn-sub" value="加入商品" />
    </span>
</div>
</xmp></code></pre>
<hr>
<h4>J-5 帶按鍵輸入框</h4>
<div class="example">
    <div class="input-group">
        <input type="text" class="form-control"
               placeholder="請輸入門市名稱、縣市、地區、地址、店員姓名、或店員編號查詢">
        <span class="input-group-btn">
            <button class="k-button k-primary btn-main" type="button">快速查詢</button>
        </span>
    </div>
</div>
<pre class="language-markup" prism><code><xmp>
<div class="input-group">
    <input type="text" class="form-control"
           placeholder="請輸入門市名稱、縣市、地區、地址、店員姓名、或店員編號查詢">
    <span class="input-group-btn">
        <button class="k-button k-primary btn-main" type="button">快速查詢</button>
    </span>
</div>
</xmp></code></pre>
<hr>
<h4>表單必填時的紅色星星</h4>
<p><code>ns-required-star</code>掛上紅色星號顯示為必填欄位的directive</p>
<div class="example">
    <label ns-required-star="">必填欄位</label>
</div>
<pre class="language-markup" prism><code><xmp>
<label ns-required-star="">必填欄位</label>
</xmp></code></pre>