<p>當popup出現較複雜的內容，例如表單填寫、顯示圖片等，可以使用 ModalUtility。</p>
<p>如果modal裡有表單，表單相關參考 <a ui-sref="form.basic">基本表單</a></p>
<p>刪除時，如果需要顯示刪除品項的相關資訊，參考下方 刪除時的modal。</p>
<p class="desc">
    檔案位置: <code>~/components/ns-modal/</code><br>
    引用: <code>munch.ModalEntity.IModalUtilityEntity</code></p>
<hr>
<div class="example align-center">
    <button class="k-button k-primary btn-main" type="button"
            ng-click="ElementModalCtrl.OpenModal()">Modal 元件
    </button>
</div>
<pre class="language-markup" prism><code><xmp>
<!-- Modal template html內容 本範例是pop裡是表單 -->
<form name="sampleForm" role="form" ng-submit="ElementModalCtrl.Update(sampleForm)" novalidate>
    <!-- modal body -->
    <div class="modal-body">
        <div class="form-horizontal">
            <div class="form-group">
                <label ns-required-star class="control-label col-sm-2" for="StoreName">門市名稱1</label>
                <div class="col-sm-10">
                    <input name="StoreName"
                           ng-model="ElementModalCtrl.StoreName"
                           type="text" class="form-control input-counter" id="StoreName"
                           placeholder="請輸入文字敘述" maxlength="20" ng-maxlength="20"
                           ng-required="true"/>
                    <ns-character-count limit-length="20"
                                        input-item="ElementModalCtrl.StoreName"></ns-character-count>
                    <!--錯誤訊息-->
                    <div ng-class="{'show-message': sampleForm.$submitted && sampleForm.StoreName.$invalid}" ng-messages="sampleForm.StoreName.$error" class="error-message">
                        <div ng-messages-include="./errorMessage.html"></div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="column2">column2</label>
                <div class="col-sm-10">
                    <input ng-model="ElementModalCtrl.column2" name="column2" type="text" class="form-control input-counter"
                           id="column2" placeholder="請輸入文字敘述" maxlength="40" ng-maxlength="40">
                    <ns-character-count limit-length="40" input-item="ElementModalCtrl.column2"></ns-character-count>
                    <!--錯誤訊息-->
                    <div ng-class="{'show-message': sampleForm.$submitted && sampleForm.column2.$invalid}" ng-messages="sampleForm.column2.$error" class="error-message">
                        <div ng-messages-include="./errorMessage.html"></div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="column3">column3</label>
                <div class="col-sm-10">
                    <input name="column3" type="text" class="form-control" id="column3" placeholder="請輸入文字敘述">
                    <!--錯誤訊息-->
                    <div ng-class="{'show-message': sampleForm.$submitted && sampleForm.column3.$invalid}" ng-messages="sampleForm.column3.$error" class="error-message">
                        <div ng-messages-include="./errorMessage.html"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- modal footer -->
    <div class="modal-footer">
        <!--需要 取消按鈕時可加上
        <button class="k-button btn-sub" ng-click="ElementModalCtrl.ModalUtility.Close()">取消</button>-->
        <button type="submit" class="k-button k-primary btn-main">更新</button>
    </div>
</form></xmp></code></pre>
<hr>
<h4>呼叫時參數</h4>
<pre class="language-typescript" prism><code>
Open(title:string,
    templateUrl:string,
    CtrlName:string,
    scope:ng.IScope,
    size:string = this.ModalSizeOption.Large,
    windowClass:string = 'form-modal',
    showCloseButton:boolean = true)
</code></pre>
<ul class="param-desc">
    <li><code>title</code>: popup區塊的標題。沒有值時傳空字串 <code>""</code>，此時 header部分會沒有底線，僅保留關閉的 X</li>
    <li><code>templateUrl</code>: 客製化的html部分，需包含 <code>div.modal-body</code>(主要內容) 和 <code>modal-footer</code>(動作區，通常是按鈕)。可參考<code>~/TypeScripts/Modules/</code>下各資料夾裡 <code>template.modal.xxx.html</code>檔案（命名以 <code>template.modal</code> 開頭，以利辨認）。html檔可能會被瀏覽器 cache，有修改要加上版號，ex:<code>*.html?v=20160123</code></li>
    <li><code>CtrlName</code>: 此modal所使用controller名稱，通常傳入此頁的controller</li>
    <li><code>scope</code>: 此modal所使用scope，通常傳入此頁的scope</li>
    <li><code>size</code>: 此modal size，有 <code>this.ModalUtility.ModalSizeOption.Large</code>, <code>this.ModalUtility.ModalSizeOption.Medium</code>, <code>this.ModalUtility.ModalSizeOption.Samll</code>三種可選 (寬度分別為 900px, 600px, 300px)。不填預選 <code>this.ModalSizeOption.Large</code></li>
    <li><code>windowClass</code>: modal 最外圍的 class, 不填預設為 <code>form-modal</code> (非必填)</li>
    <li><code>showCloseButton</code>: 是否顯示右上角 close button (X), 不填預設為 <code>true</code> (非必填)</li>
</ul>
<hr>
<h4>刪除時的modal</h4>
<p>有時候刪除不只是一句話告知，而需要以表單格式顯示欲刪除內容時，需使用 <code>ModalUtility</code> 搭配相關 template 樣式處理。目前有此刪除樣式的包括 商品分類 (可刪和不可刪)、折扣活動、折價券、追蹤碼設定的刪除。刪除時指定modal size 和 class來達到指定樣式。</p>
<div class="example align-center">
    <a class="delete-link cursor-pointer"
       ng-click="ElementModalCtrl.OpenDeleteModal()">
        刪除 Model 例子<i class="fa fa-times"></i>
    </a>
</div>
<h5>呼叫刪除用 Modal</h5>
<pre class="language-typescript" prism><code>
// 呼叫 ModalUtility,
// 修改第2個參數為所用的template,
// 第3個參數為所用的controller,
// 第4個參數指定為size small - this.ModalUtility.ModalSizeOption.Small,
// 第4個參數指定 class為"form-modal delete-modal"以帶入樣式。
    this.ModalUtility.Open("","/TypeScripts/Modules/Promotion/template.modal.deletePromotion.html",
        "PromotionListController",this.$scope,this.ModalUtility.ModalSizeOption.Small, "form-modal delete-modal");
    }
</code></pre>
<h5>刪除 template 例子</h5>
<pre class="language-markup" prism><code><xmp>
<!-- 刪除的內容在 modal-body form-horizontal -->
<div class="modal-body form-horizontal">
    <div class="form-group">
        <!-- 表格標題 -->
        <label class="col-sm-2 control-label">商品編號 :</label>
        <!-- 表格內容 -->
        <div class="col-sm-10 bootstrap-top-spacing">
            {{ElementModalCtrl.DeleteData.Id}}
        </div>
    </div>
     <div class="form-group">
        <!-- 表格標題 -->
        <label class="col-sm-2 control-label">商品名稱 :</label>
         <!-- 表格內容 -->
        <div class="col-sm-10 bootstrap-top-spacing">
            {{ElementModalCtrl.DeleteData.Name}}
        </div>
    </div>
    <!-- 資料下方提示訊息 -->
    <div class="delete-message">您要刪除此商品分類? </div>
</div>
    <!-- 刪除的action -->
<div class="modal-footer">
    <button ng-click="ElementModalCtrl.DeleteShopCategory()" class="k-button k-primary btn-delete">刪除</button>
</div>
</xmp></code></pre>
<h5>刪除時的 controller 例子</h5>
<pre class="language-typescript" prism><code>
public ShowDeletePromotionModal($event, promotionData: NineYi.Sms.BL.BE.Promotions.PromotionEntity){
    // 例如如表格裡面的刪除按鈕，避免event bubbling 觸發其他的按鈕 (如開合)
    $event.preventDefault();
    $event.stopPropagation();
    // 將想要刪除資料存起
    this.DeletePromotionData = promotionData;
    // 呼叫 ModalUtility, 修改第2個參數為所用的template, 第3個參數為所用的controller, 第4個參數指定為size small, 第4個參數指定 class為"form-modal delete-modal"以帶入樣式。
    this.ModalUtility.Open("","/TypeScripts/Modules/Promotion/template.modal.deletePromotion.html",
        "PromotionListController",this.$scope,this.ModalUtility.ModalSizeOption.Small, "form-modal delete-modal");
}
public DeletePromotion(Id:number) {
    // 關閉modal
    this.ModalUtility.Close();
    // 呼叫刪除API, 如果需要參數則從template呼叫時就傳入 (此範例為 Id)
    this.PromotionService.DeletePromotion(Id)
        .then((result) => {
            // 顯示刪除成功 "Toaster" 並重整 SmartTable
            var info:munch.Utilities.INotificationInfo = {message: '刪除成功'};
            this.NotificationUtility.ShowNotify(
                info,
                this.NotificationUtility.NotificationType.Custom,
                2000,
                munch.Utilities.NotificationPositionEnum.Center);
            this.GetTable(this.TableState);
            // 另一種狀況是需要顯示  刪除成功 "Toaster" 並重新載入頁面，NotificationUtility 的第 5 個參數為 true 就會重整。
            this.NotificationUtility.ShowNotify(
                info,
                this.NotificationUtility.NotificationType.Custom,
                2000,
                munch.Utilities.NotificationPositionEnum.Center,
                true);
        })
        .catch((result) => {
            this.$log.error(result.Message);
            this.DialogUtility.Notice('系統發生錯誤');
        });
    }</code></pre>
<hr>
<h5>以下為幾個可參考例子。</h5>
<ul>
    <li>刪除，下方按鈕須為紅色: SMS <code>~/TypeScripts/Models/Shop/template.modal.deleteShopCategory.html</code></li>
    <li>編輯表單: SMS <code>~/TypeScripts/Models/Accounts/template.modal.editContact.html</code>...等。</li>
</ul>
<p>如果是使用form 表單，通常關閉 popup 是寫在 form 的 Submit function 裡， <code>this.ModalUtility.Close();</code></p>