<h4>11色選擇
</h4>
<p class="desc">
    檔案位置: <code>~/components/ns-shop-color-selector/</code></p>
<p>商店主色系選擇，回傳所選顏色。使用頁面，例如 商店營運設定 > 商店設定 的風格設定</p>
<div class="example" ng-init="ElementOtherCtrl.Color='Green'">
    <ns-shop-color-selector selected-color="ElementOtherCtrl.Color"></ns-shop-color-selector>
    <p>所選顏色：{{ElementOtherCtrl.Color}}</p>
</div>
<pre class="language-markup" prism><code><xmp>
    <ns-shop-color-selector selected-color="ElementOtherCtrl.Color"></ns-shop-color-selector>
</xmp></code></pre>
<ul class="param-desc">
    <li><code>selected-color</code>: 所選顏色所選顏色</li>
</ul>