<p>Radio button是 <code>&lt;input&gt;</code> 和 <code>&lt;label&gt;</code>
    成對出現。
    <code>&lt;input&gt;</code> 的 <code>id</code> 和 <code>&lt;label&gt;</code> 的
    <code>for</code>
    值要一致，radio button 才能正常運作。<br>
    <code>&lt;input&gt;</code> 的 class 為 <code>k-radio</code>， <code>
        &lt;label&gt;</code>的 class 為 <code>k-radio-label</code>。
</p>
<div class="example">
    <input type="radio" name="engine" id="engine1" value="超取"
           class="k-radio">
    <label class="k-radio-label" for="engine1">超取</label>
    <input type="radio" name="engine" id="engine2" value="宅配"
           class="k-radio" checked="checked">
    <label class="k-radio-label" for="engine2">宅配
    </label>
    <input type="radio" name="engine" id="engine3" value="自取"
           class="k-radio" disabled="true">
    <label class="k-radio-label" for="engine3" value="自取">自取</label>
</div>
<pre class="language-markup" prism><code><xmp>
<input type="radio" name="engine" id="engine1" value="超取"
       class="k-radio">
<label class="k-radio-label" for="engine1">超取</label>
<input type="radio" name="engine" id="engine2" value="宅配"
       class="k-radio" checked="checked">
<label class="k-radio-label" for="engine2">宅配</label>
<input type="radio" name="engine" id="engine3" value="自取"
       class="k-radio" disabled="true">
<label class="k-radio-label" for="engine3" value="自取">自取</label>
</xmp></code></pre>
