<h4>S-1 大量選擇框</h4>
<p>待開發/整理</p>
<hr>
<h4>S-2 twoSideMultiSelect元件</h4>
<p class="desc">檔案位置: <code>~/component/ns-two-side-multi-select/</code></p>
<div class="example" style="padding-left:30px;">
    <ns-two-side-multi-select ng-model="ElementSelectorCtrl.SelectedUsers"
                              sources="ElementSelectorCtrl.AllUsers"
                              selected-label="已加入門市"
                              unselected-label="未加入門市" display-attr="username">
    </ns-two-side-multi-select>
</div>
<pre class="language-markup" prism><code><xmp>
<div class="example" style="padding-left:30px;">
    <ns-two-side-multi-select ng-model="ElementSelectorCtrl.SelectedUsers"
                              sources="ElementSelectorCtrl.AllUsers"
                              selected-label="已加入門市"
                              unselected-label="未加入門市" display-attr="username">
    </ns-two-side-multi-select>
</div>
</xmp></code></pre>
<ul class="param-desc">
    <li><code>ng-model</code>: 已選擇選項 array</li>
    <li><code>sources</code>: 選項的來源 array</li>
    <li><code>selected-label</code>: 右邊 [已選擇] 上方標題文字</li>
    <li><code>unselected-label</code>: 左邊[選項的來源]上方標題文字</li>
    <li><code>display-attr</code>: 要顯示在選擇器上的資料欄位</li>
</ul>