<p>欄位中動作按鈕 (icon跟字間距5px)。根據 class name 不同顏色不同，&lt;i&gt;的 class name決定所使用 icon</p>
<h4>F-1 打V</h4>
<div class="example">
    <i class="fa fa-check-circle available-message"></i>
    <span class="available-message">驗證完成</span>
</div>
<pre class="language-markup" prism><code><xmp>
<!--打Ｖ 加上描述-->
<i class="fa fa-check-circle available-message"></i>
<span class="available-message">驗證完成</span>
</xmp></code></pre>
<hr>
<h4>F-2 下載</h4>
<div class="example">
    <a class="download-link" href="">
        下載範例格式<i class="glyphicon glyphicon-download-alt"></i>
    </a>
</div>
<pre class="language-markup" prism><code><xmp>
<a class="download-link" href="">
    下載範例格式<i class="glyphicon glyphicon-download-alt"></i>
</a>
</xmp></code></pre>
<hr>
<h4>F-3 Reload</h4>
<div class="example">
    <span class="none-available-message">尚未驗證</span>
    <i class="fa fa-refresh text-link-blue"></i>
    <button class="k-button btn-sub btn-height-26">開始驗證</button>
</div>
<pre class="language-markup" prism><code><xmp>
<span class="none-available-message">尚未驗證</span>
<i class="fa fa-refresh text-link-blue"></i>
<button class="k-button btn-sub btn-height-26">開始驗證</button>
</xmp></code></pre>
<hr>
<h4>刪除</h4>
<div class="example">
    <a class="delete-link" href="">
        刪除<i class="fa fa-times"></i>
    </a>
</div>
<pre class="language-markup" prism><code><xmp>
<a class="delete-link" href="">
    刪除<i class="fa fa-times"></i>
</a>
</xmp></code></pre>