<p>E-1 Tab 是根據Bootstrap Tab, 修改樣式, 再搭配 directive <code>ns-tabs-url-active</code> 達到根據網址 hash (#)會指導對應 Tab content 需求。</p>
<hr>
<p><a href="/sample_uxdoc_mapping/example/tab.html" target="_blank">Live Demo</a> 在另開新頁。</p>
<ol>
    <li>下面範例程式碼中，上半部<code>ul li</code>組成上方 tab 選單，下半部 <code>div.tab-content</code>裡面為對應 tab 選單的內容。Tab 選單裡的<code>a</code>的 <code>href</code>和 <code>aria-controls</code>，以及 tab  content裡的 <code>div.tab-pane</code>的<code>id</code>要一致。</li>
    <li><code>a</code>和<code>div.tab-pane</code> 帶有 class <code>active</code>表示此 tab 內容是預設要顯示的。</li>
    <li><code>div.tab-pane</code>的class <code>account-info</code>,<code>account-payment</code>,<code>account-contact</code>是為這幾個tab 內容區排版所放的，和tab的互動無關。</li>
    <li> 利用 AngularJS include語法引入相對頁面內容
        <pre class="language-markup" prism>&lt;div ng-include="'/TypeScripts/Modules/Account/account.info.html'">&lt;/div></pre></li>
    <li>html檔可能會被瀏覽器 cache，有修改要加上版號，ex:<code>*.html?v=20160123</code></li>
</ol>
<h4>範例程式碼</h4>
<pre class="language-markup line-numbers" prism><code><xmp>
<!-- Tab 選單 -->
<ul class="nav nav-tabs" role="tablist" ns-tabs-url-active>
    <li role="presentation" class="active">
        <a href="#Info" aria-controls="Info" role="tab"
           data-toggle="tab">商店/合約資訊</a>
    </li>
    <li role="presentation">
        <a href="#Payment" aria-controls="Payment" role="tab"
           data-toggle="tab">帳務資訊</a>
    </li>
    <li role="presentation">
        <a href="#Contact" aria-controls="Contact" role="tab"
           data-toggle="tab">聯絡窗口</a>
    </li>
</ul>
    <!-- Tab 選單 -->
    <!-- Tab 內容 -->
<div class="tab-content">
    <!-- 商店/合約資訊 -->
    <div role="tabpanel" class="tab-pane account-info active" id="Info" ng-controller="AccountInfoController as AccountInfoCtrl">
        <div ng-include="'/TypeScripts/Modules/Account/account.info.html'"></div>
    </div>
    <!-- 帳務資訊 -->
    <div role="tabpanel" class="tab-pane account-payment" id="Payment" ng-controller="AccountPaymentController as AccountPaymentCtrl">
        <div ng-include="'/TypeScripts/Modules/Account/account.payment.html'"></div>
    </div>
    <!-- 聯絡窗口 -->
    <div role="tabpanel" class="tab-pane account-contact" id="Contact" ng-controller="AccountContactController as AccountContactCtrl">
        <div ng-include="'/TypeScripts/Modules/Account/account.contact.html'"></div>
    </div>
</div>
    <!-- Tab 內容 -->
</xmp></code></pre>