<p class="desc">
    檔案位置: <br>
    表格上下都有scroll bar: <code>~/components/ns-double-scroll/</code><br>
    收合表格: <code>~/components/ns-grouped-table-header/</code>,<code>~/components/ns-grouped-table-header-action/</code><br>
    本頁全選: <code>~/components/ns-table-select-all/</code>
</p>
<hr>
<h5>HTML 基本結構</h5>
<p>smart table綁定 和 分頁元件 詳見 <a ui-sref="element.tableComponent">表格元件</a></p>
<pre class="language-markup" prism><code><xmp>
<!-- smart table綁定 和 分頁元件 詳見 表格元件 -->
<div class="table-wrapper" ns-double-scroll>
<!-- 基本表格 -->
<table class="table fixed-width-table" data-anchor>
    <thead>
        <tr>
            <!-- 根據 cell size, 功能放class -->
            <th class="medium-cell st-sort-number" st-sort="Id">商品序號</th>
            <th class="large-cell st-sort" st-sort="Title">商品名稱</th>
            <th class="small-cell">商品圖</th>
            <th class="extra-large-cell">銷售時間</th>
            <th class="medium-cell">建議售價</th>
        </tr>
    </thead>
    <!-- 基本表格 tbody, 以 tr為單位呈現資料 -->
    <tbody>
        <tr ng-repeat="Item in TableCtrl.GridData">
            <td>{{Item.Id}}</td>
            <td>{{Item.Title}}</td>
            <!-- 時間格式 -->
            <td>{{Item.SellingStartDateTime|date:"yyyy/MM/dd hh:mm:ss" }} 起</td>
            <!--圖片使用 ng-src -->
            <td>
                <img width="60px" height="60px" ng-src="{{'/Api/Image/Render' + Item.Picture}}">
            </td>
            <td>{{Item.SuggestPrice}}</td>
        </tr>
    </tbody>
</table>
<!-- 母單上有資料，如商品分類表格 -->
<table class="table fixed-width-table grouped-table" data-anchor>
    <!-- 表頭 -->
    <thead>
        <tr>
            <th>....表頭....</th>
        </tr>
    </thead>
    <!-- 母子單 tbody：母單上有資料 -->
    <tbody ng-repeat="parentCategories in TableSampleCtrl.GroupDataTableData track by $index">
        <!-- class="parent-level" 表示是母單
             ns-grouped-table-header ns-td-expend="false"
             是指td不需貫通並且帶有開合功能的directive
             ng-class 根據否有需要開合 帶入class -->
        <tr class="parent-level"
            ns-grouped-table-header ns-td-expend="false"
            ng-class="{'close-group has-child':parentCategories.IsParent,'no-child':!parentCategories.IsParent}">
          <td>
              <!-- 三角形icon -->
              <i class="icon icon-triangle" ng-if="parentCategories.IsParent"></i>
                <span>{{ parentCategories.Sort }}</span></td>
        <td>....母單資料...</td>
        </tr>
        <!-- class "child-level" 代表子層 class "hide" 表示一開始隱藏 (要打開就拿掉 hide class) -->
        <tr class="child-level hide" ng-repeat="childCategories in parentCategories.childCategories track by $index">
            <td>
                 <!-- 組合顯示母層和子層的 順序 -->
                 <span>{{ parentCategories.Sort }}</span>.<span>{{ childCategories.Sort }}</span>
             </td>
            <td>....子單資料...</td>
        </tr>
    </tbody>
</table>
<!--母單上無資料，有動作按鈕，如訂單(包括退換貨等)相關表格-->
<table class="table fixed-width-table order-table" data-anchor>
<!-- 表頭 -->
    <thead>
        <tr>
            <th>....表頭....</th>
        </tr>
    </thead>
    <!-- 母子單 tbody：母單上無資料 -->
    <tbody ng-repeat="OrderList in TableSampleCtrl.GroupedTableData">
        <tr class="master-id" ns-grouped-table-header>
            <td>
                主單編號: {{OrderList.TradesOrderCode}}
                <!--主單上的操作選項 左邊 -->
                <button class='k-button btn-sub'
                        ng-show=''
                        ng-click=''>出貨</button>
                <!--主單上的操作選項 右邊 加上 class pull-right -->
                <button class='k-button btn-sub pull-right'
                        ng-show=''
                        ng-click=''>出貨</button>
            </td>
        </tr>
        <!-- 子單內容 -->
        <!-- 如果一開始希望子單直接隱藏 class 加上 'hide' 即可達成 ex: class="order-list hide" -->
        <tr class="order-list" ng-repeat="Order in OrderList.OrderSlaveList">...子單內容在此...
        </tr>
    </tbody>
</table>
</div>
</xmp></code></pre>
<ul class="param-desc">
    <li><code>table-wrapper</code>: 表格外部 wrapper div class</li>
    <li>&lt;table&gt; 的 class:<br>
        <code>table</code> 是表格的基本 class<br>
        <code>fixed-width-table</code>：讓表格不會根據頁面寬度百分之百分配 cell寬度，需配合 th 上的寬度class進行設定<br>
        <code>grouped-table</code>：母單上有資料，如商品分類表格<br>
        <code>order-table</code>：母單上無資料，有動作按鈕，如訂單(包括退換貨等)相關表格
    </li>
    <li>
        Table 寬度設定： table cell (th, td) 預設為 60px 寬，<code>&lt;th&gt;</code> 加上size class可以改變寬度。<br>
        <code>small-cell</code>為90px<br>
        <code>medium-cell</code> 為120px<br>
        <code>large-cell</code> 為180px<br>
        <code>extra-large-cell</code> 為240px</li>
    <li>上下皆有 scollbar：<code>ns-double-scroll</code>放在外圍scroll div wrapper上，<code>data-anchor</code>放在會橫向過長需要scroll的table上。</li>
    <li>對齊用 class: <br>
        靠左 <code>align-left</code><br>
        置中 <code>align-center</code><br>
        靠右 <code>align-right</code></li>
</ul>
<hr>
<h4>排序</h4>
<p>smart table的 st-sort 和 pagination 無法共用，需要另外客製。</p>
<p> 在需要排序的 <code>th</code> 加上相關的 smart table (如<code>st-sort="Id"</code>) 和 class 設定(<code>st-sort-number</code> 或 <code>st-sort</code>)。</p>
<p>此範例 選擇商品序號 商品名稱 建議售價 售價 成本 可以排序。</p>
<p>排序根據 <code>st-sort</code> 所指定欄位而定，有三個狀態，原始順序、大到小、小到大。</p>
<pre class="language-markup" prism><code><xmp>
<th class="large-cell st-sort-number" st-sort="Id">選擇商品序號</th>
<th class="large-cell st-sort" st-sort="Title">商品名稱</th>
</xmp></code></pre>
<ul class="param-desc">
    <li>class <code>st-sort</code>: 顯示一般箭頭排序 icon</li>
    <li>class <code>st-sort-number</code>: 顯示數字排序 icon</li>
    <li><code>st-sort="Id"</code>: 等好內放入此 column 所要排序的資料名稱 (例如商品序號是 Item.Id, 以Id排序)</li>
</ul>
<p>Smart Table <a href="http://lorenzofox3.github.io/smart-table-website/#section-sort" target="_blank">Sort data</a> 相關文件。</p>
<hr>
<h4>本頁全選</h4>
<p>行為：由 本頁全選 checkbox 和 列表裡每一個項目前方 checkbox 組成。點選本頁全選的 checkbox 要讓 列表選項的 checkbox 在 全部在勾選 和 全部不勾選 兩個狀態間切換。如果點了本頁全選，在取消下方選項勾選時，本項全選會自動取消勾選。</p>
<pre class="language-markup" prism><code><xmp>
<!-- 表頭加上 全選區 -->
<thead>
<!--在本頁全選的 checkbox 所在html tag 加上 ns-table-select-all  -->
    <tr ns-table-select-all
        select-status="ElementTableBasicCtrl.SelectAllStatus"
        select-callback="ElementTableBasicCtrl.SelectAllSwitch()">
    </tr>
    <tr>
        <th>...表頭內容....</th>
    </tr>
</thead>
<tbody>
<tr ng-repeat="Item in ElementTableCtrl.SimpleTableData track by $index">
    <!-- 在勾選處放上 checkbox，通常是第一個 td
         checkbox input的id 和 label的for要一致
        -->
    <td>
        <input type="checkbox" id="table_SalePageId{{$index}}" class="k-checkbox table-select-checkbox"
               ng-model="Item.IsChecked"
               ng-click="ElementTableCtrl.ItemCheck($index)">
        <label class="k-checkbox-label" for="table_SalePageId{{$index}}">{{Item.Id}}</label>
    </td>
    <td>..其他表格內容..</td>
</tr>
</tbody>
</xmp></code></pre>
<pre class="language-typescript" prism><code>
//// 本頁全選是否勾選
public SelectAllStatus:boolean = false;

//// 下面選項的item
public CheckedItem(index:number):void{
    this.SelectAllStatus = false;
}
//// 設定 本頁全選 勾選與否 在本頁的動作
public SelectAllSwitch():void{
    this.$scope.$watch('SelectAllStatus', ()=>{
        this.SimpleTableData.map((Item)=>{
            Item.IsChecked = this.SelectAllStatus;
        });
    });
}
</code></pre>
<ul class="param-desc">
    <li><code>select-status</code>: 本頁全選是否預設為勾選，預設為 false</li>
    <li><code>select-callback</code>: 勾或不勾本頁全選後，所需執行動作 (例如更新子選單的選項狀態或其他動作)</li>
</ul>
<hr>