<p>分類，母單有對應表頭資料</p>
<div class="page-content">
    <div class="form-inline clearfix">
        <div class="form-actions">
            <input type="button" class="k-button k-primary btn-main-func"
                   value="動作一">
            <input type="button" class="k-button k-primary btn-main-func"
                   value="動作二">
        </div>
    </div>
    <!--分類表格開始-->
    <div class="table-wrapper" ns-double-scroll>
        <table class="table fixed-width-table grouped-table" data-anchor>
            <thead>
            <tr>
                <th class="medium-cell">排序</th>
                <th class="medium-cell">分類序號</th>
                <th class="medium-cell">分類名稱</th>
                <th class="medium-cell">網站顯示狀態</th>
                <th class="medium-cell">分類頁呈現</th>
                <th class="large-cell">更新紀錄</th>
                <th class="large-cell">操作</th>
            </tr>
            </thead>
            <tbody class="" ng-repeat="parentCategories in ElementTableCategoryCtrl.TableCategoryData track by $index">
            <tr class="parent-level" ns-grouped-table-header ns-td-expend="false"
                ng-class="{'close-group has-child':parentCategories.IsParent,'no-child':!parentCategories.IsParent}">
                <td><i class="icon icon-triangle" ng-if="parentCategories.IsParent"></i>
                    <span>{{ parentCategories.Sort }}</span></td>
                <td>{{ parentCategories.Id }}</td>
                <td>{{ parentCategories.Name }}</td>
                <td>
                    <input type="radio" id="{{ 'StatusDef-show-'+parentCategories.Id }}" class="k-radio" name="{{ 'StatusDef-'+parentCategories.Id }}" ng-value="'Normal'" ng-model="parentCategories.StatusDef" ng-click="ElementTableCategoryCtrl.ChangeStatusDef(parentCategories)" ng-disabled="!parentCategories.CanUpdated">
                    <label class="k-radio-label" for="{{ 'StatusDef-show-'+parentCategories.Id }}" >顯示</label>
                    <input type="radio" id="{{'StatusDef-hide-'+parentCategories.Id }}" class="k-radio" name="{{ 'StatusDef-'+parentCategories.Id }}" ng-value="'Hide'" ng-model="parentCategories.StatusDef" ng-click="ElementTableCategoryCtrl.ChangeStatusDef(parentCategories)" ng-disabled="!parentCategories.CanUpdated">
                    <label class="k-radio-label" for="{{'StatusDef-hide-'+parentCategories.Id }}">隱藏</label>
                </td>
                <td>
                    <span ng-if="parentCategories.ListModeDef == 'm'">卡片型</span>
                    <span ng-if="parentCategories.ListModeDef == 'l'">列表型</span>
                </td>
                <td>
                    <div>{{ parentCategories.UpdatedUser }}</div>
                    <div>{{ parentCategories.UpdatedDateTime | date: 'yyyy/MM/dd HH:mm:ss' }}</div>
                </td>
                <td>
                            <span class="action-item" ng-if="parentCategories.CanUpdated">
                                <a class="k-button btn-sub"
                                   ng-if="!parentCategories.IsParent"
                                   ng-href="/SalePage/List?category_id={{parentCategories.Id}}"
                                   target="_blank" ng-click="ElementTableCategoryCtrl.CancelBubbling($event)">查看分類商品</a>
                            </span>
                    <span class="action-item" ng-if="parentCategories.CanUpdated">
                                <input type="button" class="k-button btn-sub" value="編輯"
                                       ng-click="ElementTableCategoryCtrl.OpenCreateModal($event,parentCategories)" />
                            </span>
                    <span class="action-item" ng-if="parentCategories.CanUpdated">
                                <a class="delete-link cursor-pointer" ng-click="ElementTableCategoryCtrl.OpenDeleteModal($event,parentCategories)">
                                    刪除<i class="fa fa-times"></i>
                                </a>
                            </span>
                    <span ng-if="!parentCategories.CanUpdated">--</span>
                </td>
            </tr>
            <tr class="child-level hide" ng-repeat="childCategories in parentCategories.childCategories track by $index" class="child-level">
                <td>
                    <span>{{ parentCategories.Sort }}</span>.<span>{{ childCategories.Sort }}</span>
                </td>
                <td>{{ childCategories.Id }}</td>
                <td>{{ childCategories.Name }}</td>
                <td>
                    <input type="radio" id="{{ 'StatusDef-show-'+childCategories.Id }}" class="k-radio" name="{{ 'StatusDef-'+childCategories.Id }}" ng-value="'Normal'" ng-model="childCategories.StatusDef" ng-click="ElementTableCategoryCtrl.ChangeStatusDef(childCategories)">
                    <label class="k-radio-label" for="{{ 'StatusDef-show-'+childCategories.Id }}">顯示</label>
                    <input type="radio" id="{{'StatusDef-hide-'+childCategories.Id }}" class="k-radio" name="{{ 'StatusDef-'+childCategories.Id }}" ng-value="'Hide'" ng-model="childCategories.StatusDef" ng-click="ElementTableCategoryCtrl.ChangeStatusDef(childCategories)">
                    <label class="k-radio-label" for="{{'StatusDef-hide-'+childCategories.Id }}">隱藏</label>
                </td>
                <td>
                    <span ng-if="childCategories.ListModeDef == 'm'">卡片型</span>
                    <span ng-if="childCategories.ListModeDef == 'l'">列表型</span>
                </td>
                <td>
                    <div>{{ childCategories.UpdatedUser }}</div>
                    <div>{{ childCategories.UpdatedDateTime | date: 'yyyy/MM/dd HH:mm:ss' }}</div>
                </td>
                <td>
                            <span class="action-item" ng-if="childCategories.CanUpdated">
                                <a class="k-button btn-sub" ng-href="/SalePage/List?category_id={{childCategories.Id}}" target="_blank">查看分類商品</a>
                                </span>
                    <span class="action-item" ng-if="childCategories.CanUpdated">
                                <input type="button" class="k-button btn-sub" value="編輯" ng-click="ElementTableCategoryCtrl.OpenCreateModal($event, childCategories)" />
                                </span>
                    <span class="action-item" ng-if="childCategories.CanUpdated">
                                <a class="delete-link cursor-pointer" ng-click="ElementTableCategoryCtrl.OpenDeleteModal($event, childCategories)">
                                    刪除<i class="fa fa-times"></i>
                                </a>
                            </span>
                    <span ng-if="!parentCategories.CanUpdated">--</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>