<p>母子單 母單無對應表頭資料 僅編號/操作</p>
<div class="page-content" st-table="ElementTableCollapseCtrl.GroupedOrderTableData">
    <!-- 表單上方動作 -->
    <div class="form-inline clearfix">
        <div class="form-actions pull-left">
            <button class="k-button k-primary btn-main-func"
                    ng-click="ElementTableCollapseCtrl.Actions()">
                Actions
            </button>
            <input type="button" class="k-button k-primary btn-main-func" value="匯出報表" ng-click="ElementTableCollapseCtrl.Export()"/>
        </div>
        <!--分頁元件開始-->
        <ns-pagination ns-page-size="ElementTableCollapseCtrl.PageSize"
                       ns-total-count="ElementTableCollapseCtrl.TotalCount"></ns-pagination>
        <!--分頁元件結束-->
    </div>
    <!-- 表單上方動作 -->
    <!--訂單表格開始-->
    <div class="table-wrapper" ns-double-scroll>
        <table class="table order-table fixed-width-table" data-anchor>
            <thead>
            <tr ns-table-select-all
                select-status="ElementTableBasicCtrl.SelectAllStatus"
                select-callback="ElementTableBasicCtrl.SelectAllSwitch()">
            </tr>
            <tr>
                <th class="medium-cell">子單編號</th>
                <th class="medium-cell">配送資訊</th>
                <th class="large-cell">訂單成立日期<br>預計出貨日期</th>
                <th class="">交期</th>
                <th class="large-cell">商品資訊<br>商品料號</th>
                <th class="small-cell">數量<br>銷售金額</th>
                <th class="large-cell">收件人資訊</th>
                <th class="large-cell">取貨門市</th>
                <th class="medium-cell">
                    發票資訊 <i class="fa fa-question-circle" kendo-tooltip k-position="'top'"  k-content="'請使用這些資訊開立<br/>發票給消費者。'"></i>
                </th>
                <th class="large-cell">
                    商店訂單備註<i class="fa fa-question-circle" kendo-tooltip k-position="'top'" k-content="'可在此備註訂單相關<br/>資訊，作為訂單處理<br/>時的小提醒。'"></i>
                </th>
                <th class="small-cell">訂單狀態</th>
                <th class="large-cell">貨運狀態</th>
                <th class="medium-cell">操作</th>
            </tr>
            </thead>
            <tbody ng-repeat="OrderList in ElementTableCollapseCtrl.GroupedOrderTableData">
            <tr class="master-id" ns-grouped-table-header>
                <td>
                    <input type="checkbox" id="Grouped_{{$index}}" class="k-checkbox table-select-checkbox">
                    <label class="k-checkbox-label order-table-master-checkbox-label" for="Grouped_{{$index}}">&nbsp;</label>
                    <i class="icon icon-triangle"></i>主單編號: {{OrderList.TradesOrderCode}}
                    <!--主單上的操作選項 -->
                    <button class='k-button btn-sub'
                            ng-show="OrderList.IsWaitingToShipping"
                            ng-click='ElementTableCollapseCtrl.OpenShippingDialog(OrderList.OrderSlaveList[0].SalesOrderId,"",$event)'>出貨</button>
                    <button class='k-button btn-sub pull-right'
                            ng-show="OrderList.IsWaitingToShipping"
                            ng-click='ElementTableCollapseCtrl.OpenShippingDialog(OrderList.OrderSlaveList[0].SalesOrderId,"",$event)'>出貨</button>
                </td>
            </tr>
            <tr class="order-list" ng-repeat="Order in OrderList.OrderSlaveList">
                <td class="medium-cell">
                    <div ng-bind="Order.TradesOrderSlaveCode"></div>
                </td>
                <td>
                    <strong ng-show="ElementTableCollapseCtrl.DeliverTypeDef==='Home'">宅配</strong>
                    <strong ng-hide="ElementTableCollapseCtrl.DeliverTypeDef==='Home'">超商取貨</strong>
                    <br/>
                    {{Order.ShopShippingTypeName}}<br/>
                    運費{{Order.Fee}}元
                </td>
                <td>
                    {{Order.DateTime|date:'yyyy/MM/dd HH:mm'}}起<br/>
                    {{Order.ExpectShippingDate ? (Order.ExpectShippingDate|date:'yyyy/MM/dd HH:mm') + '止' : "--" }}
                </td>
                <td>
                    {{Order.ShippingTypeDefDesc}}
                </td>
                <td>
                    {{Order.SaleProductTitle}}
                    <div class="text desc">{{Order.SkuSupplierOuterId}}</div>
                    <div class="text desc">{{Order.SkuForDisplay}}</div>
                    <a ng-href="/SalePage/List?salepage_id={{Order.SalePageId}}" target="_blank">商品詳細資訊</a>
                </td>
                <td>
                    {{Order.Qty}}<br/>
                    ${{Order.TotalPayment}}<br/>
                    <a href="" ng-click="ElementTableCollapseCtrl.OpenSalesAmount(Order)">查看明細</a>
                </td>
                <td>
                    {{Order.ReceiverName}}<br/>{{Order.ReceiverMobile}}
                </td>
                <td>
                    {{Order.ReceiverStoreName}}<br/>{{Order.ReceiverAddress}}
                </td>
                <td>
                    {{Order.InvoiceTitle}}<br/>
                    {{Order.InvoiceNo ? '統編：' + Order.InvoiceNo : ''}}
                </td>
                <td>
                    {{Order.SupplierNote ? Order.SupplierNote : '--'}}<br/>
                    <a href="" ng-click="ElementTableCollapseCtrl.OpenEditNote(Order)">編輯備註</a>
                </td>
                <td>
                    {{Order.StatusDefDesc ? Order.StatusDefDesc : '--'}}
                    <!--已取消需於狀態下方顯示原因,如果為到店未取退回不顯示原因,訊息顯示於貨運狀態欄位-->
                    <div ng-show="Order.StatusDefDesc&&Order.CancelOrderSlaveCauseDefDesc&&Order.StatusDef === 'Cancel'">({{Order.CancelOrderSlaveCauseDefDesc}})</div>
                </td>
                <td>
                    {{Order.ShippingOrderSlaveStatusDefDesc ? Order.ShippingOrderSlaveStatusDefDesc : '--'}}

                    <div ng-show="Order.ShippingOrderSlaveStatusDef==='AllocatedCode'">
                        ({{Order.OuterCode}})
                        <i class="fa fa-question-circle" kendo-tooltip k-position="'top'"  k-content="'配送的標籤編號，編號相同為同一個箱子。'"></i>
                        <br/>
                        <a href="" ng-click="ElementTableCollapseCtrl.OpenShippingTagDialog(Order)">標籤列印/作廢配號</a>
                        <i class="fa fa-question-circle" kendo-tooltip k-position="'top'"  k-content="'標籤遺失或無法使用嗎?可點此重印或作廢配號。'"></i>
                    </div>
                </td>
                <td>
                    <span   ng-show="!ShippingBtn && !VerifyReturnBtn"> -- </span>
                    <input  type="button" class="k-button btn-sub" value="出貨"
                            ng-init="ShippingBtn = ElementTableCollapseCtrl.ShowShippingBtn($index)"
                            ng-show="ShippingBtn"
                            ng-click="ElementTableCollapseCtrl.OpenShippingDialog(Order.SalesOrderId,Order.TradesOrderSlaveCode,$event)">
                    <input  type="button" class="k-button btn-sub" value="驗退處理"
                            ng-init="VerifyReturnBtn = ElementTableCollapseCtrl.ShowVerifyReturnBtn($index)"
                            ng-show="VerifyReturnBtn"
                            ng-click="ElementTableCollapseCtrl.OpenVerifyErrorDialog(OrderList,Order.OuterCode)">

                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!--訂單表格結束-->
    <!--分頁元件開始-->
    <div class="form-inline clearfix">
        <div class="form-actions pull-left">
            <button class="k-button k-primary btn-main-func"
                    ng-click="ElementTableCollapseCtrl.Actions()">
                Actions
            </button>
            <input type="button" class="k-button k-primary btn-main-func" value="匯出報表" ng-click="ElementTableCollapseCtrl.Export()"/>
        </div>
        <ns-pagination ns-page-size="ElementTableCollapseCtrl.PageSize"
                       ns-total-count="ElementTableCollapseCtrl.TotalCount"></ns-pagination>
    </div>
    <!--分頁元件結束-->
</div>