<h4>D-2 Checkbox表格</h4>
<div class="page-content">
    <div class="search-result-content" st-table="ElementTableBasicCtrl.GridData">
        <!-- 表單上方動作 -->
        <div class="form-inline clearfix">
            <div class="form-actions pull-left">
                <button class="k-button k-primary btn-main-func"
                        ng-click="ElementTableBasicCtrl.CheckSelectAll()">
                    勾選全選後動作
                </button>
            </div>
        </div>
        <!-- 表單上方動作 -->
        <!--活動表格開始-->
        <div class="table-wrapper" ns-double-scroll>
            <table class="table fixed-width-table grouped-table" data-anchor>
                <thead>
                <tr ns-table-select-all
                    select-status="ElementTableBasicCtrl.SelectAllStatus"
                    select-callback="ElementTableBasicCtrl.SelectAllSwitch()">
                </tr>
                <tr>
                    <th class="large-cell">
                        選擇商品序號
                        <i class="fa fa-question-circle"
                           kendo-tooltip=""
                           k-position="'top'"
                           k-content="'勾選商品後，點綠色按鍵設定商品活動。'"
                           data-role="tooltip">
                        </i>
                    </th>
                    <th class="large-cell">商品名稱</th>
                    <th class="medium-cell">商品活動</th>
                    <th class="large-cell">商品頁狀態</th>
                    <th class="large-cell">銷售時間</th>
                    <th class="medium-cell">建議售價</th>
                    <th class="medium-cell">售價</th>
                    <th class="medium-cell">成本</th>
                    <th fixed-column class="medium-cell">動作</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="Item in ElementTableBasicCtrl.GridData track by $index">
                    <td>
                        <input type="checkbox" id="table_SalePageId{{$index}}" class="k-checkbox"
                               ng-model="Item.IsChecked"
                               ng-click="ElementTableBasicCtrl.CheckedItem($index)">
                        <label class="k-checkbox-label" for="table_SalePageId{{$index}}">{{Item.Id}}</label>
                    </td>
                    <td>{{Item.Title}}</td>
                    <td>
                        <p ng-show="!Item.IsLimit && !Item.IsShareToBuy && !Item.IsAPPOnly">目前無活動</p>
                        <p ng-show="Item.IsLimit">限購活動</p>
                        <p ng-show="Item.IsShareToBuy">分享活動</p>
                        <p ng-show="Item.IsAPPOnly">APP獨賣</p>
                    </td>
                    <td>
                        <p>
                            <input type="radio"  class="k-radio" id="table_SalePageStatusON{{$index}}" name="table_SalePageStatus{{$index}}"
                                   ng-value="false"
                                   ng-model="Item.IsClosed"
                                   ng-click="ElementTableBasicCtrl.UpdateStatus(Item,false)">
                            <label class="k-radio-label" for="table_SalePageStatusON{{$index}}" >開啟</label>
                        </p>
                        <p>
                            <input type="radio" class="k-radio" id="table_SalePageStatusOFF{{$index}}" name="table_SalePageStatus{{$index}}"
                                   ng-value="true"
                                   ng-model="Item.IsClosed"
                                   ng-click="ElementTableBasicCtrl.UpdateStatus(Item,true)">
                            <label class="k-radio-label" for="table_SalePageStatusOFF{{$index}}">關閉</label>
                        </p>
                    </td>
                    <td>
                        <p>{{Item.SellingStartDateTime|date:"yyyy/MM/dd hh:mm:ss" }} 起</p>
                        <p>{{Item.SellingEndDateTime|date:"yyyy/MM/dd hh:mm:ss" }} 止</p>
                    </td>
                    <td>{{Item.SuggestPrice}}</td>
                    <td>{{Item.Price}}</td>
                    <td>{{Item.Cost}}</td>
                    <td fixed-column><p><a href="#" class="k-button btn-sub">動作一</a></p>
                        <p><a href="#" class="k-button btn-sub">動作二</a></p>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <!-- 活動表格結束 -->
    </div>
</div>