<p>基本表格</p>
<div class="page-content">
    <div class="search-result-content"
         st-table="ElementTableBasicCtrl.GridDisplayData"
         st-safe-src="ElementTableBasicCtrl.GridData"
         st-pipe="ElementTableBasicCtrl.GetTableData">
        <!-- 表單上方動作 -->
        <div class="form-inline clearfix">
            <div class="form-actions pull-left">
                <button class="k-button k-primary btn-main-func"
                        ng-click="ElementTableBasicCtrl.Action1()">
                    動作按鈕一
                </button>
            </div>
            <!--分頁元件開始-->
            <ns-pagination ns-page-size="ElementTableBasicCtrl.PageSize"
                           ns-total-count="ElementTableBasicCtrl.TotalCount"></ns-pagination>
            <!--分頁元件結束-->
        </div>
        <!-- 表單上方動作 -->
        <!--活動表格開始-->
        <div class="table-wrapper" ns-double-scroll>
            <table class="table fixed-width-table grouped-table" data-anchor>
                <thead>
                <tr>
                    <th class="large-cell st-sort-number" st-sort="Id">
                        商品序號
                    </th>
                    <th class="large-cell st-sort" st-sort="Title">商品名稱</th>
                    <th class="medium-cell">商品活動
                        <!--<i class="fa fa-filter cursor-pointer" aria-hidden="true" ng-click=""></i>-->
                    </th>
                    <th class="large-cell">商品頁狀態</th>
                    <th class="large-cell">銷售時間</th>
                    <th class="medium-cell st-sort-number" st-sort="SuggestPrice">建議售價</th>
                    <th class="medium-cell st-sort-number" st-sort="Price">售價</th>
                    <th class="medium-cell st-sort-number" st-sort="Cost">成本</th>
                    <th fixed-column class="medium-cell">動作</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="Item in ElementTableBasicCtrl.GridDisplayData">
                    <td>{{Item.Id}}</td>
                    <td>{{Item.Title}}</td>
                    <td>
                        <p ng-show="!Item.IsLimit && !Item.IsShareToBuy && !Item.IsAPPOnly">目前無活動</p>
                        <p ng-show="Item.IsLimit">限購活動</p>
                        <p ng-show="Item.IsShareToBuy">分享活動</p>
                        <p ng-show="Item.IsAPPOnly">APP獨賣</p>
                    </td>
                    <td>
                        <p>
                            <input type="radio"  class="k-radio" id="table_SalePageStatusON{{$index}}" name="table_SalePageStatus{{$index}}"
                                   ng-value="false"
                                   ng-model="Item.IsClosed"
                                   ng-click="ElementTableBasicCtrl.UpdateSalePageStatus(Item,false)">
                            <label class="k-radio-label" for="table_SalePageStatusON{{$index}}" >開啟</label>
                        </p>
                        <p>
                            <input type="radio" class="k-radio" id="table_SalePageStatusOFF{{$index}}" name="table_SalePageStatus{{$index}}"
                                   ng-value="true"
                                   ng-model="Item.IsClosed"
                                   ng-click="ElementTableBasicCtrl.UpdateSalePageStatus(Item,true)">
                            <label class="k-radio-label" for="table_SalePageStatusOFF{{$index}}">關閉</label>
                        </p>
                    </td>
                    <td>
                        <p>{{Item.SellingStartDateTime|date:"yyyy/MM/dd hh:mm:ss" }} 起</p>
                        <p>{{Item.SellingEndDateTime|date:"yyyy/MM/dd hh:mm:ss" }} 止</p>
                    </td>
                    <td>{{Item.SuggestPrice}}</td>
                    <td>{{Item.Price}}</td>
                    <td>{{Item.Cost}}</td>
                    <td fixed-column><p><a href="#" class="k-button btn-sub">動作一</a></p>
                        <p><a href="#" class="k-button btn-sub">動作二</a></p>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <!-- 活動表格結束 -->
        <!-- 表單下方動作 -->
        <div class="form-inline clearfix">
            <div class="form-actions pull-left">
                <button class="k-button k-primary btn-main-func"
                        ng-click="ElementTableBasicCtrl.Action1()">
                    動作按鈕一
                </button>
                <button class="k-button k-primary btn-main-func"
                        ng-click="ElementTableBasicCtrl.Action2()">
                    動作按鈕二
                </button>
            </div>
            <!--分頁元件開始-->
            <ns-pagination ns-page-size="ElementTableBasicCtrl.PageSize"
                           ns-total-count="ElementTableBasicCtrl.TotalCount"></ns-pagination>
            <!--分頁元件結束-->
        </div>
        <!-- 表單下方動作 -->
    </div>
</div>