<h4>表格元件</h4>
<p>smart table ＆ pagination</p>
<p class="desc">
    檔案位置: <code>~/components/ns-smart-table/</code><br>
    引用: <code>munch.Utilities.TableUtility</code></p>
<hr>
<h5>HTML</h5>
<pre class="language-markup" prism><code><xmp>
<!-- 一進來預先搜尋無資料 -->
<div class="no-data" ng-if="TableCtrl.GridData.length === 0 && !TableCtrl.IsUserSearch">
    無資料
</div>
<!-- 使用者發動搜尋後無資料 -->
<div class="no-data" ng-if="TableCtrl.GridData.length === 0 && TableCtrl.IsUserSearch">
    您查詢的條件目前沒有資料
</div>
<!-- 有資料時 -->
<div class="page-content" ng-if="TableCtrl.GridData.length !== 0">
    <div class="search-result-content" st-table="TableCtrl.GridData" st-pipe="TableCtrl.GetTableData">
        <!--分頁元件開始-->
        <div class="form-inline clearfix">
            <div class="form-actions pull-left">
                <!-- 如果分類元件同一行左方有其他動作按鈕會放在這裡 -->
            </div>
            <ns-pagination ns-page-size="TableCtrl.PageSize"
                           ns-selected-page-size="TableCtrl.SelectedPageSize"
                           ns-total-count="TableCtrl.TotalCount"></ns-pagination>
        </div>
        <!--分頁元件結束-->
        <!-- 表格 wrapper / table 詳見 表格互動與樣式 -->
</xmp></code></pre>
<p>表格 wrapper / table 詳見  <a ui-sref="element.tableLayout">表格互動與樣式</a></p>
<h5>Smart Table</h5>
<ul class="param-desc">
    <li><code>st-table="TableCtrl.GridData" st-pipe="TableCtrl.GetTableData"</code>: 將smart table元件綁定</li>
</ul>
<h5>分頁元件 <code>ns-pagination</code></h5>
<ul class="param-desc">
    <li><code>ns-page-size</code>: 當前的分頁項目數量</li>
    <li><code>ns-total-count</code>: 項目總數量</li>
    <li><code>ns-page-index</code>: 選擇分頁數的索引值 (通常是 Ctrl.PageIndex)</li>
    <li><code>ns-show-input</code>: 是否顯示總頁數和 input field 輸入頁碼</li>
</ul>
<hr>
<h4>Typescript</h4>
<p>
    如果不是以表單方式更新資料，以下列方式更新使用者是否發動搜尋 (如訂單系列)
</p>
<p>配合分頁元件，會在表單起始和分頁元件起始各打一次 API，避免打兩次 API 可以在分頁形成前先阻擋一次API呼叫(範例如下)。</p>
<p>如果進入本頁一開始不用查詢</p>
<pre class="language-typescript" prism><code>
// 宣告參數
// 分頁設定值
public PageSize:number;
public PageIndex:number;
public TotalCount:number;
//表格的設定值
public GetTableData:Function;
public GridData: XXXEntity[];
public TableState:any;
// 使用者是否發動搜尋
public IsUserSearch:boolean = false;

// 在 constructor 設定起始值
constructor(...){
this.GridData = [];
    this.TotalCount = 0;
    this.PageSize = 20; // 預設每個分頁比數
    this.SelectedPageSize = 20;
    this.PageIndex = 0;
    this.GetTableData = this.GetTable.bind(this);
}
// smart-table的接口
public GetTable(tableState:any):void {
    ....
    // 分頁還沒形成前先不打API
    if(!tableState.pagination.number){
        return;
    }
    ...
    //一進入頁面不搜尋資料
    if (!tableState.search.predicateObject) {
        return;
    }
    // 如果一開始有任何資料(例如以下的Ctrl.Parameter)尚未拿到錢不搜尋，可以在這裡家判斷
    if(!Ctrl.Parameter){
        return;
    }

    ...
    //在呼叫API成功再判斷是否使用者發動搜尋，以免還在呼叫API時 "您查詢的條件目前沒有資料" 就已經出現在頁面上。
    this.ShippingOrderService.QueryRetrievedOrder(SearchItem)
        .then((data...) => {
            ...
            // 判斷是否是使用者發動搜尋
            if(tableState.search.predicateObject) {
                this.IsUserSearch = true;
            }
        });
}
</code></pre>
<pre class="language-typescript" prism><code>


//smart table 接口
public GetTable(tableState:any):void {
    this.TableState = tableState;
    this.PageIndex = this.TableState.pagination.start || 0;
    this.PageSize = this.TableState.pagination.number || this.PageSize;
    // 更新表單值，送出 false (不是使用者發動搜尋)
    this.CallApiFunction(false);
}

// 以表單方式進行查詢
public Submit(Form:IFormController):void {
    if(!Form.$invalid){
        // 只有在按鈕送出表單時，送出 true (使用者發動搜尋)
        this.CallApiFunction(true);
    }
}

// 取得商品活動設定資料 (表單所需顯示數值)，從 API 取值並顯示在頁面上
// 在需要更新時呼叫
public GetSalePageActivity(isFromSubmit:boolean):void {
    // search item 是呼叫 API 所需要給的值
    var SearchItem:BL.BE.SalePages.SalePageActivityQueryEntity = {
                    ...
    };
// 呼叫 API
this.SalePageService.GetSalePageActivity(SearchItem,this.PageSize,this.PageIndex)
   .then((...)=>{
       if(result.Status === "Success") {
       // 更新 table 值, this.GridData 是直接取 result.Data.List 或要再經過處理取決於該頁面的需求
           this.GridData = this.AddAttr(result.Data.List);
       // 更新頁面上的 TotalCount 值
           this.TotalCount = result.Data.TotalCount;
       // 更新表格內容
           this.TableUtility.UpdateTableStatus(this.TableState, this.PageSize, this.TotalCount);
        // 判斷是否是使用者發動搜尋
        if(isFromSubmit){
            this.IsUserSearch = true;
        }
       }
   },(error) =>
   });
}</code></pre>
