<div class="modal-body form-horizontal">
    <div class="form-group">
        <label class="col-sm-2 control-label">資料名稱 :</label>
        <div class="col-sm-10 bootstrap-top-spacing">
            想要刪除的資料
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">資料名稱 :</label>
        <div class="col-sm-10 bootstrap-top-spacing">
            想要刪除的資料2
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">資料名稱 :</label>
        <div class="col-sm-10 bootstrap-top-spacing">
            想要刪除的資料3
        </div>
    </div>
    <div class="delete-message">你確定要刪除嗎? (或其他警語)</div>
</div>
<div class="modal-footer">
    <button ng-click="ComponentSampleCtrl.Delete()" class="k-button k-primary btn-delete">刪除</button>
</div>
