<form name="sampleForm" role="form" ng-submit="ComponentSampleCtrl.Update(sampleForm)" novalidate>
    <div class="modal-body">
        <div class="form-horizontal">
            <div class="form-group">
                <label ns-required-star class="control-label col-sm-2" for="StoreName">門市名稱1</label>
                <div class="col-sm-10">
                    <input name="StoreName"
                           ng-model="ComponentSampleCtrl.StoreName"
                           type="text" class="form-control input-counter" id="StoreName"
                           placeholder="請輸入文字敘述" maxlength="20" ng-maxlength="20"
                           ng-required="true"/>
                    <ns-character-count limit-length="20"
                                        input-item="ComponentSampleCtrl.StoreName"></ns-character-count>
                    <!--錯誤訊息-->
                    <div ng-class="{'show-message': sampleForm.$submitted && sampleForm.StoreName.$invalid}" ng-messages="sampleForm.StoreName.$error" class="error-message">
                        <div ng-messages-include="./errorMessage.html"></div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="column2">column2</label>
                <div class="col-sm-10">
                    <input ng-model="ComponentSampleCtrl.column2" name="column2" type="text" class="form-control input-counter"
                           id="column2" placeholder="請輸入文字敘述" maxlength="40" ng-maxlength="40">
                    <ns-character-count limit-length="40" input-item="ComponentSampleCtrl.column2"></ns-character-count>
                    <!--錯誤訊息-->
                    <div ng-class="{'show-message': sampleForm.$submitted && sampleForm.column2.$invalid}" ng-messages="sampleForm.column2.$error" class="error-message">
                        <div ng-messages-include="./errorMessage.html"></div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="column3">column3</label>
                <div class="col-sm-10">
                    <input name="column3" type="text" class="form-control" id="column3" placeholder="請輸入文字敘述">
                    <!--錯誤訊息-->
                    <div ng-class="{'show-message': sampleForm.$submitted && sampleForm.column3.$invalid}" ng-messages="sampleForm.column3.$error" class="error-message">
                        <div ng-messages-include="./errorMessage.html"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <!--需要 刪除按鈕時可加上
        <button class="k-button btn-sub" ng-click="ComponentSampleCtrl.ModalUtility.Close()">取消</button>-->
        <button type="submit" class="k-button k-primary btn-main">更新</button>
    </div>
</form>