<p class="desc">
    檔案位置: <code>~/components/ns-toast/</code><br>
    引用: <code>munch.ToastEntity.IToastUtilityEntity</code></p>
<p>在 UX 文件上的 toast，會自動消失，預設為 2 秒。</p>
<p>Toast 顯示後要做任何動作都是自行決定，沒有預先設定。</p>
<hr>
<div class="example">
    <input type="button" class="k-button k-primary btn-main" value="點選顯示 Toast"
           ng-click="UtilityToastCtrl.ShowToast()" />
    <input type="button" class="k-button k-primary btn-main" value="點選顯示 5 秒的 Toast"
           ng-click="UtilityToastCtrl.ShowLongToast()" />
    <input type="button" class="k-button k-primary btn-main" value="Toast 之後接 Dialog Utility"
           ng-click="UtilityToastCtrl.ShowDialog()" />
</div>
<pre class="language-javascript" prism><code>
//顯示預設Toast
this.ToastUtility.Show("刪除完成");
//客製化秒數的 Toast
this.ToastUtility.Custom({message: "比較長的訊息，多行會自動展開", duration: 5000});
//Toast 消失後要接動作
this.ToastUtility.Show("動作一完成")
    .then(()=>{
        thisDialogUtility.Notice("繼續進行動作二");
    });
</code></pre>
<hr>
<h4>使用方式</h4>
<h5>顯示預設 Toast</h5>
<pre class="language-typescript" prism><code>
this.ToastUtility.Show("刪除完成");</code></pre>
<p>呼叫時參數</p>
<pre class="language-typescript" prism><code>
 Show: (message:string)</code></pre>
<ul class="param-desc">
    <li><code>message</code>: 訊息文字 (必填)</li>
</ul>
<p>&nbsp;</p>
<h5>客製化秒數的 Toast</h5>
<pre class="language-typescript" prism><code>
 this.ToastUtility.Custom({message: "比較長的訊息，多行會自動展開", duration: 5000});</code></pre>
<p>呼叫時參數</p>
<pre class="language-typescript" prism><code>
Custom: (opts: {
    message: string
    duration?:number
})</code></pre>
<ul class="param-desc">
    <li><code>message</code>: 訊息文字 (必填)</li>
    <li><code>duration</code>: 訊息顯示毫秒數 ms (非必填)</li>
</ul>
<p>&nbsp;</p>
<h5>Toast 消失後要接動作</h5>
<p>後面接 <code>then</code> 即可。</p>
<pre class="language-typescript" prism><code>
// 此例子是接 Dialog Utility
this.ToastUtility.Show("動作一完成")
    .then(()=>{
        thisDialogUtility.Notice("繼續進行動作二");
    });
//或
 this.ToastUtility.Custom({message: "比較長的訊息，多行會自動展開", duration: 5000})
    .then(()=>{
        thisDialogUtility.Notice("繼續進行動作二");
    });
</code></pre>
