<p>在滑鼠 hover <i class="fa fa-question-circle" kendo-tooltip k-position="'top'" k-content="'顯示 Tooltip'"></i> 時，顯示內容。可以自訂方向(上下左右)，可以放入 文字、html、圖片。</p>
<p>Tooltip 帶圖: 在k-content 直接寫 img tag 需加上 <code>width</code> <code>hight</code>，不然Tooltip第一次出現時位置會有錯。</p>
<div class="example">
    <span>左方顯示Tooltip</span><i class="fa fa-question-circle" kendo-tooltip k-position="'left'"
                               k-content="'The <b>tooltip on </b><p style=color:red>left</p>'"></i>
    <span>右方顯示Tooltip</span><i class="fa fa-question-circle" kendo-tooltip k-position="'right'"
                               k-content="'The <b>tooltip on </b><p style=color:red>right</p>'"></i>
    <span>上方顯示Tooltip</span> <i class="fa fa-question-circle" kendo-tooltip k-position="'top'"
                                k-content="'The <b>tooltip on </b><p style=color:red>top</p>'"></i>
    <span>下方顯示Tooltip</span><i class="fa fa-question-circle" kendo-tooltip k-position="'bottom'"
                               k-content="'The <b>tooltip on </b><p style=color:red>bottom (default)</p>'"></i>
    <span>帶圖的 Tooltip</span>
    <i class="fa fa-question-circle"
       kendo-tooltip
       k-position="'top'"
       k-content="'<img src=\'/sample_uxdoc_mapping/content/images/tip_list.png\' width=\'250\' height=\'184\'>'"
       data-role="tooltip">
    </i>
</div>
<pre class="language-markup" prism><code><xmp>
<i class="fa fa-question-circle"
   kendo-tooltip
   k-position="'left'"
   k-content="'The <b>tooltip on </b><p style=color:red>left</p>'"></i>
<i class="fa fa-question-circle"
   kendo-tooltip
   k-position="'top'"
   k-content="'<img src=\'/sample_uxdoc_mapping/content/images/tip_list.png\' width=\'250\' height=\'184\'>'"
   data-role="tooltip"></i>
</xmp></code></pre>
<ul class="param-desc">
    <li><code>&lt;i class="fa fa-question-circle"&gt;&lt;/i&gt;</code>: icon 樣式</li>
    <li><code>kendo-tooltip</code>: 掛上代表 hover 要顯示 tooltip</li>
    <li><code>k-position</code>: 顯示位置 <code>'top'</code> <code>'left'</code> <code>'right'</code> <code>'bottom'</code></li>
    <li><code>k-content</code>: 要顯示內容，單引號<code>'</code>框起來。例如 <code>'The &lt;b&gt;tooltip on &lt;/b&gt;&lt;p style=color:red&gt;left&lt;/p&gt;'</code> 或 <code>'91APP將於合約指定撥款期間，將訂單交易款項主動撥款至您在此設定的銀行。'</code></li>
    <li><code>kendo-tooltip</code> 可以放在任何 html tag，這裡範例以 <code>&lt;i&gt;</code> 為主。</li>
</ul>
<hr>
<h4>I-1 問號：圖文型</h4>
<div class="example">
    <span>帶圖的 Tooltip</span>
    <i class="fa fa-question-circle"
       kendo-tooltip
       k-position="'top'"
       k-content="'<img src=\'/sample_uxdoc_mapping/content/images/tip_list.png\' width=\'250\' height=\'184\'>'"
       data-role="tooltip">
    </i>
</div>
<pre class="language-markup" prism><code><xmp>
    <span>帶圖的 Tooltip</span>
    <i class="fa fa-question-circle"
       kendo-tooltip
       k-position="'top'"
       k-content="'<img src=\'/sample_uxdoc_mapping/content/images/tip_list.png\' width=\'250\' height=\'184\'>'"
       data-role="tooltip">
    </i>
</xmp></code></pre>
<hr>
<h4>I-2 問號：純文字型</h4>
<div class="example">
    <span>商店訂單備註</span>
    <i class="fa fa-question-circle"
       kendo-tooltip
       k-position="'top'"
       k-content="'可以再次備註商店相關<br>資訊，作為訂單處理<br>時的小提醒。'"></i>
</div>
<pre class="language-markup" prism><code><xmp>
<span>商店訂單備註</span>
<i class="fa fa-question-circle"
   kendo-tooltip
   k-position="'top'"
   k-content="'可以再次備註商店相關<br>資訊，作為訂單處理<br>時的小提醒。'"></i
</xmp></code></pre>
<hr>
<h4>I-3 功能按鍵：圖文型</h4>
<div class="example">
    <input type="button"
           class="k-button k-primary btn-main-func"
           kendo-tooltip
           k-position="'top'"
           k-content="'<img src=\'/sample_uxdoc_mapping/content/images/tip_list.png\' width=\'250\' height=\'184\'>'"
           data-role="tooltip"
           value="功能按鈕">
</div>
<pre class="language-markup" prism><code><xmp>
<input type="button"
       class="k-button k-primary btn-main-func"
       kendo-tooltip
       k-position="'top'"
       k-content="'<img src=\'/sample_uxdoc_mapping/content/images/tip_list.png\' width=\'250\' height=\'184\'>'"
       data-role="tooltip"
       value="功能按鈕">
</xmp></code></pre>
<hr>
<h4>I-4 功能按鍵：純文字型</h4>
<div class="example">
    <input type="button"
           class="k-button k-primary btn-main-func"
           kendo-tooltip
           k-position="'top'"
           k-content="'功能說明'"
           data-role="tooltip"
           value="功能按鈕">
    <input type="button"
           class="k-button k-primary btn-main-func disabled"
           kendo-tooltip
           k-position="'top'"
           k-content="'廣告數量最多10則。'"
           data-role="tooltip"
           value="新增廣告">
</div>
<pre class="language-markup" prism><code><xmp>
<input type="button"
       class="k-button k-primary btn-main-func"
       kendo-tooltip
       k-position="'top'"
       k-content="'功能說明'"
       data-role="tooltip"
       value="功能按鈕">
<!-- 按鈕為disable 時 要有tooltip說明 -->
<input type="button"
       class="k-button k-primary btn-main-func disabled"
       kendo-tooltip
       k-position="'top'"
       k-content="'廣告數量最多10則。'"
       data-role="tooltip"
       value="新增廣告">
</xmp></code></pre>

