@charset "UTF-8";
html, body, input {
    font-family: "Lucida Grande", "Microsoft JhengHei", "Helvetica", sans-serif;
}
hr{
  border-color: #595959;
}
/**/
.warning-text {
    color: #F75252;
}
/**/

.desc {
  border: 1px dashed #ccc;
  padding: 10px;
  background-color: #dfebf3;
  margin-bottom: 10px;
}
.param-desc {
  border: 1px dashed #ccc;
  /*list-style-position: inside;*/
  padding: 30px 10px 10px 30px;
  position: relative;
  margin-top: 20px;
}
.param-desc:before {
  content: "參數";
  color: #595959;
  background-color: #ccc;
  padding: 0 1em;
  position: absolute;
  top: 0;
  left: 0;
}
.text.desc {
  border: 0;
  padding: 0;
  background-color: transparent;
}
.action-example, .example {
  border: 1px solid #6eacd6;
  padding: 30px 10px 20px;
  position: relative;
}
.action-example:before, .example:before {
  content: "範例";
  color: #FFF;
  background-color: #6eacd6;
  padding: 0 1em;
  position: absolute;
  top: 0;
  left: 0;
}

.action-example {
  margin: 20px 0 10px;
  text-align: center;
}
.action-example .explain-block {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: left;
}

.example {
  margin: 10px 0;
}
.action-example button,
.example button,
.action-example input,
.example input{
  margin-bottom: 10px;
}
.table.class-table tr:nth-child(odd) > td, .table.class-table tr:nth-child(even) > td {
  background-color: #fff;
}
.table.class-table td {
  border-bottom: 1px solid #d0d0d0;
}

code[class*="language-"],
pre[class*="language-"] {
  color: #f8f8f2;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
  border-radius: 0.3em;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #272822;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray;
}

.token.punctuation {
  color: #f8f8f2;
}

.namespace {
  opacity: .7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol {
  color: #f92672;
}

.token.boolean,
.token.number {
  color: #ae81ff;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin {
  color: #a6e22e;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: #f8f8f2;
}

.token.atrule,
.token.attr-value {
  color: #e6db74;
}

.token.keyword {
  color: #66d9ef;
}

.token.regex,
.token.important {
  color: #fd971f;
}

.token.important {
  font-weight: bold;
}

.token.entity {
  cursor: help;
}

pre.line-numbers {
  position: relative;
  padding-left: 3.8em;
  counter-reset: linenumber;
}

pre.line-numbers > code {
  position: relative;
}

.line-numbers .line-numbers-rows {
  position: absolute;
  pointer-events: none;
  top: 0;
  font-size: 100%;
  left: -3.8em;
  width: 3em; /* works for line-numbers below 1000 lines */
  letter-spacing: -1px;
  border-right: 1px solid #999;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}

.line-numbers-rows > span {
  pointer-events: none;
  display: block;
  counter-increment: linenumber;
}

.line-numbers-rows > span:before {
  content: counter(linenumber);
  color: #999;
  display: block;
  padding-right: 0.8em;
  text-align: right;
}

.breadcrumb-container .show {
   display: inline-block!important;
 }
/* Collapse with triangle */
.toggle-trigger .trigger-indicator{
}
.toggle-trigger .trigger-indicator:after{
  color: #346c9d;
  content:"點選收合";
  font-size: 12px;
  font-weight: normal;
  cursor: pointer;
}
.toggle-trigger.collapsed .trigger-indicator:after{
  content:"點選展開";
}

