<!-- BreadCrumb -->
<div class="breadcrumb-container">
    <ol class="breadcrumbs">
        <li><a ui-sref="index">文件總覽</a></li>
        <li>Utility</li>
        <li>
            <span class="hide" ui-sref="style.css" ui-sref-active="show">Utility CSS Class</span>
            <span class="hide" ui-sref="style.button" ui-sref-active="show">按鈕</span>
            <span class="hide" ui-sref="style.panel" ui-sref-active="show">Panel</span>
        </li>
    </ol>
</div>
<!-- BreadCrumb -->
<div class="row content-row">
    <!-- PageHeader -->
    <div class="page-title hide" ui-sref="style.css" ui-sref-active="show">Utility CSS Class</div>
    <div class="page-title hide" ui-sref="style.button" ui-sref-active="show">按鈕</div>
    <div class="page-title hide" ui-sref="style.panel" ui-sref-active="show">Panel</div>
    <!-- PageHeader -->
    <!-- PageContent -->
    <div class="page-content">
        <ui-view></ui-view>
    </div>
    <!-- PageContent -->
</div>