<p>一般頁面以一個Module為單位打包相關的 JS檔，使用 .NET的方式打包，設定位於 <code>~/Website/App_Start/Bundle.cs</code></p>
<p>一般 JS bundle</p>
<pre class="language-clike" prism><code>
// js for sampleModule
bundles.Add(new ScriptBundle("~/bundles/sampleModule").Include(
    //// services
    "~/TypeScripts/Services/sampleModule.service.js",

    //// controllers
    "~/TypeScripts/Modules/FacebookMarketing/sampleModule1.controller.js",
    "~/TypeScripts/Modules/FacebookMarketing/sampleModule2.controller.js"));
</code></pre>
<p>頁面下方 (通常是 <code>~/View/Module/xxx.cshtml</code>)</p>
<pre class="language-markup" prism><code><xmp>
@section scripts {
    @Scripts.Render("~/bundles/sampleModule")
}
</xmp></code></pre>
<hr>
<h4>從後端傳 Search Criteria 時</h4>
<p>如果是查詢頁，上方條件查詢區的 Search Criteria 可以是從後端傳入。</p>
<p>從後端傳入時，頁面上以下列方式注入 <code>Search Criteria</code>。</p>
<pre class="language-markup" prism><code><xmp>
@section scripts {
    <script>
        angular.module('NineYi.Sms')
            .provider('SearchCriteria', NineYi.Sms.Providers.DataProvider)
            .config(['SearchCriteriaProvider', function (SearchCriteriaProvider) {
                var data = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(@ViewBag.SearchCriteria));
                SearchCriteriaProvider.SetData(data);
            }]);
    </script>
    @Scripts.Render("~/bundles/sampleModule")
}
</xmp></code></pre>
<p>在 controller 則是先在controller 注入，搜尋時，以 SearchCriteria 為 searchItem</p>
<pre class="language-typescript" prism><code>
    constructor(
            ...
            private SearchCriteria: NineYi.Sms.BL.BE.Blacklists.BlacklistSearchEntity
            ...){
    }

    //// 取得查詢結果
    public GetBlacklistList(): void {
        var searchItem = {
            SearchItem: this.SearchCriteria,
            Take: this.PageSize,
            Skip: this.PageIndex
        }
        .....
        //呼叫API..etc

</code></pre>
<p>頁面上 <code>ng-model</code> 直接綁定 <code>SearchCriteria</code>，例子如下。</p>
<pre class="language-markup" prism><code><xmp>
    <input ng-model="BlackListCtrl.SearchCriteria.SearchType"
           type="radio" name="engine" id="engine1"
           value="@NineYi.Sms.BL.BE.Blacklists.BlacklistSearchTypeEnum.MobilePhone"
           class="k-radio" checked="checked">
    <label class="k-radio-label" for="engine1">@NineYi.Sms.Resources.Blacklist.List.Blacklist_List_MobilePhone</label>

    <input type="text" class="form-control"
           name="SearchType"
           ng-model="BlackListCtrl.SearchCriteria.Keyword">
</xmp></code></pre>