<h4>基本結構</h4>
<pre class="language-typescript" prism><code>
// 這是以 SMS 站台為例，不同站台有不同的 namespace
module NineYi.Sms.Controllers {
    export class SampleController {
        static $inject = [];
        // variable
        public SampleParameter: string;
        public ListData: BL.BE.Blacklists.BlacklistEntity[];
        ...
        constructor(
            private $q: ng.IQService){
            // 起始設定或動作
            ....
        }
        // function
        public SampleFunction(): void {
            ...
        }
        ...
    }
    //加到 controller module
    angular.module('NineYi.Sms.Controllers')
        .controller('SampleController', SampleController);
}
</code></pre>
<p>利用 <code>ng-controller</code> 綁定至 template。使用 <code>controller as</code>寫法。</p>
<pre class="language-markup" prism><code><xmp>
<div ng-controller="AccountSignupController as AccountSignupCtrl">
</xmp></code></pre>
<hr>
<h4>Dependency Injection</h4>
<p>使用元件要先引用元件，將其注入到controller，以下為使用service, RegexPattern, 和 Utility的例子。</p>
<p>service 通常跟著專案走他共用元件會是 <code>munch</code>開頭。</p>
<p>注意 <a ui-sref="quickstart.bundle">bundle</a> 裡面有相關的 <code>js</code>檔案，尤其呼叫 API 的 service js通常會分 module。</p>
<pre class="language-typescript" prism><code>
public static $inject = [
    'ShopService',
    'RegexPattern',
    "ModalUtilityModalUtility"];

constructor(
    private ShopService: NineYi.Sms.Services.ShopService,
    private RegexPattern: munch.Configs.RegexPattern,
    private ModalUtility: munch.Utilities.ModalUtility
) {
...</code></pre>