<h4>Icon</h4>
<p>Icon有兩種來源，一種是 UI設計專屬 91APP 的 icon (根據專案有所不同)，另一種是Font Awasome。</p>
<p>SMS icon 目前有的 icon 參考 <a href="/icon91/demo.html" target="_blank">demo page</a>，增加 icon 流程可參考 F2E 文件 <a href="http://wiki.91app.com/pages/viewpage.action?pageId=53388436" target="_blank">icon moom 加icon (以SMS為例)</a>。</p>
<p>使用時 class 加上 <code>icon</code> 以及想要用的 icon class name。</p>
<p class="text-red">由於專案會將css加入bundle壓縮，導致本來以相對位置所寫的 font 位置找不到，在各個專案要注意 <code>icon91.css</code> 裡引用的font的位置要是絕對位置。<br>
    根據專案絕對路徑不同可能會是：<code>/Scripts/munch/assets/icon91/fonts/icon91.eot</code> 或 <code>/V2/Scripts/munch/assets/icon91/fonts/icon91.eot</code></p>
<pre class="language-css" prism><code>
/* font 修改位置範例 */
/* 91app icon font */
@font-face {
    font-family: 'icon91';
    src:  url('/V2/Scripts/munch/assets/icon91/fonts/icon91.eot?233pz0');
    src:  url('/V2/Scripts/munch/assets/icon91/fonts/icon91.eot?233pz0#iefix') format('embedded-opentype'),
    url('/V2/Scripts/munch/assets/icon91/fonts/icon91.ttf?233pz0') format('truetype'),
    url('/V2/Scripts/munch/assets/icon91/fonts/icon91.woff?233pz0') format('woff'),
    url('/V2/Scripts/munch/assets/icon91/fonts/icon91.svg?233pz0#icon91') format('svg');
    font-weight: normal;
    font-style: normal;
}
</code></pre>
<div class="example">
    <p>icon-money: <i class="icon icon-money"></i></p>
    <p>91app-icon: <i class="icon icon-logo-91app"></i></p>
</div>
<pre class="language-markup" prism><code><xmp>
<i class="icon icon-money"></i>
<i class="icon icon-logo-91app"></i>
</xmp></code></pre>
<p><a href="http://fontawesome.io/" target="_blank">Font Awesome</a> 是第三方 icon font，使用時可以從 <a href="http://fontawesome.io/icons/" target="">The Icons</a> 頁面找需要的，注意目前系統版本，有些 icon 要最新的版本才有。Font Awesome 基礎 class 是 <code>fa</code>，和上述 91app icon不同。</p>
<div class="example">
    <p>我要發問: <i class="fa fa-question-circle"></i></p>
</div>
<pre class="language-markup" prism><code><xmp>
<i class="fa fa-question-circle"></i>
</xmp></code></pre>
<hr>
<h4>圖片</h4>
<p>圖片放在 <code>~/Content/images/</code>之下。根據所在頁面分資料夾分別放置。例如廣告設定的圖在 <code>~/Content/images/ad/</code> 裡。</p>
<p>當圖片是在 tooltip 裡時，需放在 <code>k-content</code> tag 裡，參考 <a href="/Sample/Component#/tooltip" target="_blank">tooltip 元件</a> 設定，tooltip 圖通常以 <code>tip_</code> 開頭。</p>
<p>沒特別指名的圖片使用 <code>img</code> tag即可。</p>
<p>特殊狀況 - 頁面無資料，可能是還未設定，或者是還未開通等狀況，UI有設計特別畫面。在上述頁面結構的 <code>div.page-content</code> 加上 class <code>no-content</code>，<code>h2</code>和 <code>div</code>分別是標題和內容，建立出此狀態的基本樣式。</p>
<P>這裡放圖是拆開以獨立 class 如<code>no-shipping</code>進行，此部分也可改用 inline css，<code>style="background-image: url(/Content/images/shipping/empty_deliver.png);"</code>，如此可以上圖而不需要更動 SCSS/CSS。</P>
<pre class="language-markup" prism><code><xmp>
<!-- 以配送方式判斷，未建立時要導到step one 建立 -->
<div class="page-content no-content no-shipping" ng-if="!ShopPaymentCtrl.HasShippingData">
    <h2>尚未建立付款方式</h2>
    <div>
        <a href="/Step/One" class="k-button k-primary btn-main">立刻新增</a>
    </div>
</div>
</xmp></code></pre>
<pre class="language-markup" prism><code><xmp>
<!-- 沒有折價券-->
<div class="page-content no-content no-promotion">
    <h2>您的商店還沒有折扣活動，快來新增吧!</h2>
    <div>
        <ns-open-new-window ns-window-url="/Promotion/PromotionForm?mode=create" ns-window-title="新增折購活動">
            <button class="k-button k-primary btn-main">新增折扣活動</button>
        </ns-open-new-window>
    </div>
</div>
</xmp></code></pre>
<p class="desc"><code>no-shipping</code>和 <code>no-promotion</code>以背景圖方式加上圖片。</p>
<pre class="language-css" prism><code><xmp>
.page-content.no-shipping{
  background-image: url(/Content/images/shipping/empty_deliver.png);
}</xmp></code></pre>
<pre class="language-css" prism><code><xmp>
.page-content.no-promotion{
  background-image: url(/Content/images/promotion/empty_promotion.png);
}</xmp></code></pre>