<!-- BreadCrumb -->
<div class="breadcrumb-container">
    <ol class="breadcrumbs">
        <li><a ui-sref="index">快速指南</a></li>
        <li>
            <span class="hide" ui-sref="quickstart.bundle" ui-sref-active="show">Bundle</span>
            <span class="hide" ui-sref="quickstart.controller" ui-sref-active="show">Controller</span>
            <span class="hide" ui-sref="quickstart.layout" ui-sref-active="show">頁面排版 & Bootstrap</span>
            <span class="hide" ui-sref="quickstart.icon" ui-sref-active="show">Icon 與圖片</span>
            <span class="hide" ui-sref="quickstart.service" ui-sref-active="show">Service</span>
            <span class="hide" ui-sref="quickstart.translate" ui-sref-active="show">多語系</span>
        </li>
    </ol>
</div>
<!-- BreadCrumb -->
<div class="row content-row">
    <!-- PageHeader -->
    <div class="page-title hide" ui-sref="quickstart.bundle" ui-sref-active="show">Bundle</div>
    <div class="page-title hide" ui-sref="quickstart.controller" ui-sref-active="show">Controller</div>
    <div class="page-title hide" ui-sref="quickstart.layout" ui-sref-active="show">頁面排版 & Bootstrap</div>
    <div class="page-title hide" ui-sref="quickstart.service" ui-sref-active="show">Service</div>
    <div class="page-title hide" ui-sref="quickstart.icon" ui-sref-active="show">Icon 與圖片</div>
    <div class="page-title hide" ui-sref="quickstart.translate" ui-sref-active="show">多語系</div>

    <!-- PageHeader -->
    <!-- PageContent -->
    <div class="page-content">
        <ui-view></ui-view>
    </div>
    <!-- PageContent -->
</div>