<h4>頁面結構</h4>
<p>一般頁面是 MVC 的 View <code>*.cshtml</code>。只有較複雜頁面(如總覽)，或者 <code>Tab</code>架構裡有多個子頁面(如管理者和商店設定)或 <code>ModalUtility</code>使用的template才需要使用 <code>html</code>。</p>
<p>html檔可能會被瀏覽器 cache，有修改要加上版號，ex:<code>*.html?v=20160123</code></p>
<p>一個空白 <code>*.cshtml</code> 頁面以下面的架構開始，內容再填在 <code>div.page-content</code>裡。<code>controller</code>以 <code>ng-controller</code>綁定到頁面上，使用 <code>controller as</code>語法。</p>
<pre class="language-markup" prism><code><xmp>
@{
    ViewBag.Title = "頁面標題文字";
    Layout = "~/Views/Shared/_LayoutMenu.cshtml";
}
    <!-- MainContent -->
    <!-- "row" 是 bootstrap 的 class, 對應 UI 版面需求加上 "content-row" class定義好左右對視窗邊界的間隙寬度 -->
<div class="row content-row">
    <!-- PageHeader -->
    <div class="page-title">頁面標題文字</div>
    <!-- PageHeader -->
    <!-- PageContent -->
    <div class="page-content" ng-controller="PageController as PageCtrl">
        ....頁面內容 (文字,圖片,表單,各種元件...)...
    </div>
    <!-- PageContent -->
</div>
</xmp></code></pre>
<hr>
<h4>Bootstrap</h4>
<p>SMS的頁面寬度採用 100% 方式排版，由於引入 Bootstrap 3，在 <code>_LayoutMenu.cshtml</code>已定義最外圍 <code>div.container-fluid</code>，為100% 寬度隔線系統。因此在頁面內容排版時，利用 <a href="https://kkbruce.tw/bs3/CSS#grid" target="_blank">格線系統</a> 的 <code>.col-xx-xx</code>相關定義即可製作版面。</p>
<p>有些常出現的畫面元素已經做好排版，例如 表單 form、查詢頁、設定頁、表格等，參考左邊 menu 相關頁面結構。</p>