<p>此處是呼叫API的部分。</p>
<p>根據 Angular 1.4.9文件 <a href="https://code.angularjs.org/1.4.9/docs/api/ng/service/$http" target="_blank">Deprecation Notice</a>，<code>success</code>和<code>error</code>方法已被標記即將移除，在最新版1.6已經被正式移除，為了日後升級，API呼叫後改用 <code>then</code>方法。</p>
<hr>
<h4>Get</h4>
<p>回傳 ApiResultEntity</p>
<pre class="language-typescript" prism><code><xmp>
 GetBankDropdown():ng.IPromise<ApiResultEntity<NineYi.Sms.BL.BE.Apis.KeyValuePairEntity[]>> {
    let defer = this.$q.defer();
    let url = '/Bank/GetBankDropdown';

    this.$http.get(url,
        {
            withCredentials: true
        })
        .then((response:ng.IHttpPromiseCallbackArg<ApiResultEntity<NineYi.Sms.BL.BE.Apis.KeyValuePairEntity[]>>) => {
            defer.resolve(response.data);
        })
        .catch((rejection:any) => {
            defer.reject(rejection.data);
        });

    return defer.promise;

</xmp></code></pre>
<p>回傳 ApiResultEntity 裡的 Data</p>
<pre class="language-typescript" prism><code><xmp>
GetShopSetting(shopId: number): ng.IPromise<BL.BE.Facebooks.FacebookMarketingEntity> {
            let defer = this.$q.defer();

            let url = '/Api/FacebookMarketing/Get/' + shopId;

            this.$http.get(url)
                .then((result:ng.IHttpPromiseCallbackArg<ApiResultEntity<BL.BE.Facebooks.FacebookMarketingEntity>>) => {
                    defer.resolve(result.data.Data);
                })
                .catch((rejection:any) => {
                    defer.reject(rejection);
                });

            return defer.promise;
        }
</xmp></code></pre>
<hr>
<h4>Post</h4>
<p>回傳 ApiResultEntity</p>
<pre class="language-typescript" prism><code>
SignUp(SignupData: BL.BE.Users.SignupRequestEntity):ng.IPromise<ApiResultEntity<void>> {
    let defer = this.$q.defer();
    let url = '/Api/User/Signup';

    this.$http.post(url, SignupData,
    {
    withCredentials: true
    })
    .then((response:ng.IHttpPromiseCallbackArg<ApiResultEntity<void>>) => {
        defer.resolve(response.data);
        })
        .catch((rejection:any) => {
        defer.reject(rejection.data);
        });
    return defer.promise;
}
</code></pre>
<p>回傳 ApiResultEntity 裡的 Data</p>
<pre class="language-typescript" prism><code><xmp>
 Query(data):ng.IPromise<BL.BE.Apis.ListResultEntity<BL.BE.Apis.TmGroupEntity<BL.BE.ChangeGoodsOrders.ChangeGoodsOrderEntity>>> {
            let defer = this.$q.defer();
            let url = '/api/ChangeGoodsOrder/Query';
            this.$http.post
                (url, data)
                .then((result:ng.IHttpPromiseCallbackArg<ApiResultEntity<BL.BE.Apis.ListResultEntity<BL.BE.Apis.TmGroupEntity<BL.BE.ChangeGoodsOrders.ChangeGoodsOrderEntity>>>>) => {
                    defer.resolve(result.data.Data);
                })
                .catch((result:any) => {
                    defer.reject(result.data.ErrorMessage);
                });
            return defer.promise;
        }
</xmp></code></pre>
<hr>
<h4>Export Files</h4>
<pre class="language-typescript" prism><code>
    ExportSalePageGaTop100Ranking(params: BL.BE.Reports.SalePageGaRankingSearchEntity): ng.IPromise<any> {
			let defer = this.$q.defer();
			let url = '/Report/ExportSalePageGaRankingList';

			this.$http({
				url: url,
				method: "POST",
				data: params,
				headers: {
					'Content-type': "application/json"
				}
				, responseType: "arraybuffer"
			}).then((response:ng.IHttpPromiseCallbackArg<any>) => {
				defer.resolve(response.data);
			})
                .catch((response:any) => {
					defer.reject(response.data);
				});

			return defer.promise;
		}
</code></pre>
<hr>
<h4>資料結構</h4>
<p>angular $http service取得的資料符合 <code>IHttpInterceptor</code> interface (擷取自 typings檔)</p>
<pre class="language-typescript" prism><code><xmp>
    // 其中 $http service 打 API 成功取回的資料為 response
    interface IHttpInterceptor {
        request?: (config: IRequestConfig) => IRequestConfig|IPromise<IRequestConfig>;
        requestError?: (rejection: any) => any;
        response?: <T>(response: IHttpPromiseCallbackArg<T>) => IPromise<IHttpPromiseCallbackArg<T>>|IHttpPromiseCallbackArg<T>;
        responseError?: (rejection: any) => any;
    }
    // response包括 status code, headers等資訊，成功時的資料包在 data裡
        interface IHttpPromiseCallbackArg<T> {
        data?: T;
        status?: number;
        headers?: IHttpHeadersGetter;
        config?: IRequestConfig;
        statusText?: string;
    }
</xmp></code></pre>
<p>其中 <code>result.data</code> 為 API呼叫後得到的資料 <ApiResultEntity>。</p>
<pre class="language-typescript" prism><code><xmp>
    module NineYi.Sms.Models {
    export interface ApiResultEntity<T> {
        Status: string;
        Data: T;
        ErrorMessage: string;
        TimeStamp: Date
    }
}
</xmp></code></pre>


