<h3>天地檔案位置 (SMS專案)</h3>
<div>
    <p><code>~/View/Shared/</code> 裡天地檔案結構：</p>
    <pre class="language-markup" prism><code>
└─┬─── _Layout.cshtml
  ├──────── _LayoutMenu.cshtml
  ├──────── _layoutAccount.cshtml
  ├──────── _LayoutNewWindow.cshtml
  ├──────── _layoutStep.cshtml
  ├──────── _layoutContract.cshtml
  ├──────── _layoutSample.cshtml
  └──────── ... 其他partial template
        </code></pre></div>
    <ol  style="list-style-type: lower-latin">
        <li>SMS html基礎: <code>_Layout.cshtml</code>
            <p><code>_Layout.cshtml</code>裡有 瀏覽器需 IE10 限制，Facebook Pixel和 Google Analytics 和Google ADWords 設定，並 include 元件所需的 CSS, JS bundle。<code>&lt;html ng-app="NineYi.Sms"&gt;</code> auto-bootstrap AngularJS Application。</p>
            <p></p>
        </li>
        <li>SMS 主要天地 -> <code>_LayoutMenu.cshtml</code>
            <div>
                <p>* 包含
                <ul>
                    <li>上方 header(Logo, 帳號相關訊息拆到 <code>_TopPartial.cshtml</code>)</li>
                    <li>左側選單(由後端產出，在<code>_MenuPartial.cshtml</code>)</li>
                    <li>麵包屑(由後端產出，在<code>_Breadcrumb.cshtml</code>)，如需手動加入，參考 <a href="/Sample/UIElement#/breadcrumb">麵包屑</a>。</li>
                    <li>下方footer (包含copyright, 左邊桌機版的 "我要發問" 與 "教學影片" 按鈕，右下方近１小時最新動態近１小時最新動態和付款訊息，在<code>_FooterPartial.cshtml</code>)</li>
                </ul>
                </p>
                <p>* 左側選單active設定, 展開是在 <code>&lt;li&gt;</code> 加上class <code>active</code>。選項是在 <code>&lt;a&gt; </code>加上class <code>active</code>。</p>
                <p>* 在 <code>_LayoutMenu.cshtml</code> 裡已經定義將內容包在 <code>div.container-fluid</code> 裡，因此使用bootstrap 的 class 做版面時，會是以等比的方式計算寬度。
                </p>
<pre class="language-markup" prism><code><xmp>
<div class="content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <!-- 麵包屑 -->
            @Html.Action("Breadcrumb", "Home")
            @RenderBody()
        </div>
    </div>
</div>
</xmp></code></pre>
</div>
        </li>
        <li>帳號相關頁面天地 -> <code>_layoutAccount.cshtml</code>
            <div>
                <p>包含註冊、登入、忘記密碼、重設密碼頁會使用，如果做 A/B testing時不會使用此layout。因為這些頁面設定不同，不會是用 bootstrap 方式排版。</p>
            </div>
        </li>
        <li>另開新視窗的天地 -> <code>_LayoutNewWindow.cshtml</code></li>
        <li>開店兩步驟的天地 -> <code>_layoutStep.cshtml</code></li>
        <li>合約頁的天地 -> <code>_layoutContract.cshtml</code></li>
        <li>元件頁的天地 -> <code>_layoutSample.cshtml</code></li>
    </ol>

