<!-- BreadCrumb -->
<div class="breadcrumb-container">
    <ol class="breadcrumbs">
        <li><a ui-sref="index">文件總覽</a></li>
        <li>
            <span class="hide" ui-sref="layout.basic" ui-sref-active="show">基本頁面</span>
            <span class="hide" ui-sref="layout.window" ui-sref-active="show">大視窗</span>
            <span class="hide" ui-sref="layout.popup" ui-sref-active="show">Popup</span>
            <span class="hide" ui-sref="layout.loading" ui-sref-active="show">Loading View</span>
        </li>
    </ol>
</div>
<!-- BreadCrumb -->
<div class="row content-row">
    <!-- PageHeader -->
    <div class="page-title hide" ui-sref="layout.basic" ui-sref-active="show">基本頁面</div>
    <div class="page-title hide" ui-sref="layout.window" ui-sref-active="show">大視窗</div>
    <div class="page-title hide" ui-sref="layout.popup" ui-sref-active="show">Popup</div>
    <div class="page-title hide" ui-sref="layout.loading" ui-sref-active="show">Loading View</div>
    <!-- PageHeader -->
    <!-- PageContent -->
    <div class="page-content">
        <ui-view></ui-view>
    </div>
    <!-- PageContent -->
</div>