<p>Loading使用 <code>LoadingUtility</code>，目前只要呼叫API 都會有蓋版的 91APP 動畫表示處理中。另外還可以手動設定動畫的開始與結束。</p>
<hr>
<h3>LoadingUtility</h3>
<p class="desc">
    檔案位置: <code>~/Components/ns-loading/</code><br>
    引用: <code>munch.LoadingEntity.ILoadingUtilityEntity</code></p>
<div class="action-example">
    <button class="k-button k-primary btn-main" type="button"
            ng-click="LayoutLoadingCtrl.ShowLoading()">Show Loading
    </button>
</div>
<p>手動設定 loading view 的開始與結束</p>
<pre class="language-javascript" prism>
<code>//開始：
this.LoadingUtility.Start();
//結束：
this.LoadingUtility.Stop();
</code>
</pre>