<p>UX文件的 A3-1 和 A3-2 是由 <a ui-sref="element.dialog">DialogUtility</a>製作。</p>
<p>UX文件的 A3-3 和 A3-4 的底部按鈕和內容客製化，由 <a ui-sref="element.modal">ModalUtility</a>製作。</p>
<p>UX文件的 A-5 刪除 如果刪除訊息是句子則使用 <a ui-sref="element.dialog">DialogUtility</a>。若需顯示刪除品項的訊息，使用 <a ui-sref="element.modal">ModalUtility</a>的刪除。</p>