<p>UX文件的 A2-1 大視窗：設定型 (另開新視窗) 是由 <code>WindowUtility</code>製作。A-2 大視窗：內容型 (本頁跳大型popup)使用 <code>ModalUtility</code>，說明在<a ui-sref="setting.popup">設定頁 - Popup</a>頁。</p>
<hr>
<h3>大視窗：設定型 (另開新視窗)</h3>
<h3>WindowUtility</h3>
<p class="desc">
    檔案位置: <code>~/components/ns-window/</code><br>
    引用: <code>munch.WindowUtilityEntity.IWindowUtility</code></p>
<p>當按鈕需要另開視窗時，在 <code>TypeScript</code> 檔裡呼叫 <code>WindowUtility</code>的 <code>Open</code>方法。</p>
<div class="action-example">
    <input class="k-button k-primary btn-main" type="button"
           ng-click="LayoutWindowCtrl.OpenWindow()" value="另開視窗">
</div>
<div class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-2">TypeScript</label>
        <div class="col-sm-10">
<pre class="language-javascript" prism><code>
public OpenWindow():void {
    this.WindowUtility.Open("/v2/location/create/64", "新增門市會員");
}</code></pre>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2">HTML例子</label>
        <div class="col-sm-10">
<pre class="language-markup" prism><code><xmp>
<input class="k-button k-primary btn-main" type="button"
       ng-click="LayoutWindowCtrl.OpenWindow()" value="另開視窗">
</xmp></code></pre>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2">呼叫時參數</label>
        <div class="col-sm-10">
            <pre class="language-javascript" prism><code>
Open(OpenUrl:string, Title:string, EnableRefleshParent:boolean = true, SettingWidth?:number, SettingHeight?:number)
            </code></pre>
            <ul class="param-desc">
                <li>OpenUrl: 新視窗網址</li>
                <li>Title: 新視窗標題</li>
                <li>EnableRefleshParent: 關閉視窗時是否重整，不寫則預設為 true</li>
                <li>SettingWidthSettingWidth: 新視窗寬度 (非必要，預設1200px)</li>
                <li>SettingHeightSettingHeight: 新視窗高度 (非必要，預設800px)</li>
            </ul>
        </div>
    </div>
</div>
<p>如果是頁面上按鈕點了要開新視窗，可以在 html 裡使用 <code>ns-open-new-window</code>。
<div class="action-example">
    <ns-open-new-window ns-window-url="/ECoupon/ECouponEdit" ns-window-title="新增折價券">
        <button class="k-button k-primary btn-main">新增折價券</button>
    </ns-open-new-window>
</div>
<div class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-2">HTML</label>
        <div class="col-sm-10">
<pre class="language-markup" prism><code><xmp>
<ns-open-new-window ns-window-url="/ECoupon/ECouponEdit" ns-window-title="新增折價券">
    <button class="k-button k-primary btn-main">新增折價券</button>
</ns-open-new-window></xmp></code></pre>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2">使用時參數</label>
        <div class="col-sm-10">
            <ul class="param-desc">
                <li>ns-window-url: 新視窗網址</li>
                <li>ns-window-title: 新視窗標題</li>
            </ul>
        </div>
    </div>
</div>
<p>送出表單後要先以Dialog送出訊息，按確認後關閉新視窗並且重整母視窗。</p>
<div class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-2">TypeScript (通常在呼叫API送出表單成功之後)</label>
        <div class="col-sm-10">
<pre class="language-javascript" prism><code>
this.DialogUtility.Notice("儲存成功")
     .then(()=>{
         if(this.$window.opener && !this.$window.opener.closed) {
            // 重整母視窗
             this.$window.opener.location.reload();
            // 關閉本視窗
            this.$window.close();
         }
    });
</code></pre>
        </div>
    </div>
</div>
<hr>
<h3>大視窗：內容型 (本頁跳大型popup)</h3>
<p>使用 <code>ModalUtility</code>，使用方式見 <a ui-sref="setting.popup">設定頁 - Popup</a>頁。</p>
