﻿<!DOCTYPE html>
<html ng-app="NineYi.Sample">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no,maximum-scale=1.0">
    <title>SMS 文件導覽</title>
    <!--其他專案需要的css-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-block-ui/0.2.2/angular-block-ui.min.css">
    <link rel="stylesheet" href="../../dist/assets/kendo-ui/kendo.common-bootstrap.min.css">
    <link rel="stylesheet" href="../../dist/assets/kendo-ui/kendo.rtl.min.css">
    <link rel="stylesheet" href="../../dist/assets/kendo-ui/kendo.bootstrap.min.css">
    <link rel="stylesheet" href="../../dist/assets/styles/munch.css">
    <!--只有sample需要的-->
    <link rel="stylesheet" href="../content/icon91/icon91.css">
    <link rel="stylesheet" href="../content/sample.css">
</head>
<body>
<div class="window-header">
    <i class="icon icon-logo-91app"></i>
    <span class="shop-name">Toast 新視窗範例</span>
</div>
<div class="navbar-breadcrumb">
    文件總覽 > Toast  > Toast 新視窗範例
</div>
<div ng-controller="ElementToastController as ElementToastCtrl">
    <div class="window-order-description">
        <h3 class="window-Title">在新視窗的 Notification 元件，顯示後關掉新視窗</h3>
        <div class="margin-bottom-10">
            <button class="k-button k-primary btn-main" ng-click="ElementToastCtrl.showCustomNotificationOnCenterCloseWindow()">按我看 Notification 會關閉新視窗範例</button>
        </div>
        <p>只有由 Javascript 開啟的新視窗，才可以由 Javascript 關閉。因此只有Javascript 開啟的新視窗，才能在元件中以 Javascript 關閉。</p>
    </div>
</div>
    <div class="copyright">
        Copyright &copy;2017 91APP ,Inc. 版權所有
    </div>


<!--其他專案需要的js-->
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.2.0/ui-bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.2.0/ui-bootstrap-tpls.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-messages/1.5.8/angular-messages.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-block-ui/0.2.2/angular-block-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.5.8/angular-sanitize.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-sortable-view/0.0.15/angular-sortable-view.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-recaptcha/3.0.4/angular-recaptcha.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-translate/2.12.1/angular-translate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ng-flow/2.7.4/ng-flow-standalone.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ng-tags-input/3.1.1/ng-tags-input.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-smart-table/2.1.8/smart-table.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
<script src="../../dist/assets/locale.munch.js"></script>
<script src="../../dist/kendo.bundle.js"></script>
<script src="../../dist/munch.bundle.js"></script>

<!--sample專用-->
<script>
    angular.module('NineYi.Sample.Controllers', ['NineYi.Sample.Services']);
    angular.module('NineYi.Sample.Configs', []);
    angular.module('NineYi.Sample.Services', []);
    angular.module('NineYi.Sample', ['NineYi.FrontEnd.Munch', 'NineYi.Sample.Controllers', 'NineYi.Sample.Configs']);
</script>
<script src="../modules/element/ElementToastController.js"></script>
</body>
</html>
