/* 91app icon font */
@font-face {
    font-family: 'icon91';
    src:  url('fonts/icon91.eot?9givxd');
    src:  url('fonts/icon91.eot?9givxd#iefix') format('embedded-opentype'),
    url('fonts/icon91.ttf?9givxd') format('truetype'),
    url('fonts/icon91.woff?9givxd') format('woff'),
    url('fonts/icon91.svg?9givxd#icon91') format('svg');
    font-weight: normal;
    font-style: normal;
}

.icon {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icon91' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-pending:before {
    content: "\e921";
}
.icon-circle-pay:before {
    content: "\e91e";
}
.icon-history:before {
    content: "\e91f";
}
.icon-circle-question:before {
    content: "\e920";
}

.icon-members:before {
    content: "\e91c";
}
.icon-batch:before {
    content: "\e91d";
}
.icon-speaker:before {
    content: "\e91a";
}
.icon-check:before {
    content: "\e91b";
}
.icon-money:before {
  content: "\e919";
}
.icon-bell:before {
    content: "\e900";
}
.icon-arrow:before {
    content: "\e901";
}
.icon-people:before {
    content: "\e902";
}
.icon-shop:before {
    content: "\e903";
}
.icon-circle-cancel:before {
    content: "\e904";
}
.icon-search:before {
    content: "\e905";
}
.icon-circle-success:before {
    content: "\e906";
}
.icon-triangle-alert:before {
    content: "\e907";
}
.icon-account:before {
    content: "\e908";
}
.icon-activity:before {
    content: "\e909";
}
.icon-ad:before {
    content: "\e90a";
}
.icon-chart:before {
    content: "\e90b";
}
.icon-customer:before {
    content: "\e90c";
}
.icon-dashboard:before {
    content: "\e90d";
}
.icon-order:before {
    content: "\e90e";
}
.icon-product:before {
    content: "\e90f";
}
.icon-service:before {
    content: "\e910";
}
.icon-shop-options:before {
    content: "\e911";
}
.icon-triangle:before {
    content: "\e912";
}
.icon-cancel:before {
    content: "\e913";
}
.icon-upload-plus:before {
    content: "\e914";
}
.icon-payment:before {
    content: "\e915";
}
.icon-logo-91app:before {
    content: "\e916";
}
.icon-circle-video-play:before {
    content: "\e917";
}
.icon-ad-edit:before {
    content: "\e918";
}