<h4>B2-1 條件查詢：實心按鍵</h4>
<h4>B2-2 條件查詢：空心按鍵</h4>
<h4>B2-3 按鍵disable</h4>
<p>按鈕設定見 <a ui-sref="utility.button">按鈕</a>頁。</p>
<hr>
<h4>B2-4 文字按鍵</h4>
<p>進階查詢 html結構見 <a ui-sref="query.overview">查詢頁總覽</a>說明。</p>