<!-- BreadCrumb -->
<div class="breadcrumb-container">
    <ol class="breadcrumbs">
        <li><a ui-sref="index">文件總覽</a></li>
        <li>
            <span class="hide" ui-sref="query.overview" ui-sref-active="show">查詢頁總覽</span>
            <span class="hide" ui-sref="query.condition" ui-sref-active="show">查詢頁按鍵 - 條件查詢區</span>
            <span class="hide" ui-sref="query.relate" ui-sref-active="show">查詢頁按鍵 - 相關功能區</span>
            <span class="hide" ui-sref="query.table" ui-sref-active="show">查詢頁按鍵 - 表格區</span>
        </li>
    </ol>
</div>
<!-- BreadCrumb -->
<div class="row content-row">
    <!-- PageHeader -->
    <div class="page-title hide" ui-sref="query.overview" ui-sref-active="show">查詢頁總覽</div>
    <div class="page-title hide" ui-sref="query.condition" ui-sref-active="show">查詢頁按鍵 - 條件查詢區</div>
    <div class="page-title hide" ui-sref="query.relate" ui-sref-active="show">查詢頁按鍵 - 相關功能區</div>
    <div class="page-title hide" ui-sref="query.table" ui-sref-active="show">查詢頁按鍵 - 表格區</div>

    <!-- PageHeader -->
    <!-- PageContent -->
    <div class="page-content">
        <ui-view></ui-view>
    </div>
    <!-- PageContent -->
</div>