<h4>B1-1 查詢頁總覽</h4>
<p>搜尋區塊例子如下，表格樣式見 <a ui-sref="element.tableLayout">表格互動與樣式</a>說明。</p>
<!-- 條件查詢 -->
<div class="condition-search-content">
    <div class="condition-search">
        <div class="col-lg-1">條件查詢</div>
        <div class="col-lg-11">
            <div class="condition-item item-clear">
                <div class="item-title">商店分類</div>
                <div class="item-content">
                    <select id="KCategory"
                            kendo-drop-down-list
                            k-option-label="{Name:'不指定',Id: null}"
                            k-data-text-field="'Name'"
                            k-data-value-field="'Id'"
                            k-data-source="QueryOverviewCtrl.L1CategoryList"
                            class="form-control"></select>
                    <span ng-if="QueryOverviewCtrl.L2CategoryList.length>0">
                              <select kendo-drop-down-list
                                      k-option-label="{Name:'再次選擇分類',Id: null}"
                                      k-data-text-field="'Name'"
                                      k-data-value-field="'Id'"
                                      k-data-source="QueryOverviewCtrl.L2CategoryList"
                                      class="form-control"
                                      required
                                      name="select_categoryL2"></select>
                         </span>
                </div>
            </div>
            <div class="condition-item item-clear">
                <div class="item-title">商品活動類型</div>
                <div class="item-content">
                    <div class="item-sub-elements">
                        <input type="radio" name="TypeDef"  id="TypeDef-Not" class="k-radio" value="Not" checked />
                        <label class="k-radio-label" for="TypeDef-Not">不指定</label>
                    </div>
                    <div class="item-sub-elements">
                        <input type="radio" name="TypeDef" id="TypeDef-LIMIT" class="k-radio" value="LIMIT" />
                        <label class="k-radio-label" for="TypeDef-LIMIT">限購活動</label>
                    </div>
                </div>
            </div>
            <div class="condition-item item-clear">
                <div class="item-title">商品頁序號</div>
                <div class="item-content">
                    <input type="number" min="0" name="input_SalePageId" class="form-control" style="width: 10em" ng-model="QueryOverviewCtrl.SalePageId">
                </div>
            </div>
            <div class="condition-item item-clear">
                    <div class="item-title label-top-spacing">可售數量</div>
                    <div class="item-content">
                        <div class="item-sub-elements item-sub-combo-elements">
                            <input type="radio" class="k-radio" id="SellableType-None" name="SellableType"
                                   value="None"
                                   ng-model="QueryOverviewCtrl.SellableType">
                            <label class="k-radio-label single-input-label"
                                   for="SellableType-None">不指定</label>
                        </div>
                        <div class="item-sub-elements item-sub-combo-elements">
                            <input type="radio" class="k-radio" id="SellableType-GreaterThan"
                                   name="SellableType" value="GreaterThan"
                                   ng-model="QueryOverviewCtrl.SellableType">
                            <label class="k-radio-label combo-input-label"
                                   for="SellableType-GreaterThan">大於</label>
                            <input type="number"
                                   class="form-control"
                                   style="width: 8em"
                                   ng-model="QueryOverviewCtrl.SellMinCount"
                                   ng-disabled="QueryOverviewCtrl.SellableType !== 'GreaterThan'"/>
                        </div>
                        <div class="item-sub-elements item-sub-combo-elements">
                            <input type="radio" class="k-radio" id="SellableType-LessThan"
                                   name="SellableType" value="LessThan"
                                   ng-model="QueryOverviewCtrl.SellableType">
                            <label class="k-radio-label combo-input-label"
                                   for="SellableType-LessThan">小於</label>
                            <input type="number"
                                   class="form-control"
                                   style="width: 8em"
                                   ng-model="QueryOverviewCtrl.SellMaxCount"
                                   ng-disabled="QueryOverviewCtrl.SellableType !=='LessThan'"/></div>
                    </div>
                </div>
            <!-- 進階查詢 -->
            <div class="condition-item item-clear">
                <a href="" ng-click="QueryOverviewCtrl.showAdvanced = !QueryOverviewCtrl.showAdvanced" class="condition-form">
                    進階查詢
                    <i class="icon icon-triangle" ng-class="{'icon-triangle-up':QueryOverviewCtrl.showAdvanced}"></i>
                </a>
            </div>
            <div class="condition-advanced" ng-class="{'open':QueryOverviewCtrl.showAdvanced}">
            <div class="condition-item item-clear">
                <span class="item-title">商品頁狀態</span>
                <div class="item-content">
                    <select kendo-drop-down-list
                            k-option-label="QueryOverviewCtrl.SelectListLabel"
                            k-data-text-field="'Value'"
                            k-data-value-field="'Key'"
                            k-data-source="QueryOverviewCtrl.SalePageStatusList"
                            class="form-control"
                            ng-model="QueryOverviewCtrl.SalePageStatus"></select>
                </div>
            </div>
            <div class="condition-item item-clear">
                <span class="item-title">時間區間</span>
                <div class="item-content">
                    <div class="item-sub-elements">
                        <select kendo-drop-down-list
                                k-option-label="QueryOverviewCtrl.SelectListLabel"
                                k-data-text-field="'Value'"
                                k-data-value-field="'Key'"
                                k-data-source="QueryOverviewCtrl.DateTimeTypeList"
                                k-on-change="QueryOverviewCtrl.ChangeDateTimeType()"
                                class="form-control"
                                ng-model="QueryOverviewCtrl.DateTimeType"></select>
                    </div>
                    <div class="item-sub-elements">
                        <ns-date-time-range-picker
                                style="display: inline-block"
                                start-name="datetime_start"
                                end-name="datetime_end"
                                is-required="{{true}}"
                                ng-if="QueryOverviewCtrl.DateTimeType"
                                from-date="QueryOverviewCtrl.StartDateTime"
                                to-date="QueryOverviewCtrl.EndDateTime">
                        </ns-date-time-range-picker>
                    </div>

                </div>
            </div>
            <div class="condition-item item-clear">
                <span class="item-title">商品名稱</span>
                <div class="item-content">
                    <input type="text" class="form-control" ng-model="QueryOverviewCtrl.SalePageTitle">
                </div>
            </div>

        </div>
            <!-- 進階查詢 -->
            <button type="submit" class="k-button k-primary btn-main" >
            <i class="fa fa-search"></i> 條件查詢
        </button>
        </div>
    </div>
<div class="table-split"></div>
<div class="condition-search-relate">
    <label class="condition-title">相關功能</label>
    <a href="/SalePage/List" target="_blank" class="k-button k-primary btn-main-func condition-action">主要功能按鈕</a>
    <button class="k-button k-primary btn-sub-func condition-action">次要功能按鈕</button>
    <a href="/SalePage/List" target="_blank" class="k-button k-primary btn-sub-func condition-action">次要功能按鈕</a>
</div>
</div>
<!-- 條件查詢 -->
<h4 class="toggle-trigger collapsed" data-toggle="collapse" href="#basicHtml">基本樣式 html<span class="trigger-indicator"></span></h4>
<p>搜尋區塊基本樣式。如果需要驗證，可以外面包一層 <code>form</code> 表單驗證方式處理，驗證通過在 Submit function 更新資料。</p>
<pre class="language-markup line-numbers collapse" id="basicHtml" prism><code><xmp>
<!-- QueryOverviewCtrl 換成當頁的 controller-->
<div class="condition-search-content">
    <!-- 左邊主查詢區塊 -->
    <div class="condition-search">
        <!-- 條件查詢標題 -->
        <div class="col-lg-1">條件查詢</div>
        <!-- 條件查詢標題 -->
        <!-- 條件查詢詳細內容區塊 -->
        <div class="col-lg-11">
            <!-- div.condition-item 是一組查詢條件，多組條件則重複 -->
            <div class="condition-item item-clear">
                <div class="item-title">條件標題</div>
                <div class="item-content">
                    查詢內容
                </div>
            </div>
            <!-- 進階查詢 按鈕 -->
            <div class="condition-item item-clear">
                <a href="" ng-click="QueryOverviewCtrl.showAdvanced = !QueryOverviewCtrl.showAdvanced" class="condition-form">
                    進階查詢
                    <i class="icon icon-triangle" ng-class="{'icon-triangle-up':QueryOverviewCtrl.showAdvanced}"></i>
                </a>
            </div>
            <!-- 進階查詢 按鈕 -->
            <!-- 進階查詢區塊 -->
            <div class="condition-advanced" ng-class="{'open':QueryOverviewCtrl.showAdvanced}">
                <!-- div.condition-item 是一組條件查詢，多組條件則重複-->
                <div class="condition-item item-clear">
                    <span class="item-title">進階條件查詢標題</span>
                    <div class="item-content">
                        進階條件查詢
                    </div>
                </div>
            </div>
            <!-- 進階查詢區塊 -->
            <!-- 查詢按鈕 -->
            <button type="submit" class="k-button k-primary btn-main" >
                <i class="fa fa-search"></i> 條件查詢
            </button>
            <!-- 查詢按鈕 -->
        </div>
        <!-- 條件查詢詳細內容區塊 -->
    </div>
    <!-- 左邊主查詢區塊 -->
    <!-- 中間空隙 -->
    <div class="table-split"></div>
    <!-- 中間空隙 -->
    <!-- 右方相關功能按鈕區 -->
    <div class="condition-search-relate">
        <label class="condition-title">相關功能</label>
        <!-- 右邊放所有相關功能按鈕 -->
        <a href="/SalePage/List" target="_blank" class="k-button k-primary btn-main-func condition-action">主要功能按鈕</a>
        <button class="k-button k-primary btn-sub-func condition-action">次要功能按鈕</button>
        <a href="/SalePage/List" target="_blank" class="k-button k-primary btn-sub-func condition-action">次要功能按鈕</a>
    </div>
    <!-- 右方相關功能按鈕區 -->
</div></xmp></code></pre>
<hr>
<h4>條件是 多個 dropdown</h4>
<p>置入多個 dropdown即可。</p>
<pre class="language-markup" prism><code><xmp>
 <select id="KCategory"
         kendo-drop-down-list
         k-option-label="{Name:'不指定',Id: null}"
         k-data-text-field="'Name'"
         k-data-value-field="'Id'"
         k-data-source="QueryOverviewCtrl.L1CategoryList"
         class="form-control"></select>
 <span ng-if="QueryOverviewCtrl.L2CategoryList.length>0">
      <select kendo-drop-down-list
              k-option-label="{Name:'再次選擇分類',Id: null}"
              k-data-text-field="'Name'"
              k-data-value-field="'Id'"
              k-data-source="QueryOverviewCtrl.L2CategoryList"
              class="form-control"
              required
              name="select_categoryL2"></select>
 </span>
</xmp></code></pre>
<hr>
<h4>條件是 多個 radio 組合</h4>
<ul class="param-desc">
    <li>每個 <code>input[typ==radio]</code>和 <code>label</code> 的組合以 <code>div.item-sub-elements</code>包起。</li>
</ul>
<pre class="language-markup" prism><code><xmp>
<div class="item-sub-elements">
    <input type="radio" name="TypeDef"  id="TypeDef-Not" class="k-radio" value="Not" checked />
    <label class="k-radio-label" for="TypeDef-Not">不指定</label>
</div>
<div class="item-sub-elements">
    <input type="radio" name="TypeDef" id="TypeDef-LIMIT" class="k-radio" value="LIMIT" />
    <label class="k-radio-label" for="TypeDef-LIMIT">限購活動</label>
</div>
</xmp></code></pre>
<hr>
<h4>radio 和 input 組合</h4>
<ul class="param-desc">
    <li>每個 <code>input[typ==radio]</code>、<code>label</code>(選擇性包括<code>input[type=text]</code>) 的組合以 <code>div.item-sub-elements.item-sub-combo-elements</code>包起。</li>
    <li><code>input[typ==radio]</code>和 <code>label</code> 的組合，<code>label</code>加上 class<code>single-input-label</code>。</li>
    <li><code>input[typ==radio]</code>、 <code>label</code> 和 <code>input[type=text]</code> 的組合，<code>label</code>加上 class<code>combo-input-label</code>。</li>
</ul>
<pre class="language-markup" prism><code><xmp>
<div class="condition-item item-clear">
    <div class="item-title label-top-spacing">可售數量</div>
    <div class="item-content">
        <div class="item-sub-elements item-sub-combo-elements">
            <input type="radio" class="k-radio" id="SellableType-None" name="SellableType"
                   value="None"
                   ng-model="QueryOverviewCtrl.SellableType">
            <label class="k-radio-label single-input-label"
                   for="SellableType-None">不指定</label>
        </div>
        <div class="item-sub-elements item-sub-combo-elements">
            <input type="radio" class="k-radio" id="SellableType-GreaterThan"
                   name="SellableType" value="GreaterThan"
                   ng-model="QueryOverviewCtrl.SellableType">
            <label class="k-radio-label combo-input-label"
                   for="SellableType-GreaterThan">大於</label>
            <input type="number"
                   class="form-control"
                   style="width: 8em"
                   ng-model="QueryOverviewCtrl.SellMinCount"
                   ng-disabled="QueryOverviewCtrl.SellableType !== 'GreaterThan'"/>
        </div>
        <div class="item-sub-elements item-sub-combo-elements">
            <input type="radio" class="k-radio" id="SellableType-LessThan"
                   name="SellableType" value="LessThan"
                   ng-model="QueryOverviewCtrl.SellableType">
            <label class="k-radio-label combo-input-label"
                   for="SellableType-LessThan">小於</label>
            <input type="number"
                   class="form-control"
                   style="width: 8em"
                   ng-model="QueryOverviewCtrl.SellMaxCount"
                   ng-disabled="QueryOverviewCtrl.SellableType !=='LessThan'"/>
        </div>
    </div>
</div>
</xmp></code></pre>
<hr>
<h4>進階查詢</h4>
<p>html</p>
<pre class="language-markup" prism><code><xmp>
<div class="condition-item item-clear">
    <a href="" ng-click="QueryOverviewCtrl.showAdvanced = !QueryOverviewCtrl.showAdvanced" class="condition-form">
        進階查詢
        <i class="icon icon-triangle" ng-class="{'icon-triangle-up':QueryOverviewCtrl.showAdvanced}"></i>
    </a>
</div>
</xmp></code></pre>
<p>Controller 裡設定一開始 showAdvanced 為 false</p>
<pre class="language-typescript" prism><code>
public showAdvanced:boolean = false;
</code></pre>
<hr>
<h4>B1-2 查詢頁：未查詢</h4>
<h4>B1-3 查詢頁：無資料</h4>
<p>這兩種狀態的設定見 <a ui-sref="element.tableComponent">表格元件</a> 說明。</p>
