<h4>B4-1 表格：外側實心按鍵</h4>
<h4>B4-2 表格：外側空心按鍵</h4>
<h4>B4-3 表格：裡面空心按鍵</h4>
<p>按鈕設定見 <a ui-sref="utility.button">按鈕</a>頁。</p>
<hr>
<h4>B4-4 表格：裡面文字連結</h4>
<h4>B4-5 表格：裡面紅色連結</h4>
<p>文字連結設定見 <a ui-sref="element.symbol">文字符號</a>頁。</p>
